<!-- CSS CUSTOM -->

<div id="modal_OrderPenunjangJenis" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Order Penunjang Jenis</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">

                        <input type="hidden" name="ID"/>

                        <div class="col">
                            <div class="form-group">
                                <label for="Section">Section</label>
                                <select placeholder="Section" required id="Section" name="SectionID" class="open-reset form-control text-left" data-datasource='@Url.Action("Select_Section")'></select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="nomor">No Urut Jenis</label>
                                <input required type="number" id="nomor" name="Nomor" class="form-control text-left" />
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<label for="nama">Nama</label>
						<input required type="text" id="nama" name="Nama" class="form-control text-left"/>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_OrderPenunjangJenis;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_OrderPenunjangJenis = new iSetup({
            id: 'modal_OrderPenunjangJenis',
            url : '@Url.Action("OrderPenunjangJenis")',
            param: e => ({
                ID: e.target['ID'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_OrderPenunjangJenis),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_OrderPenunjangJenis.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['ID'].value = '(Auto)';
				}
			}
        });

        

        customJSSetup_OrderPenunjangJenis();
    });

    const customJSSetup_OrderPenunjangJenis = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

