@{
    ViewData["Title"] = "Pasien";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_PasienRekamMedis">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Pasien Rekam Medis</h5>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_PasienRekamMedis.refresh()"></a>
            </div>
        </div>
    </div>

    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md">				<div class="form-group">					<label for="Filter">Filter</label>					<input type="text" id="Filter" data-itable-filter="Filter" placeholder="NRM atau Nama Pasien" class="form-control" value="" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" style="width: 30px;"></th>
                    <th class="sorting text-left" data-itable-sorting="0">NRM</th>
                    <th class="sorting text-left" data-itable-sorting="1">Nama Pasien</th>
                    <th class="text-center">Tgl Lahir</th>
                    <th class="text-left">Alamat</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_PasienRekamMedis;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_PasienRekamMedis = new iTable({
            id: 'table_PasienRekamMedis',
            url: '@Url.Action("Datas_PasienRekamMedis", "PasienRekamMedis")',
            urlType:{
                DELETE : '#'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        tbody += `<td class="text-center"><a href="@Url.Action("Index", "DokumenRekamMedis")?nrm=${v.nrm}" class="fas fa-briefcase-medical"></a></td>`;

                        // JS Columns

                        const icon = v.jenisKelamin == "M" ? "fa-mars text-primary" : v.jenisKelamin == "F" ? "fa-venus text-danger" : "";

						tbody += `<td class="text-left">${v.nrm}</td>`;
                        tbody += `<td class="text-left"><span class='mr-1 fa ${icon}'></span>${v.namaPasien}</td>`;
						tbody += `<td class="text-center">${dateToString(v.tglLahir, 'dd/MM/yyyy') ?? '-'}</td>`;
						tbody += `<td class="text-left">${v.alamat}</td>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_PasienRekamMedis.refresh();

        customJS_PasienRekamMedis();
    });

    const customJS_PasienRekamMedis = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<!--partial-->