@using System.Security.Claims
@{
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<div id="setup_AsesmenPerawatUGD">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <input type="text" class="d-none" value="@ViewData["NoReg"]" name="NoReg" />
        <input type="hidden" name="NRM" />
        <input type="text" class="d-none" name="DokterId" />
        <input type="checkbox" name="SimpanSementara" class="d-none" />

        <div class="text-right">
            <button type="button" onclick="isetup_AsesmenPerawatUGD.sadurTriage()" class="btn btn-sm bg-success">
                <i class="icon-paste mr-2"></i>
                Sadur Triage Dokter
            </button>
            <button type="button" onclick="isetup_AsesmenPerawatUGD.loadAsesmenDokter()" class="btn btn-light btn-sm">
                <i class="icon-sync mr-2"></i>
                Refresh
            </button>
        </div>

        <div class="row">
            <h3 class="text-dark text-left col-md">Triage</h3>
            <div class="col-md">

            </div>
            <h6 class="col-md mt-2">Primary Survey</h6>
        </div>

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_inputJenisKunjungan" class="">Jenis Kunjungan</label>
                    <select placeholder="Jenis Kunjungan" id="setup_AsesmenPerawatUGD_inputJenisKunjungan" name="Id_mJenisKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_JenisKunjungan", "AsesmenPerawatUGD")'></select>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_WaktuDatang" class="">Waktu Datang</label>
                    <input type="datetime-local" id="setup_AsesmenPerawatUGD_WaktuDatang" name="WaktuDatang" class="form-control text-left" value="@pasien.Jam.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenPerawatUGD_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

                <div class="form-group">
                    <button type="button" onclick="isetup_AsesmenPerawatUGD.simpanSementara()" class="btn bg-pink btn-lg show-only-type-post mr-2"><i class="icon-floppy-disk mr-2"></i>Simpan Sementara</button>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_Rujukan" class="">Rujukan</label>
                        <select placeholder="Rujukan" id="setup_AsesmenPerawatUGD_Rujukan" name="Id_mRujukan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Rujukan", "AsesmenPerawatUGD")'></select>
                    </div>

                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_input1" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenPerawatUGD_input1" name="Rujukan_Keterangan" class="form-control text-left" placeholder="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_CaraDatang" class="">CaraDatang</label>
                    <select placeholder="CaraDatang" id="setup_AsesmenPerawatUGD_CaraDatang" name="Id_mCaraDatang" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_CaraDatang", "AsesmenPerawatUGD")'></select>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_select1">Alasan kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenPerawatUGD_select1" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenPerawatUGD")'></select>
                </div>
            </div>

            <div class="col-md">

                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_KriteriaTriage" class="">Kriteria Triage</label>
                        <select placeholder="Kriteria Triage" id="setup_AsesmenPerawatUGD_KriteriaTriage" name="Id_mTriage" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Triage", "AsesmenPerawatUGD")'></select>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_inputTK" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenPerawatUGD_inputTK" name="Triage_Keterangan" class="form-control text-left" placeholder="Keterangan" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_KeadaanSaatDatang" class="">Keadaan Saat Datang</label>
                        <select placeholder="Keadaan Saat Datang" id="setup_AsesmenPerawatUGD_KeadaanSaatDatang" name="Id_mKeadaanSaatDatang" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_KeadaanSaatDatang", "AsesmenPerawatUGD")'></select>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenPerawatUGD_KeadaanSaatDatangKeterangan" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenPerawatUGD_KeadaanSaatDatangKeterangan" name="KeadaanSaatDatangKeterangan" class="form-control text-left" placeholder="Keterangan" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenPerawatUGD_Hamil">
                            <input id="setup_AsesmenPerawatUGD_Hamil" class="form-check-input" type="checkbox" name="Hamil">
                            Hamil
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenPerawatUGD_DOA">
                            <input id="setup_AsesmenPerawatUGD_DOA" class="form-check-input" type="checkbox" name="DOA">
                            DOA
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenPerawatUGD_Trauma">
                            <input id="setup_AsesmenPerawatUGD_Trauma" class="form-check-input" type="checkbox" name="Trauma">
                            Trauma
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_LokasiMekanismeTruma">Lokasi Mekanisme Truma</label>
                    <textarea id="setup_AsesmenPerawatUGD_LokasiMekanismeTruma" name="LokasiMekanisneTrauma" class="form-control text-left" rows="3"></textarea>
                </div>

            </div>

        </div>

        @*Subjektif*@
        <div class="row">
            <div class="col-md">

                <div class="">
                    <p class="text-dark h3 text-left">Subjektif</p>
                </div>

                <div class="">
                    <div class="row">
                        <label for="setup_AsesmenPerawatUGD_input6" class="col-md-4 mt-2">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatUGD_input6" data-template-jenis="9"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenPerawatUGD_input6" name="Anamnesis" class="form-control text-left" rows="4"></textarea>
                </div>

                <div class="row mt-1">
                    <div class="col-md-5">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatUGD_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                Autoanamnesis
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatUGD_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                Alloanamnesis
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md">
                        <select placeholder="Hubungan dengan pasien" id="setup_AsesmenPerawatUGD_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenPerawatUGD")'></select>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatUGD_Card_Riwayat" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatUGD_Card_Riwayat" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea id="setup_AsesmenPerawatUGD_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea id="setup_AsesmenPerawatUGD_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea id="setup_AsesmenPerawatUGD_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md">

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatUGD_Card_RiwayatPsikososialSpiritual" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat Psikososial-Spiritual</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatUGD_Card_RiwayatPsikososialSpiritual" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_input28">Hubungan dengan anggotaKeluarga</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="B">
                                            Baik
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="K">
                                            Kurang Baik
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_input29">Kecendrungan Bunuh Diri</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_input30">Membutuhkan Privasi Tambahan</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="false">
                                            Tidak
                                        </label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_input31">Masalah Ekonomi</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatUGD_select8">Status Psikologi</label>
                                <select placeholder="Status Psikologi" id="setup_AsesmenPerawatUGD_select8" name="Id_mStatusPsikologi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_StatusPsikologi", "AsesmenPerawatUGD")'></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatUGD_Card_Skrining" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Skrining</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatUGD_Card_Skrining" class="collapse show card-body">

                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select5">Fungsional</label>
                                    <div class="col">
                                        <select placeholder="Skrining Fungsional" id="setup_AsesmenPerawatUGD_select5" name="SkriningFungsional" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatUGD", new { kelompok = 1 })'></select>
                                    </div>
                                </div>
                                <textarea id="setup_AsesmenPerawatUGD_input18" name="SkriningFungsionalCatatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select9">Resiko Jatuh</label>
                                    <div class="col">
                                        <select placeholder="Skrining Resiko Jatuh" id="setup_AsesmenPerawatUGD_select9" name="SkriningResikoJatuh" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatUGD", new { kelompok = 2 })'></select>
                                    </div>
                                </div>
                                <textarea id="setup_AsesmenPerawatUGD_input21" name="SkriningResikoJatuhCatatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select10">Resiko Nutrisi</label>
                                    <div class="col">
                                        <select placeholder="Skrining Resiko Nutrisi" id="setup_AsesmenPerawatUGD_select10" name="SkriningResikoNutrisi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatUGD", new { kelompok = 3 })'></select>
                                    </div>
                                </div>
                                <textarea id="setup_AsesmenPerawatUGD_input23" name="SkriningResikoNutrisiCatatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label for="setup_AsesmenPerawatUGD_select11" class="col-md-4">Nyeri</label>
                                    <div class="col">
                                        <select placeholder="Skrining Nyeri" id="setup_AsesmenPerawatUGD_select11" name="SkriningNyeri" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatUGD", new { kelompok = 4 })'></select>
                                    </div>
                                </div>
                                <textarea id="setup_AsesmenPerawatUGD_input25" name="SkriningNyeriCatatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenPerawatUGD_input26" name="ButuhEdukasi" type="checkbox" class="form-check-input">
                                        Butuh Edukasi
                                    </label>
                                </div>
                                <textarea id="setup_AsesmenPerawatUGD_input27" name="ButuhEdukasiCatatan" class="form-control text-left"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md">
                <div class="">
                    <p class="text-dark h5 text-left">Objektif</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenPerawatUGD_input33" class="col-md-4 mt-2">Pemeriksaan Fisik</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatUGD_input33" data-template-jenis="11"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenPerawatUGD_input33" name="Objektif_PemeriksaanFisik" class="form-control text-left" rows="5"></textarea>
                </div>

                <div class="">
                    <p class="text-dark h5 text-left">Asesmen (Masalah Keperawatan)</p>
                </div>
                <div class="form-group">
                    <textarea id="setup_AsesmenPerawatUGD_input34" name="Asesmen_MasalahKeperawatan" class="form-control text-left" rows="5"></textarea>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenPerawatUGD_input35" class="h5 col-md-3">Planning</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRJ_input6" data-template-jenis="30"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenPerawatUGD_input35" name="Planning" class="form-control text-left" rows="7"></textarea>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatUGD_input36" class="h5">Instruksi</label>
                    <textarea id="setup_AsesmenPerawatUGD_input36" name="Instruksi" class="form-control text-left" rows="5"></textarea>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end align-items-center">

            <div class="form-check form-check-inline">
                <input id="setup_AsesmenPerawatUGD_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
                <label class="form-check-label mt-1" for="setup_AsesmenPerawatUGD_IsiDenganBenar">
                    Saya telah mengisi asesmen dengan benar
                </label>
            </div>

            <button type="button" onclick="isetup_AsesmenPerawatUGD.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2 user-validation"></i>Simpan</button>
        </div>

    </form>
</div>

<script>
    let isetup_AsesmenPerawatUGD;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenPerawatUGD = new iSetup({
            id: 'setup_AsesmenPerawatUGD',
            url : '@Url.Action("ActionAsesmenPerawatUGD", "AsesmenPerawatUGD")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_AsesmenPerawatUGD),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenPerawatUGD.load();
                }
            },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    if (r.data.simpanSementara) {
                        isetupEditNonAjax(t);
                    }

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenPerawatUGD.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenPerawatUGD.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenPerawatUGD.initModel();

                    if (t.type == 'PUT') {
                        form['DokterId'].value = '@pasien.DokterID';
                    }
                }
            },
            modalDataOnSuccess: (r, t) => {
            },
            modalOnReady: (e, t) => {
			}
        });

        isetup_AsesmenPerawatUGD.loadAsesmenDokter = (model) => {

            $.ajax({
                url: `@Url.Action("ActionAsesmenDokterUGD", "AsesmenDokterUGD", new { NoReg = pasien.NoReg })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan') return;
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        isetup_AsesmenPerawatUGD.asesmenDokterModel = model;
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_AsesmenPerawatUGD.sadurTriage = () => {

            if (isetup_AsesmenPerawatUGD.type == 'GET') return;

            const model = isetup_AsesmenPerawatUGD.asesmenDokterModel;

            const form = $(isetup_AsesmenPerawatUGD.id).find('form')[0];

            const jSetup = $(isetup_AsesmenPerawatUGD.id);

            jSetup.find('#setup_AsesmenPerawatUGD_inputJenisKunjungan').setSelect2Value(model.id_mJenisKunjungan, model.id_mJenisKunjungan_Text);
            jSetup.find('#setup_AsesmenPerawatUGD_Rujukan').setSelect2Value(model.id_mRujukan, model.id_mRujukan_Text);
            jSetup.find('#setup_AsesmenPerawatUGD_CaraDatang').setSelect2Value(model.id_mCaraDatang, model.id_mCaraDatang_Text);
            jSetup.find('#setup_AsesmenPerawatUGD_select1').setSelect2Value(model.id_mAlasanKunjungan, model.id_mAlasanKunjungan_Text);
            jSetup.find('#setup_AsesmenPerawatUGD_KriteriaTriage').setSelect2Value(model.id_mTriage, model.id_mTriage_Text);
            jSetup.find('#setup_AsesmenPerawatUGD_KeadaanSaatDatang').setSelect2Value(model.id_mKeadaanSaatDatang, model.id_mKeadaanSaatDatang_Text);

            form['WaktuDatang'].value = model.waktuDatang;
            form['Rujukan_Keterangan'].value = model.rujukanCatatan;
            form['Triage_Keterangan'].value = model.triage_Keterangan;
            form['KeadaanSaatDatangKeterangan'].value = model.keadaanSaatDatangKeterangan;
            form['Hamil'].checked = model.hamil;
            form['DOA'].checked = model.doa;
            form['Trauma'].checked = model.trauma;
            form['LokasiMekanisneTrauma'].value = model.lokasiMekanisneTrauma;

        }

        isetup_AsesmenPerawatUGD.load = () => {
            isetup_AsesmenPerawatUGD.openState('GET', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenPerawatUGD.edit = () => {
            isetup_AsesmenPerawatUGD.openState('PUT', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenPerawatUGD.new = () => {
            isetup_AsesmenPerawatUGD.openState('POST', {});

            const form = $(isetup_AsesmenPerawatUGD.id).find('form')[0];
            form['NoReg'].value = '@ViewData["NoReg"]';
            form['NRM'].value = '@pasien.NRM';
            form['DokterId'].value = '@pasien.DokterID';

            isetup_AsesmenPerawatUGD.initModel();
        }

        isetup_AsesmenPerawatUGD.simpanSementara = () => {
            const form = $(isetup_AsesmenPerawatUGD.id).find('form')[0];

            form['SimpanSementara'].checked = true;

            $(form).submit();
        }

        isetup_AsesmenPerawatUGD.isModified = () => {
            const setup = isetup_AsesmenPerawatUGD;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenPerawatUGD.initModel = () => {
            const setup = isetup_AsesmenPerawatUGD;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenPerawatUGD;
            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];
                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;
                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenPerawatUGD();
    });

    const customJSSetup_AsesmenPerawatUGD = () => {
        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenPerawatUGD.load();
        }
        else
        {
            @:isetup_AsesmenPerawatUGD.new();
        }

        @if(pengisianEMR.AsesmenDokter == true)
        {
            @:isetup_AsesmenPerawatUGD.loadAsesmenDokter();
        }
    };
</script>

