﻿@model RegistrasiPasien_DataRegWithMenu
@using static EmrPuriBunda.Constant.RolesConstant
@using EmrPuriBunda.Mahas.Helpers;

@{
    ViewData["Title"] = "Pasien";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
{
        new SelectListItem("RegistrasiPasien", Url.Action("Index", "RegistrasiPasien")),
        new SelectListItem((string)ViewData["Title"], "active")
    };

    var Pasien = Model.Pasien;
    ViewData["NoReg"] = Pasien.NoReg;

    var iconGender = Pasien.JenisKelamin == "M" ? "fa fa-mars text-primary" : Pasien.JenisKelamin == "F" ? "fa fa-venus text-danger" : "";

    var navItemActive = "active";

    var tabPaneActive = "show active";

    var firstMenuAvailable = true;

    var dokter = ViewData["Dokter"] as EmrPuriBunda.Models.DokterModel;

    var tglKunjunganTerakhir = ViewData["TglKunjunganTerakhir"] as DateTime?;
}

<style>

    .btn-sampul {
        width: 68px
    }

    @@media (min-width: 576px) {
        .card-title-full {
            width: 800px
        }
    }

    .text-ellipsis {
        overflow: hidden;
        height: 50px;
        text-overflow: ellipsis;
    }

    .tab-pane.tab-pane-top-border {
        border-top: 1px solid rgba(0,0,0,.125);
    }

    .nav-tabs-solid .nav-item.show .nav-link.active, .nav-tabs-solid .nav-link.active,
    .nav-tabs-bottom .nav-link.active:before {
        background-color: #3f51b5;
    }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 500px !important;
    }
</style>

<div id="view_Pasien">

    <!-- Latest posts -->
    <div class="card card-collapsed sticky-top" style="z-index: 1">
        <div class="card-header header-elements-inline bg-indigo">
            <div class="card-title card-title-full row">
                <div class="col-md-auto">
                    <h6>[@Pasien.NRM] - @Pasien.NamaPasien <span class="ml-1 @iconGender"></span> <br />@(Pasien.TglLahir?.ToString("dd/MM/yyyy") ?? "?") @Pasien.Umur - @Pasien.JenisKerjasama</h6>
                </div>
                <div class="col-md">
                    <div class="mb-1 row">
                        <div class="col-md-auto">
                            <button type="button" id="view_Pasien_btnRiwayatAlergi" class="btn bg-light btn-sm btn-sampul" onclick="iview_RiwayatAlergi.openModal()">Alergi</button>
                        </div>
                        <div class="col-md">
                            <h6 id="view_Pasien_RiwayatAlergi" class="text-truncate">-</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <button type="button" id="view_Pasien_btnGapah" class="btn bg-success btn-sm btn-sampul" onclick="iview_Gpah.openModal()">GAPAH</button>
                        </div>
                        <div class="col-md">
                            <h6 id="view_Pasien_Gpah">-</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-elements">
                <div class="mr-2 text-right">
                    <h6>@Pasien.NamaDokter</h6>

                    <div class="text-right">
                        <button type="button" class="btn bg-pink btn-sm" onclick="itable_CpptHistory.showRiwayatKunjungan('@Pasien.NRM')">Riwayat Kunjungan</button>

                        @if (User.IsRolePerawatBidan() || User.IsRoleAdmin() || dokter.DokterID == Pasien.DokterID || User.IsInRole(Dod) || User.IsRoleDokterSpesialis())
                        {
                            <button type="button" class="btn bg-blue btn-sm" onclick="isetup_RegisterDpjp.openModal('PUT', { NoReg : '@Pasien.NoReg', Nomor : @Pasien.Nomor })">Pengaturan Dpjp</button>
                        }
                    </div>
                    <label class="text-right font-italic mt-1">Kunjungan Terakhir : @(tglKunjunganTerakhir?.ToString("dd-MMM-yyyy") ?? "-")</label>
                </div>
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        @*<dt class="col-md-3">NoReg</dt>
                            <dd class="col-md-9 @Pasien.NoReg</dd>*@

                        @*<dt class="col-md-3">NRM</dt>
                            <dd class="col-md-9 @Pasien.NRM</dd>*@

                        <dt class="col-md-3">Nama</dt>
                        <dd class="col-md-9 ">@(Pasien.NamaPasien ?? "-")</dd>

                        <dt class="col-md-3">Alias</dt>
                        <dd class="col-md-9">@(!string.IsNullOrEmpty(Pasien.NamaAlias) ? Pasien.NamaAlias : "-")</dd>

                        <dt class="col-md-3">Gender</dt>
                        <dd class="col-md-9">
                            <span class="fa @(Pasien.JenisKelamin == "M" ? "fa-mars text-primary" : Pasien.JenisKelamin == "F" ? "fa-venus text-danger" : "")"></span>
                            @(Pasien.JenisKelamin == "M" ? "Laki-laki" : Pasien.JenisKelamin == "F" ? "Perempuan" : "")
                        </dd>

                        <dt class="col-md-3">Tempat, Tgl Lahir</dt>
                        <dd class="col-md-9 ">@(!string.IsNullOrEmpty(Pasien.TempatLahir) ? Pasien.TempatLahir + "," : "") @(Pasien.TglLahir?.ToString("dd/MM/yyyy") ?? "-")</dd>

                        <dt class="col-md-3">Umur</dt>
                        <dd class="col-md-9 ">@(Pasien.Umur ?? "-")</dd>

                        <dt class="col-md-3">Alamat</dt>
                        <dd class="col-md-9 ">@(Pasien.Alamat ?? "-")</dd>

                        <dt class="col-md-3">Telepon</dt>
                        <dd class="col-md-9 ">@(Pasien.Phone ?? "-")</dd>
                    </dl>
                </div>

                <div class="col-md-6">

                    <dl class="row">
                        <dt class="col-md-4">Agama</dt>
                        <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Pasien.Agama) ? Pasien.Agama : "-")</dd>

                        <dt class="col-md-4">Pekerjaan</dt>
                        <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Pasien.Pekerjaan) ? Pasien.Pekerjaan : "-")</dd>

                        <dt class="col-md-4">Pendidikan</dt>
                        <dd class="col-md-8 ">@(Pasien.Pendidikan ?? "-")</dd>

                        <dt class="col-md-4">Suku/Etnis</dt>
                        <dd class="col-md-8 ">@(Pasien.Etnis ?? "-")</dd>

                        <dt class="col-md-4">Hambatan Komunikasi</dt>
                        <dd class="col-md-8 ">@(Pasien.HambatanBerkomunikasi ?? "-")</dd>

                        <dt class="col-md-4">Pasien VIP</dt>
                        <dd class="col-md-8 ">@(Pasien.PasienVVIP == true ? "VIP" : "-")</dd>

                        <dt class="col-md-4">Nama Penanggung Jawab</dt>
                        <dd class="col-md-8 ">@(Pasien.PenanggungNama ?? "-")</dd>

                        <dt class="col-md-4">Telepon Penanggung Jawab</dt>
                        <dd class="col-md-8 ">@(Pasien.PenanggungTelp ?? "-")</dd>

                        <dt class="col-md-4">Hubungan</dt>
                        <dd class="col-md-8 ">@(Pasien.PenanggungHubungan ?? "-")</dd>
                    </dl>

                </div>
            </div>

        </div>
    </div>

    <!-- My messages -->
    <div class="card">

        <!-- Tabs -->
        <ul class="nav nav-tabs nav-tabs-solid nav-justified border-0 bg-light mb-0">

            @foreach (var (menu1, i) in Model.MenuAkses.Select((menu1, i) => (menu1, i)))
            {
                if (!menu1.Allow) continue;

                <li class="nav-item">
                    <a href="#@menu1.Target" data-idformsetup="@menu1.IdFormSetup" class="nav-link nav-link-validate-state font-size-sm text-uppercase @(firstMenuAvailable ? navItemActive: "")" data-toggle="tab">
                        @menu1.Title
                    </a>
                </li>

                firstMenuAvailable = false;
            }
            @{firstMenuAvailable = true;}

        </ul>
        <!-- /tabs -->
        <!-- Tabs content -->
        <div class="tab-content">

            @foreach (var (menu1, i) in Model.MenuAkses.Select((menu1, i) => (menu1, i)))
            {
                if (!menu1.Allow) continue;

                var secondMenuAvaliable = true;

                if (menu1.Child != null)
                {
                    <div class="tab-pane fade tab-pane-top-border @(firstMenuAvailable ? tabPaneActive : "")" id="@menu1.Target">
                        <ul class="nav nav-tabs border-0 nav-justified nav-tabs-bottom">
                            @foreach (var (menu2, ic) in menu1.Child.Select((menu2, ic) => (menu2, ic)))
                            {
                                if (!menu2.Allow) continue;

                                <li class="nav-item"><a href="#@menu2.Target" class="nav-link @(secondMenuAvaliable ? navItemActive : "")" data-toggle="tab">@menu2.Title</a></li>

                                secondMenuAvaliable = false;
                            }
                            @{secondMenuAvaliable = true;}
                        </ul>

                        <div class="tab-content">
                            @foreach (var (menu2, ic) in menu1.Child.Select((menu2, ic) => (menu2, ic)))
                            {
                                if (!menu2.Allow) continue;

                                <div class="tab-pane fade @(secondMenuAvaliable ? tabPaneActive : "")" id="@menu2.Target">
                                    @await Html.PartialAsync(menu2.ViewLocation, new ViewDataDictionary(ViewData))
                                </div>

                                secondMenuAvaliable = false;
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade card-body tab-pane-top-border @(firstMenuAvailable? tabPaneActive : "")" id="@menu1.Target">
                        @await Html.PartialAsync(menu1.ViewLocation, new ViewDataDictionary(ViewData))
                    </div>
                }
                firstMenuAvailable = false;
            }

        </div>
        <!-- /tabs content -->

    </div>
    <!-- /my messages -->
    <!-- /latest posts -->

    <div id="some-elem"></div>

</div>

<script>
    let iView_Pasien = {};

    const RiwayatAlergiEvent = document.createEvent('CustomEvent');
    RiwayatAlergiEvent.initCustomEvent('RiwayatAlergiLoaded', true, false);

    document.addEventListener("DOMContentLoaded", function (event) {

        iView_Pasien.id = 'view_Pasien';

        iView_Pasien.applyTemplate = (element) => {

            const jTarget = $(element);

            const template = jTarget.data('template-text');
            const destination = jTarget.data('template-target');

            const selectSource = $(`select[data-template-target="${destination}"`);

            $.each(selectSource, (i, v) => {
                $(v).select2('close');
            });

            if (template) {
                const jDestination = $(destination);
                const destinationValue = jDestination.val() ? jDestination.val() + '\r\n\r\n' : '';

                jDestination.val(destinationValue + template);
            }
        }

        iView_Pasien.toggleDetailTemplate = (element) => {

            const jTarget = $(element);

            jTarget.siblings('p').toggleClass('text-ellipsis');

            if (jTarget.text() == 'Buka Details') {
                jTarget.text('Sembunyikan Details');
            } else {
                jTarget.text('Buka Details');
            }
        }

        $.each($('.select-template-asesmen'), (i, v) => {
            const jSelect = $(v);

            const templateTarget = jSelect.data('template-target');

            jSelect.select2({
                ajax: {
                    url: '@Url.Action("Select_TemplateAsesmen", "TemplateAsesmen")',
                    dataType: 'json', type: "POST", delay: 250,
                    data: p => {
                        return {
                            pageSize: 10,
                            pageIndex: p.page || 0,
                            filter: p.term,
                            jenisID : jSelect.data("template-jenis"),
                            sectionID: '@Context.Request.Cookies["SectionId"]',
                            dokterID: '@dokter.DokterID'
                        };
                    },
                    processResults: (data, params) => {

                        if (!data.success) alertError(data.Message);
                        else {
                            params.page = data.pageIndex;

                            return {
                                results: data.datas,
                                pagination: {
                                    more: ((data.pageIndex + 1) * 10) < data.totalCount
                                }
                            };
                        }
                    },
                    cache: true
                },
                allowClear: true,
                escapeMarkup: function (text) { return text; },
                placeholder: 'Pilih Template',
                templateResult: (data) => {

                    if (data.loading) {
                        return data.text;
                    }

                    const textEllipsis = data.tempData.split(/\r\n|\r|\n/).length > 5 ? 'text-ellipsis' : '';

                    return `
                        <div>
                            <div class='row'>
                                <h6 class="col-md-auto">(${data.kode ?? ''}) ${data.judul}</h6>
                                <div class="col-md text-right">
                                    <button class="btn btn-primary btn-sm template-action" data-template-target="${templateTarget}" data-template-text="${data.tempData}" onclick="iView_Pasien.applyTemplate(this)">Pakai</button>
                                </div>
                            </div>
                            <p class="${textEllipsis}">${replaceLineBreak(data.tempData)}</p>
                            ${textEllipsis && '<button class="btn btn-light btn-sm" onclick="iView_Pasien.toggleDetailTemplate(this)">Buka Details</button>'}
                        </div>`;
                },
                templateSelection: function (data, container) {

                    if (!data.id) {
                        return data.text;
                    }

                    $(data.element).attr('data-template', data.tempData);

                    return `(${data.kode}) ${data.judul}`;
                }
            });

            jSelect.on('select2:select', e => {

                const jTarget = $(e.target);

                const template = jTarget.find(':selected').data('template');
                const destination = jTarget.data('template-target');

                if (template) {
                    const jDestination = $(destination);
                    const destinationValue = jDestination.val() ? jDestination.val() + '\r\n\r\n' : '' ;

                    jDestination.val(destinationValue + template);
                }
            });

            jSelect.on('select2:selecting', (event, element) => {

                event.preventDefault();

            });
        });

        iView_Pasien.loadGpah = () => {

            $.ajax({
                url: `@Url.Action("GPAH", "RiwayatGapahPasien", new { nrm = Pasien.NRM })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan') return;
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        $('#view_Pasien_Gpah').text(`${model.id_mGpah_Text ?? ''} ${model.keterangan ?? ''}`)

                        
                        if (model.id_mGpah_Text) {
                            $('#view_Pasien_btnGapah').removeClass('bg-light');
                            $('#view_Pasien_btnGapah').addClass('bg-success');
                        } else {
                            $('#view_Pasien_btnGapah').removeClass('bg-success');
                            $('#view_Pasien_btnGapah').addClass('bg-light');
                        }
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        iView_Pasien.loadRiwayatAlergi = () => {

            $.ajax({
                url: `@Url.Action("RiwayatAlergiPasien", "RiwayatAlergiPasien", new { nrm = Pasien.NRM })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan');
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        iView_Pasien.RiwayatAlergi = model.riwayatAlergi;

                        $('#view_Pasien_RiwayatAlergi').text(model.riwayatAlergi);

                        if (model.riwayatAlergi) {
                            $('#view_Pasien_btnRiwayatAlergi').removeClass('bg-light');
                            $('#view_Pasien_btnRiwayatAlergi').addClass('bg-danger');
                        } else {
                            $('#view_Pasien_btnRiwayatAlergi').removeClass('bg-danger');
                            $('#view_Pasien_btnRiwayatAlergi').addClass('bg-light');
                        }

                        document.dispatchEvent(RiwayatAlergiEvent); // <=== Change is here
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        iView_Pasien.loadSampul = () => {
            iView_Pasien.loadGpah();
            iView_Pasien.loadRiwayatAlergi();
        }

        iView_Pasien.loadSampul();

        iView_Pasien.idSetup = '@Model.MenuAkses.FirstOrDefault()?.IdFormSetup';

        $('body').removeClass('sidebar-xs');
        $('body').addClass('sidebar-xs');

        $('.nav-link-validate-state').click((e) => {
            const target = e.target;

            let isModified = false;
            const idSetup = $(target).data('idformsetup');

            if (iView_Pasien.idSetup == idSetup) return;

            switch (iView_Pasien.idSetup) {
                case 'isetup_AsesmenDokterRI':
                    if (typeof isetup_AsesmenDokterRI.isModified === 'function') {
                        isModified = isetup_AsesmenDokterRI.isModified();
                    }
                    break;
                case 'isetup_AsesmenDokterRJ':
                    if (typeof isetup_AsesmenDokterRJ.isModified === 'function') {
                        isModified = isetup_AsesmenDokterRJ.isModified();
                    }
                    break;
                case 'isetup_AsesmenDokterUGD':
                    if (typeof isetup_AsesmenDokterUGD.isModified === 'function') {
                        isModified = isetup_AsesmenDokterUGD.isModified();
                    }
                    break;
                case 'isetup_AsesmenPerawatRI':
                    if (typeof isetup_AsesmenPerawatRI.isModified === 'function') {
                        isModified = isetup_AsesmenPerawatRI.isModified();
                    }
                    break;
                case 'isetup_AsesmenPerawatRJ':
                    if (typeof isetup_AsesmenPerawatRJ.isModified === 'function') {
                        isModified = isetup_AsesmenPerawatRJ.isModified();
                    }
                    break;
                case 'isetup_AsesmenPerawatUGD':
                    if (typeof isetup_AsesmenPerawatUGD.isModified === 'function') {
                        isModified = isetup_AsesmenPerawatUGD.isModified();
                    }
                    break;
            }

            if (isModified) {
                e.preventDefault();
                e.stopPropagation();


                customModalDialog('Konfirmasi', 'Anda belum menyimpan (save) formulir yang telah anda isi.<br/>Apakah anda yakin keluar dari form ini?', () => {
                    iView_Pasien.idSetup = idSetup;

                    const tabTarget = $(target).attr('href');

                    $('.nav-link-validate-state').removeClass('show active');
                    $(target).addClass('show active')

                    $(tabTarget).siblings().removeClass('show active')
                    $(tabTarget).addClass('show active')

                });
            } else {
                iView_Pasien.idSetup = idSetup;
            }

        });

        isetup_pilihSection.onSectionSelected = () => {
            document.location.href= '@Url.Action("Index", "RegistrasiPasien")';
        }

        iView_Pasien.loadSection = () => {
            const groupPelayanan = decodeURI(getCookie("GroupPelayanan"));
            const sectionName = decodeURI(getCookie("SectionName"));

            $('#LabelGroupPelayanan').text(groupPelayanan);
            $('#LabelSectionName').text(sectionName);
        }

        iView_Pasien.loadSection();
    });
</script>

@await Html.PartialAsync("~/Views/RegisterDpjp/SetupRegisterDpjp.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/Cppt/HistoryCppt.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/RiwayatGapahPasien/Index.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/RiwayatAlergi/ViewRiwayatAlergi.cshtml", new ViewDataDictionary(ViewData))