﻿@using Microsoft.AspNetCore.Authorization
@using static EmrPuriBunda.Mahas.Helpers.PolicyHelper
@using static EmrPuriBunda.Constant.PolicyConstant
@using EmrPuriBunda.Models
@using System.Collections.Generic
@inject IAuthorizationService authService
@model RegistrasiPasien_DataReg

@{
    ViewData["Title"] = "Pasien";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
{
        new SelectListItem("RegistrasiPasien", Url.Action("Index", "RegistrasiPasien")),
        new SelectListItem((string)ViewData["Title"], "active")
    };
    ViewData["NoReg"] = Model.NoReg;
    ViewData["Pasien"] = Model;

    var iconGender = Model.JenisKelamin == "M" ? "fa fa-mars text-primary" : Model.JenisKelamin == "F" ? "fa fa-venus text-danger" : "";


    var allowAsesmenAwalDokterIGD = await authService.IsInPolicyAsync(User, AsesmenAwalDokterIGD);
    var allowAsesmenAwalPerawatIGD = await authService.IsInPolicyAsync(User, AsesmenAwalPerawatIGD);
    var allowCppt = await authService.IsInPolicyAsync(User, Cppt);
    var allowEResep = await authService.IsInPolicyAsync(User, EResep);
    var allowEOrder = await authService.IsInPolicyAsync(User, EPenunjang);

    var menuList = new List<Pasien_MenuAkses>()
    {
        new Pasien_MenuAkses()
        {
            Title = "Asesmen Awal Dokter",
            Allow = allowAsesmenAwalDokterIGD,
            Child = null,
            Target = "tab_AsesmenAwalDokter",
            ViewLocation = "~/Views/AsesmenDokterUGD/SetupAsesmenDokterUGD.cshtml"
        }
    };

    string firstActiveTab = "";

    if (allowAsesmenAwalDokterIGD)
    {
        firstActiveTab = AsesmenAwalDokterIGD;
    }
    else if (allowAsesmenAwalPerawatIGD)
    {
        firstActiveTab = AsesmenAwalPerawatIGD;
    }
    else if (allowCppt)
    {
        firstActiveTab = Cppt;
    }
    else if (allowEResep)
    {
        firstActiveTab = EResep;
    }
    else if (allowEOrder)
    {
        firstActiveTab = EPenunjang;
    }

    var navItemActive = "active";

    var tabPaneActive = "show active";
}

<style>
    .tab-pane.tab-pane-top-border {
        border-top: 1px solid rgba(0,0,0,.125);
    }

    .nav-tabs-solid .nav-item.show .nav-link.active, .nav-tabs-solid .nav-link.active,
    .nav-tabs-bottom .nav-link.active:before {
        background-color: #3f51b5;
    }
</style>

<div id="view_Pasien">

    <!-- Latest posts -->
    <div class="card card-collapsed sticky-top" style="z-index: 1">
        <div class="card-header header-elements-inline bg-indigo">
            <h6 class="card-title">[@Html.DisplayFor(x => x.NRM)] - @Html.DisplayFor(x => x.NamaPasien) <span class="ml-1 @iconGender"></span> <br />@(Model.TglLahir?.ToString("dd/MM/yyyy") ?? "?") (@Html.DisplayFor(x => x.UmurTahun)) - @Model.JenisKerjasama</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        @*<dt class="col-md-3">NoReg</dt>
                            <dd class="col-md-9 ">@Html.DisplayFor(x => x.NoReg)</dd>*@

                        @*<dt class="col-md-3">NRM</dt>
                            <dd class="col-md-9 ">@Html.DisplayFor(x => x.NRM)</dd>*@

                        <dt class="col-md-3">Nama</dt>
                        <dd class="col-md-9 ">@(Model.NamaPasien ?? "-")</dd>

                        <dt class="col-md-3">Alias</dt>
                        <dd class="col-md-9">@(!string.IsNullOrEmpty(Model.NamaAlias) ? Model.NamaAlias : "-")</dd>

                        <dt class="col-md-3">Gender</dt>
                        <dd class="col-md-9">
                            <span class="fa @(Model.JenisKelamin == "M" ? "fa-mars text-primary" : Model.JenisKelamin == "F" ? "fa-venus text-danger" : "")"></span>
                            @(Model.JenisKelamin == "M" ? "Laki-laki" : Model.JenisKelamin == "F" ? "Perempuan" : "")
                        </dd>

                        <dt class="col-md-3">Tempat, Tgl Lahir</dt>
                        <dd class="col-md-9 ">@(!string.IsNullOrEmpty(Model.TempatLahir) ? Model.TempatLahir + "," : "") @(Model.TglLahir?.ToString("dd/MM/yyyy") ?? "-")</dd>

                        <dt class="col-md-3">Umur</dt>
                        <dd class="col-md-9 ">@(Model.Umur ?? "-")</dd>

                        <dt class="col-md-3">Alamat</dt>
                        <dd class="col-md-9 ">@(Model.Alamat ?? "-")</dd>

                        <dt class="col-md-3">Telepon</dt>
                        <dd class="col-md-9 ">@(Model.Phone ?? "-")</dd>
                    </dl>
                </div>

                <div class="col-md-6">

                    <dl class="row">
                        <dt class="col-md-4">Agama</dt>
                        <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Model.Agama) ? Model.Agama : "-")</dd>

                        <dt class="col-md-4">Pekerjaan</dt>
                        <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Model.Pekerjaan) ? Model.Pekerjaan : "-")</dd>

                        <dt class="col-md-4">Pendidikan</dt>
                        <dd class="col-md-8 ">@(Model.Pendidikan ?? "-")</dd>

                        <dt class="col-md-4">Suku/Etnis</dt>
                        <dd class="col-md-8 ">@(Model.Etnis ?? "-")</dd>

                        <dt class="col-md-4">Hambatan Komunikasi</dt>
                        <dd class="col-md-8 ">@(Model.HambatanBerkomunikasi ?? "-")</dd>

                        <dt class="col-md-4">Pasien VIP</dt>
                        <dd class="col-md-8 ">@(Model.PasienVVIP == true ? "VIP" : "-")</dd>

                        <dt class="col-md-4">Nama Penanggung Jawab</dt>
                        <dd class="col-md-8 ">@(Model.PenanggungNama ?? "-")</dd>

                        <dt class="col-md-4">Telepon Penanggung Jawab</dt>
                        <dd class="col-md-8 ">@(Model.PenanggungTelp ?? "-")</dd>

                        <dt class="col-md-4">Hubungan</dt>
                        <dd class="col-md-8 ">@(Model.PenanggungHubungan ?? "-")</dd>
                    </dl>

                </div>
            </div>

        </div>
    </div>

    <!-- My messages -->
    <div class="card">

        <!-- Tabs -->
        <ul class="nav nav-tabs nav-tabs-solid nav-justified border-0 bg-light mb-0">

            @if (allowAsesmenAwalDokterIGD)
            {
                <li class="nav-item">
                    <a href="#tab_AsesmenAwalDokter" class="nav-link font-size-sm text-uppercase @(firstActiveTab == AsesmenAwalDokterIGD ? navItemActive : "")" data-toggle="tab">
                        Asesmen Awal Dokter
                    </a>
                </li>
            }

            @if (allowAsesmenAwalPerawatIGD)
            {
                <li class="nav-item">
                    <a href="#tab_AsesmenAwalPerawat" class="nav-link font-size-sm text-uppercase @(firstActiveTab == AsesmenAwalPerawatIGD ? navItemActive : "")" data-toggle="tab">
                        Asesmen Awal Perawat
                    </a>
                </li>
            }


            @if (allowCppt)
            {
                <li class="nav-item">
                    <a href="#tab_Cppt" class="nav-link font-size-sm text-uppercase @(firstActiveTab == Cppt ? navItemActive : "")" data-toggle="tab">
                        Cppt
                    </a>
                </li>
            }

            @if (allowEOrder || allowEResep)
            {
                <li class="nav-item active">
                    <a href="#tab_resep" class="nav-link font-size-sm text-uppercase @(firstActiveTab == EPenunjang || firstActiveTab == EResep ? navItemActive : "")" data-toggle="tab">
                        Order
                    </a>
                </li>
            }

            <li class="nav-item">
                <a href="#tab_riwayat" class="nav-link font-size-sm text-uppercase" data-toggle="tab">
                    Riwayat
                </a>
            </li>

        </ul>
        <!-- /tabs -->
        <!-- Tabs content -->
        <div class="tab-content">

            @if (allowAsesmenAwalDokterIGD)
            {
                <div class="tab-pane fade card-body tab-pane-top-border @(firstActiveTab == AsesmenAwalDokterIGD ? tabPaneActive : "")" id="tab_AsesmenAwalDokter">
                    @await Html.PartialAsync("~/Views/AsesmenDokterUGD/SetupAsesmenDokterUGD.cshtml", new ViewDataDictionary(ViewData))
                </div>
            }

            @if (allowAsesmenAwalPerawatIGD)
            {
                <div class="tab-pane fade card-body @(firstActiveTab == AsesmenAwalPerawatIGD ? tabPaneActive : "")" id="tab_AsesmenAwalPerawat">
                    @await Html.PartialAsync("~/Views/AsesmenPerawatUGD/SetupAsesmenPerawatUGD.cshtml", new ViewDataDictionary(ViewData))
                </div>
            }

            @if (allowCppt)
            {
                <div class="tab-pane fade card-body @(firstActiveTab == Cppt ? tabPaneActive : "")" id="tab_Cppt">
                    @await Html.PartialAsync("~/Views/Cppt/SetupCppt.cshtml", new ViewDataDictionary(ViewData))
                </div>
            }

            @if (allowEOrder || allowEResep)
            {
                <div class="tab-pane fade tab-pane-top-border @(firstActiveTab == EPenunjang ||  firstActiveTab == EResep? tabPaneActive : "")" id="tab_resep">

                    <ul class="nav nav-tabs border-0 nav-justified nav-tabs-bottom">
                        @if (allowEResep)
                        {
                            <li class="nav-item"><a href="#tab-eResep" class="nav-link @(allowEResep? navItemActive: "")" data-toggle="tab">Resep</a></li>
                        }
                        @if (allowEOrder)
                        {
                            <li class="nav-item"><a href="#tab-orderPenunjang" class="nav-link @(!allowEResep? navItemActive :"")" data-toggle="tab">Penunjang</a></li>
                        }
                    </ul>

                    <div class="tab-content">
                        @if (allowEResep)
                        {
                            <div class="tab-pane fade active show" id="tab-eResep">
                                @await Html.PartialAsync("~/Views/Resep/Index.cshtml", new ViewDataDictionary(ViewData))
                            </div>
                        }
                        @if (allowEOrder)
                        {
                            <div class="tab-pane fade @(!allowEResep ? tabPaneActive : "")" id="tab-orderPenunjang">
                                @await Html.PartialAsync("~/Views/OrderPenunjang/Index.cshtml", new ViewDataDictionary(ViewData))
                            </div>
                        }

                    </div>

                </div>
            }

            <div class="tab-pane fade tab-pane-top-border" id="tab_riwayat">
                <ul class="nav nav-tabs border-0 nav-justified nav-tabs-bottom">
                    <li class="nav-item"><a href="#tab-obat" class="nav-link active" data-toggle="tab">Realisasi Obat</a></li>
                    <li class="nav-item"><a href="#tab-lab" class="nav-link" data-toggle="tab">Hasil Lab</a></li>
                    <li class="nav-item"><a href="#tab-radiologi" class="nav-link" data-toggle="tab">Hasil Radiologi & Penunjang Lain</a></li>
                    <li class="nav-item"><a href="#tab-edokumen" class="nav-link" data-toggle="tab">E-Dokumen</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-obat">
                        @await Html.PartialAsync("~/Views/Obat/Index.cshtml", new ViewDataDictionary(ViewData))
                    </div>


                    <div class="tab-pane fade" id="tab-lab">
                        @await Html.PartialAsync("~/Views/HasilBacaLab/Index.cshtml", new ViewDataDictionary(ViewData))
                    </div>

                    <div class="tab-pane fade" id="tab-radiologi">
                        @await Html.PartialAsync("~/Views/HasilBacaRadiologi/Index.cshtml", new ViewDataDictionary(ViewData))
                    </div>

                    <div class="tab-pane fade" id="tab-edokumen">
                        @await Html.PartialAsync("~/Views/EDokumen/Index.cshtml", new ViewDataDictionary(ViewData))
                    </div>
                </div>

            </div>

        </div>
        <!-- /tabs content -->

    </div>
    <!-- /my messages -->
    <!-- /latest posts -->

</div>

<script>
    let iView_Pasien;
    document.addEventListener("DOMContentLoaded", function (event) {

        customJSView_Pasien();
    });

    const customJSView_Pasien = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

