@{ var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="view_Gpah" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>GAPAH</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            @await Html.PartialAsync("~/Views/RiwayatGapahPasien/SetupGPAH.cshtml", new ViewDataDictionary(ViewData))
            
        </div>
    </div>
</div>

<script>
    let iview_Gpah = {};
    document.addEventListener("DOMContentLoaded", function (event) {

        iview_Gpah.id = '#view_Gpah';

        iview_Gpah.openModal = () => {
            const id = iview_Gpah.id;

            $(id).css('z-index', 1060);
            $(id).modal({ backdrop: 'static' });
            $('.modal-backdrop.fade.show').last().css('z-index', $(id).css('z-index') - 1);
        }

    });

    const customJSSetup_GPAH = () => {
    };
</script>

@await Html.PartialAsync("~/Views/RiwayatPersalinan/SetupRiwayatPersalinan.cshtml", new ViewDataDictionary(ViewData))