@{ var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="modal_trRiwayatGapahPasien">

    <form autocomplete="off">

        <div class="modal-body">

            @Html.AntiForgeryToken()

            <input type="hidden" id="ID" name="ID" />
            <input type="hidden" id="NRM" name="NRM" />

            <div class="form-group row">
                <div class="col-md">
                    <label for="Id_mGpah">GAPAH</label>
                    <select placeholder="GPAH" id="Id_mGpah" name="Id_mGpah" class="form-control text-left" data-datasource='@Url.Action("Select_Gpah", "RiwayatGapahPasien")'></select>
                </div>

                <div class="col-md">
                    <label for="HPHT">HPHT</label>
                    <div class="input-group">
                        <input type="date" id="HPHT" name="HPHT" class="form-control text-left" onchange="isetup_GPAH.onHphptChange(this);" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="$(isetup_GPAH.id).find('#HPHT').val('').trigger('change');">
                                <i class="icon-close2"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <label for="TP">TP</label>
                    <input type="date" id="TP" name="TP" class="form-control text-left" />
                </div>

                @*<div class="col-md">
                        <label for="Keterangan">Keterangan</label>
                        <input type="text" id="Keterangan" name="Keterangan" class="form-control text-left" />
                    </div>*@
            </div>

            <div class="">
                <div class="form-group table-responsive">
                    <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="RiwayatPersalinan">
                        <thead>
                            <tr class="bg-slate">
                                <th class="table-button">
                                    <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="isetup_GPAH.addDetail()">
                                        <i class="icon-plus22"></i>
                                    </button>
                                </th>
                                <th></th>
                                <th style="width: 75px">Tahun Persalinan</th>
								<th>Tempat Persalinan</th>
								<th>Penolong Persalinan</th>
								<th>Cara Persalinan</th>
								<th>Penyulit Kehamilan</th>
								<th style="width: 75px">BBL</th>
								<th>Jenis Kelamin</th>
								<th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Simpan</button>
        </div>

    </form>
</div>

<script>
    let isetup_GPAH;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_GPAH = new iSetup({
            id: 'modal_trRiwayatGapahPasien',
            url: '@Url.Action("GPAH", "RiwayatGapahPasien")',
            param: e => ({
                nrm: '@pasien.NRM',
                model: {
                    ...getModelFromForm(e.target, isetup_GPAH),
                }
            }),
            success: (r, t) => {
                if (r.success) {

                    if (iView_Pasien) {
                        showAlert("Data berhasil disimpan.", "success");

                        iView_Pasien.loadGpah();
                    }
                }
            },
            modalDataOnSuccess: (r, t) => {
            },
            stateDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                setFormFromModel(form, r.data, t);

                (r.data.riwayatPersalinan || []).forEach(x => {
                    isetup_GPAH.addTableValue_RiwayatPersalinan({
                        Id: x.id
                    }, x);
                });

                form['NRM'].value = '@pasien.NRM';
            },
            modalOnReady: (e, t) => {
            }
        });

        isetup_GPAH.onHphptChange = (t) => {

            if (t.value) {
                const hpht = new Date(t.value);
                const tp = new Date(hpht.setDate(hpht.getDate() + 280));
                const dateTP = tp.toISOString().split('T')[0];
                $(isetup_GPAH.id).find('#TP').val(dateTP);
            } else {
                $(isetup_GPAH.id).find('#TP').val('');
            }
        }

        isetup_GPAH.edit = () => {

            const form = $(isetup_GPAH.id).find('form')[0];

            isetup_GPAH.openState('PUT', { nrm: '@pasien.NRM' });

            form['NRM'].value = '@pasien.NRM';
        }

        isetup_GPAH.addTableValue_RiwayatPersalinan = (key, model) => {
			const tbl = $(isetup_GPAH.id).find(`.table-detail[data-name="RiwayatPersalinan"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
			r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
                    <td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_GPAH.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="table-input"><input class="form-control text-left" type="number" data-name="TahunPersalinan"/></td>
					<td class="table-input">
						<select class="form-control" placeholder="Tempat Persalinan" data-datasource='@Url.Action("Select_TempatPersalinan", "RiwayatPersalinan")' data-name="Id_mTempatPersalinan"></select>
					</td>
					<td class="table-input">
						<select class="form-control" placeholder="Penolong Persalinan" data-datasource='@Url.Action("Select_PenolongPersalinan", "RiwayatPersalinan")' data-name="Id_mPenolongPersalinan"></select>
					</td>
					<td class="table-input">
						<select class="form-control" placeholder="Cara Persalinan" data-datasource='@Url.Action("Select_CaraPersalinan", "RiwayatPersalinan")' data-name="Id_mCaraPersalinan"></select>
					</td>
					<td class="table-input"><input class="form-control text-left" type="text" data-name="PenyulitKehamilan"/></td>
					<td class="table-input"><input class="form-control text-left" type="number" data-name="BBL"/></td>
					<td class="table-input">
						<select class="form-control" data-name="JenisKelamin">
							<option value="M">Laki-laki</option>
							<option value="F">Perempuan</option>
						</select>
					</td>
					<td class="table-input"><input class="form-control text-left" type="text" data-name="Keterangan"/></td>
				</tr>
			`;
			tbl.find('tbody').append(r);
			const tr = tbl.find('tbody').find('tr:last');
			initDetailTr(tr, model, 'table1', isetup_GPAH);
		};

        isetup_GPAH.addDetail = () => {
            isetup_GPAH.addTableValue_RiwayatPersalinan({ Id : idGenerator() }, {});
        }

        isetup_GPAH.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }

            isetup_AsesmenDokterRI.setDiagnosaUtama();
        };

        isetup_GPAH.edit();
    });
</script>