@using System.Security.Claims
@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var dokter = ViewData["Dokter"] as EmrPuriBunda.Models.DokterModel; 
}

<div id="table_CatatanKeperawatan">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="btn btn-sm" href="javascript:isetup_CatatanKeperawatan.new()"><i class="icon-plus22 mr-2"></i> Tambah Catatan</a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_CatatanKeperawatan.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-6 form-group">
                <label for="Periode">Periode</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <input type="checkbox" onchange="itable_CatatanKeperawatan.onAllPeriode(this)" aria-label="All Periode" checked>
                    </div>
                    <input type="date" id="table_CatatanKeperawatan_DariTanggal" data-itable-filter="DariTanggal" class="form-control all-periode-change" value="@pasien.Tanggal.ToString("yyyy-MM-dd")" />
                    <input type="date" id="table_CatatanKeperawatan_SampaiTanggal" data-itable-filter="SampaiTanggal" class="form-control all-periode-change" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <input type="hidden" id="table_CatatanKeperawatan_NRM" data-itable-filter="NRM" value="@pasien.NRM" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <label for="table_Cppt_Profesi">Profesi</label>
                <input type="text" id="table_CatatanKeperawatan_table_Cppt_Profesi" data-itable-filter="Profesi" placeholder="Profesi" class="form-control" value="" />
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="JenisForm">Jenis Form</label>
                    <select placeholder="Jenis Form" id="table_CatatanKeperawatan_table_JenisForm" data-itable-filter="JenisForm" name="Id_mJenisCatatanPerawat" class="open-reset form-control text-left" data-datasource='@Url.Action("mJenisCatatanKeperawatan", "CatatanKeperawatan")' onchange="itable_CatatanKeperawatan.refresh()"></select>
                </div>
            </div>
        </div>
        <input type="submit" class="d-none" />
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-indigo-400">
                    <th class="sorting text-center" data-itable-sorting="0" style="width: 140px">Tanggal Pengambilan Form</th>
                    <th class="text-center" style="width: 160px">Profesi</th>
                    <th class="text-center" style="width: 160px">Jenis Form</th>
                    <th class="text-center">Tindakan</th>
                    <th class="text-center" style="width: 234px">Verifikasi</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_CatatanKeperawatan;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_CatatanKeperawatan = new iTable({
            id: 'table_CatatanKeperawatan',
            url: '@Url.Action("Datas_CatatanKeperawatan", "CatatanKeperawatan")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        const sV = `{id: ${v.id}, lastUpdate: '${v.lastUpdate}', pembuat_Nama: '${v.pembuat_Nama}'}`;

                        const allowEdit = itable_CatatanKeperawatan.userLogin == v.userId;

                        // JS Columns
                        tbody += `<td class="text-center align-top">${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm') ?? '-'}</td>`;
                        tbody += `<td class="text-center align-top">${v.profesiRole ?? '-'}<br/>${v.sectionName}</td>`;
                        tbody += `<td class="text-center align-top">${v.id_mJenisCatatanPerawat_Text ?? '-'}</td>`;
                        tbody += `<td class="text-left align-top">${replaceLineBreak(v.tindakan) ?? '-'}</td>`;

                        //VERIFIKASI
                        tbody += `<td class="text-left align-top">`;
                        tbody += `<div>`;

                        if (allowEdit || v.adaPerubahan) {
                            tbody += `
                            <div class="form-group">
                                <div class="btn-group d-flex" role="group">
                                    ${allowEdit ? `<a href="javascript:isetup_CatatanKeperawatan.edit(${v.id})" class="btn btn-primary w-100"><i class="icon-pencil7 mr-1"></i>Edit</a>` : ''}
                                    ${v.adaPerubahan ? `<a href="javascript:itable_CatatanKeperawatanHistory.show(${v.id})" class="btn btn-danger w-100"><i class="icon-history mr-1"></i>Riwayat</a>` : ''}
                                </div>
                            </div>`;
                        }

                        tbody += `
                                <div class="form-group">
                                    <p>Dibuat oleh: </p>
                                    <p>
                                        <b>${v.pembuat_Nama}<br/>(${dateToString(v.lastUpdate, 'dd-MM-yyyy HH:mm') ?? '-'})</b>
                                    </p>
                                </div>`;

                        tbody += `<div class="form-group">`

                        if (v.perluSerahTerima) {
                            if (v.sudahSerahTerima) {
                                const serahTerima = v.waktuSerahTerima ? `<br/>(${dateToString(v.waktuSerahTerima, 'dd-MM-yyyy HH:mm')})` : '';
                                tbody += `<label>Diterima oleh:<br/><b>${v.penerima_Nama}${serahTerima}</b></label>`;
                            } else {
                                tbody += `<label>Perlu diterima:</label>`;
                                if (!allowEdit) {
                                    tbody += `<a href="javascript:itable_CatatanKeperawatan.serahTerima(${sV})" class="btn btn-success w-100"><i class="icon-checkmark3 mr-2"></i>Serah Terima</a>`;
                                } 
                            }
                        }
                        tbody += `</div>`

                        tbody += `<div class="form-group">`
                        if (v.perluDoubleCheck) {
                            if (v.sudahDoubleCheck) {
                                const doubleCheck = v.waktuDoubleCheck ? `<br/>(${dateToString(v.waktuDoubleCheck, 'dd-MM-yyyy HH:mm')})` : '';
                                tbody += `<label>Diperiksa ulang :<br/><b>${v.doubleCheck_Nama}${doubleCheck}</b></label>`;
                            } else {
                                tbody += `<label>Perlu periksa ulang:</label>`;
                                if (!allowEdit) {
                                    tbody += `<a href="javascript:itable_CatatanKeperawatan.doubleCheck(${sV})" class="btn btn-success w-100"><i class="icon-checkmark3 mr-2"></i>Double Check</a>`;
                                }    
                            }
                        }
                        tbody += `</div>`

                        tbody += `</div>`;
                        tbody += `</td>`;

                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_CatatanKeperawatan.userLogin = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';

        itable_CatatanKeperawatan.refresh();

        itable_CatatanKeperawatan.serahTerima = model => {

            const text = `Dengan menekan tombol ya, maka saya <b>@dokter.NamaDOkter</b> menyatakan bahwa telah melaksanakan penerimaan pasien a/n <b>@pasien.NamaPasien</b> no.RM <b>@pasien.NRM</b> berdasarkan catatan yang dibuat oleh <b>${model.pembuat_Nama}</b> <b>(${dateToString(model.lastUpdate, "dd-MM-yyyy HH:mm") ?? "-"})</b>
                        <br/><br/>Terima pasien ? (N.b. : penerimaan pasien tidak bisa dibatalkan)`;

            showConfirmationDialog(text, () => {
                $.ajax({
                    url: `@Url.Action("SerahTerimaCatatanKeperawatan", "CatatanKeperawatan")?id=${model.id}`,
                    type: 'PUT',
                    data: {},
                    success: r => {
                        if (!r.success) {
                            alertError(r.message);
                        }
                        if (r.success) {
                            itable_CatatanKeperawatan.refresh();
                        }
                    },
                    error: xhr => {
                        alertError(xhr);
                    },
                    beforeSend: () => {
                        loading(true);
                    },
                    complete: () => {
                        loading(false);
                    },
                });
            });
        };

        itable_CatatanKeperawatan.doubleCheck = model => {

            const text = `Dengan menekan tombol ya, maka saya <b>@dokter.NamaDOkter</b> menyatakan bahwa telah melakukan pemeriksaan kembali kepada pasien a/n <b>@pasien.NamaPasien</b> no.RM <b>@pasien.NRM</b>  berdasarkan permintaan yang dibuat oleh <b>${model.pembuat_Nama}</b> <b>(${dateToString(model.lastUpdate, "dd-MM-yyyy HH:mm") ?? "-"})</b>
                        <br/><br/>
                        Pasien sudah diperiksa ulang? (N.b. : double check tidak bisa dibatalkan)`;

            showConfirmationDialog(text, () => {
                $.ajax({
                    url: `@Url.Action("DoubleCheckCatatanKeperawatan", "CatatanKeperawatan")?id=${model.id}`,
                    type: 'PUT',
                    data: {},
                    success: r => {
                        if (!r.success) {
                            alertError(r.message);
                        }
                        if (r.success) {
                            itable_CatatanKeperawatan.refresh();
                        }
                    },
                    error: xhr => {
                        alertError(xhr);
                    },
                    beforeSend: () => {
                        loading(true);
                    },
                    complete: () => {
                        loading(false);
                    },
                });
            });
        };

        itable_CatatanKeperawatan.onAllPeriode = (cb) => {

            let inputs = $(itable_CatatanKeperawatan.id).find(".all-periode-change");

            if (cb.checked === false) {
                inputs.val("");
                itable_CatatanKeperawatan.refresh();
            }

            inputs.prop("disabled", !cb.checked)
        }

        customJS_CatatanKeperawatan();
    });

    const customJS_CatatanKeperawatan = () => {
        const selectJenis = $('#table_CatatanKeperawatan_table_JenisForm')
        mahasSelect2(selectJenis, selectJenis.data('datasource'), null)
    };
</script>

<!--partial-->