<!-- CSS CUSTOM -->
@{ var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="setup_CatatanKeperawatan" class="card d-none">

    <div class="card-header header-elements-inline bg-white">
        <h6 class="card-title">Input Catatan Tindakan </h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" href="javascript:isetup_CatatanKeperawatan.toggleForm(false);"><i class="icon-cross3"></i></a>
            </div>
        </div>
    </div>

    <form autocomplete="off" class="card-body">
        @Html.AntiForgeryToken()

        <input type="hidden" id="setup_CatatanKeperawatan_id" name="Id" />
        <input type="hidden" id="setup_CatatanKeperawatan_input1" name="NoReg" />
        <input type="hidden" id="setup_CatatanKeperawatan_nrm" name="NRM" />

        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="JenisForm">Jenis Form</label>
                        <select placeholder="Jenis Form" id="setup_CatatanKeperawatan_JenisForm" name="Id_mJenisCatatanPerawat" class="open-reset form-control text-left" data-datasource='@Url.Action("mJenisCatatanKeperawatan", "CatatanKeperawatan")'></select>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="Tanggal">Tanggal</label>
                        <input type="datetime-local" id="setup_CatatanKeperawatan_Tanggal" name="Tanggal" class="form-control text-left readonly-only-type-put" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <div class="row">
                            <label for="Tindakan" class="col-md-4 mt-2">Tindakan</label>
                            <div class="col-md text-right mb-1">
                                <select class="form-control text-left select-template-asesmen" data-template-target="#setup_CatatanKeperawatan_Tindakan" data-template-jenis="24"></select>
                            </div>
                        </div>
                        <textarea id="setup_CatatanKeperawatan_Tindakan" name="Tindakan" class="form-control text-left" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label></label>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_CatatanKeperawatan_PerluSerahTerima" name="PerluSerahTerima" type="checkbox" class="form-check-input">
                                Operan Pasien (Hand Over)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_CatatanKeperawatan_PerluDoubleCheck" name="PerluDoubleCheck" type="checkbox" class="form-check-input">
                                Tindakan Resiko Tinggi
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2"></i>Save</button>

        </div>
    </form>
</div>

<script>
    let isetup_CatatanKeperawatan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_CatatanKeperawatan = new iSetup({
            id: 'setup_CatatanKeperawatan',
            url : '@Url.Action("ActionCatatanKeperawatan", "CatatanKeperawatan")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_CatatanKeperawatan),

                }
            }),
            success: (r, t) => {
                if (r.success) {

                    $(isetup_CatatanKeperawatan.id).find("form")[0].reset();

                    $(isetup_CatatanKeperawatan.id).find("select").val(null).trigger('change');

                    showAlert('Data berhasil disimpan.', 'success');

                    isetup_CatatanKeperawatan.toggleForm(false);
                    itable_CatatanKeperawatan.refresh();
                }
            },
            stateDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                isetup_CatatanKeperawatan.toggleForm(true);
            }
        });

        isetup_CatatanKeperawatan.new = () => {
            const form = $(isetup_CatatanKeperawatan.id).find('form')[0];

            isetup_CatatanKeperawatan.toggleForm(true);
            isetup_CatatanKeperawatan.openState('POST', {})

            form["NoReg"].value = '@pasien.NoReg';
            form["NRM"].value = '@pasien.NRM';
            form["Tanggal"].value = dateToString(new Date(), 'yyyy-MM-ddTHH:mm');

            goToTop(isetup_CatatanKeperawatan.id);
        };

        isetup_CatatanKeperawatan.edit = id => {
            const form = $(isetup_CatatanKeperawatan.id).find('form')[0];

            isetup_CatatanKeperawatan.openState('PUT', {
                Id: id
            })

            form['Id'].value = id;

            goToTop(isetup_CatatanKeperawatan.id);
        };

        isetup_CatatanKeperawatan.toggleForm = show => {
            const jForm = $(isetup_CatatanKeperawatan.id);

            if (show) {
                jForm.removeClass('d-none');
            } else {
                jForm.addClass('d-none');
            }
        }
    });
</script>

@await Html.PartialAsync("~/Views/CatatanKeperawatan/ListCatatanKeperawatan.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/CatatanKeperawatan/HistoryCatatanKeperawatan.cshtml", new ViewDataDictionary(ViewData))