@{
    ViewData["Title"] = "User";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_User">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">User</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="btn btn-sm btn-danger" href="javascript:itable_User.generateUser()"><i class="icon-plus22 mr-2"></i> Generate User From Temp Table</a>
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_User.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_User.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">				<div class="form-group">					<label for="Filter">Filter</label>					<input type="text" id="Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" onchange="itable_User.pageIndex = 0;" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">User Name</th>
                    <th class="sorting text-left" data-itable-sorting="1">Profesi</th>
                    <th class="sorting text-left" data-itable-sorting="2">Email</th>
                    <th class="text-left">Roles</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_User;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_User = new iTable({
            id: 'table_User',
            url: '@Url.Action("Datas_User", "User")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns                        tbody += `<td class="text-left">${v.userName}</td>`;                        tbody += `<td class="text-left">${v.profesi}</td>`;						tbody += `<td class="text-left">${v.email ?? '-'}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						tbody += `<a class="dropdown-item" href="javascript:isetup_User.openModal('GET',{ Id : '${v.id}' })"><i class="icon-eye"></i> Details</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_User.openModal('PUT',{ Id : '${v.id}' })"><i class="icon-pencil"></i> Edit</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_User.delete({ Id : '${v.id}' }, itable_User)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_User.generateUser = () => {
            $.ajax({
                url: `@Url.Action("ActionGenerateUser", "User")`,
                type: 'POST',
                data: {},
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    }
                    if (r.success) {

                        showAlert('Berhasil mengenerate user.', 'success');

                        itable_User.refresh();
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        itable_User.refresh();

        customJS_User();
    });

    const customJS_User = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupUser"/>