<div id="modalLookup_dokter" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Profesi</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md-3">							<div class="form-group">								<label for="modalLookup_userDokter_lookup1_Nama">Nama</label>								<input type="text" id="modalLookup_userDokter_lookup1_Nama" data-itable-filter="Nama" placeholder="Nama" class="form-control" value="" />							</div>						</div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-single">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">ID</th>                                <th class="sorting text-left" data-itable-sorting="1">Nama</th>								<th class="sorting text-left" data-itable-sorting="2">Alamat</th>								<th class="sorting text-left" data-itable-sorting="3">No Kontak</th>								<th class="sorting text-left" data-itable-sorting="4">Active</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_dokter;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_dokter = new iTable({
            id: 'modalLookup_dokter',
            url: '@Url.Action("LookUp_Dokter")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.dokterID}</td>`;						tbody += `<td class="text-left">${v.namaDOkter}</td>`;						tbody += `<td class="text-left">${v.alamat}</td>`;						tbody += `<td class="text-left">${v.noKontak}</td>`;						tbody += `<td class="text-left"><input type="checkbox" disabled ${v.active && 'checked'}/></td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                isetup_User.models['user_lookupDokter'] = v[0];

                triggerModels(isetup_User, 'user_lookupDokter');
            }
        });
    });
</script>