<!-- CSS CUSTOM -->

<div id="modal_User" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>User</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="input5" name="Id" />
                    </div>
                    <div class="form-group">
                        <label for="input1">Username</label>
                        <input required type="text" id="input1" name="UserName" class="form-control text-left" />
                    </div>
                    <div class="form-group">
                        <label for="input2">Email</label>
                        <input type="text" id="input2" name="Email" class="form-control text-left" />
                    </div>

                    <div class="form-group show-only-type-get">
                        <label for="user_dokterId">Id Profesi</label>
                        <input data-model="user_lookupDokter.dokterID" type="text" id="user_dokterId" name="IdProfesi" class="form-control text-left" />
                    </div>
                    <div class="form-group">
                        <label for="user_lookupNamaDokter">Profesi</label>
                        <div class="input-group">
                            <input required data-model="user_lookupDokter.namaDOkter" type="text" id="user_lookupNamaDokter" name="Profesi" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_dokter.openModal()"><i class="icon-search4"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group show-only-type-post">
                        <label for="input3">Password</label>
                        <input type="password" id="input3" name="Password" class="form-control text-left" />
                    </div>
                    <div class="form-group show-only-type-post">
                        <label for="input4">Ulangi Password</label>
                        <input type="password" id="input4" name="UlangiPassword" class="form-control text-left" />
                    </div>

                    <div>
                        <div class="form-group table-responsive">
                            <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="roles">
                                <thead>
                                    <tr class="bg-slate">
                                        <th class="table-button">
                                            <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_role.openModal()">
                                                <i class="icon-plus22"></i>
                                            </button>
                                        </th>
                                        <th>Role Name</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-warning show-only-type-put mr-2" onclick="isetup_User.resetPassword()">Reset Password</button>
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_User;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_User = new iSetup({
            id: 'modal_User',
            url : '@Url.Action("ActionUser")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_User),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_User.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);
                (r.data.roles || []).forEach(x => {
					isetup_User.addTableValue_roles({
						UserId: x.userId,
						RoleId: x.roleId
					}, x);
				});
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {

				}
			}
        });

        isetup_User.addTableValue_roles = (key, model) => {
			const tbl = $(isetup_User.id).find(`.table-detail[data-name="roles"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
			r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="d-none"><input type="text" data-name="RoleId"/></td>
					<td data-name="RoleName"></td>
				</tr>
			`;
			tbl.find('tbody').append(r);
			const tr = tbl.find('tbody').find('tr:last');
			initDetailTr(tr, model, 'roles', isetup_User);
		};

        isetup_User.resetPassword = () => {

            const UserId = $(isetup_User.id).find('form')[0]["Id"].value;

            showConfirmationDialog("Apakah anda yakin ingin mereset password? (Password default: 01)", () =>
            {
                $.ajax({
                    url: `@Url.Action("ResetPassword", "User")`,
                    data: {
                        UserId
                    },
                    type: 'POST',
                    success: r => {
                        if (!r.success) {
                            alertError(r.message);
                        }
                        if (r.success) {
                            showAlert("Reset password berhasil.", "success");
                        }
                    },
                    error: xhr => {
                        alertError(xhr);
                    },
                    beforeSend: () => {
                        loading(true);
                    },
                    complete: () => {
                        loading(false);
                    },
                });
            });

        }

        customJSSetup_User();
    });

    const customJSSetup_User = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="LookUp_role"/>
<partial name="LookUp_dokter" />