@using System.Security.Claims
@{
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<!-- CSS CUSTOM -->
<div id="setup_AsesmenDokterRJ">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <input type="hidden" name="NoReg" />
        <input type="hidden" name="NRM" />
        <img id="IGD_Img_Gambar2" src="@Url.Content("images/Paparan.png")" class="d-none" />
        <img id="IGD_Img_Gambar_Load" class="d-none" />

        <div class="row">

            @*Kedatangan*@

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_AsesmenDokterRJ_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenDokterRJ_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_AsesmenDokterRJ_AlasanKunjungan">Alasan kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenDokterRJ_AlasanKunjungan" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenDokterUGD")'></select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md">

                <div class="row">
                    <p class="text-dark h3 text-left col-md-3">Subjektif</p>
                    <div class="col-md text-right">
                        <button type="button" onclick="isetup_AsesmenDokterRJ.sadurAnamnesis()" class="btn btn-sm bg-success">
                            <i class="icon-paste mr-2"></i>
                            Sadur Anamnesis & Pemeriksaan
                        </button>
                        <button type="button" onclick="isetup_AsesmenDokterRJ.loadIntegrasiPengkajianPerawat()" class="btn btn-light btn-sm">
                            <i class="icon-sync"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterRJ_input6" class="col-md-4 mt-2">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRJ_input6" data-template-jenis="2"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterRJ_input6" name="Anamnesis" class="form-control text-left" rows="7"></textarea>
                    <div class="row mt-1">
                        <div class="col-md">
                            <div class="mt-2">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenDokterRJ_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                        Autoanamnesis
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenDokterRJ_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                        Alloanamnesis
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <select placeholder="Hubungan dengan pasien" id="setup_AsesmenDokterRJ_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenDokterUGD")'></select>
                        </div>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="card border-top-indigo">
                        <div class="card-header pb-1">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokterRJ_Card_Riwayat" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="false">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokterRJ_Card_Riwayat" class="card-body collapse">
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRJ_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea id="setup_AsesmenDokterRJ_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRJ_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea id="setup_AsesmenDokterRJ_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRJ_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea id="setup_AsesmenDokterRJ_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Riwayat*@

            <div class="col-md">

                <div class="row">
                    <p class="text-dark h3 text-left col-md">Integrasi Pengkajian Perawat</p>
                </div>

                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterRJ_PerawatSO">Anamnesis & Pemeriksaan Perawat</label>
                        <div style="height: 280px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterRJ_SubjektifObjektif">

                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <label for="setup_AsesmenDokterRJ_PerawatDaftarMasalah">Daftar masalah & rekomendasi</label>
                        <div style="height: 280px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterRJ_PerawatDaftarMasalah">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        @*Objektif*@

        <div class="row">

            <div class="col-md">

                <h3>Objektif</h3>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterRJ_PemeriksaanFisik" class="col-md-4 mt-2">Pemeriksaan Fisik</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRJ_PemeriksaanFisik" data-template-jenis="3"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterRJ_PemeriksaanFisik" name="PemeriksaanFisik" class="form-control text-left" rows="5"></textarea>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokterRJ_Card_BodyDiagram" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="false">Body Diagram</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokterRJ_Card_BodyDiagram" class="card-body collapse">
                            <div class="form-group text-center">
                                <img crossorigin="anonymous" class="ipainter" name="BodyDiagramView" data-src="@Url.Content("images/Paparan.png")" width="300" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterRJ_PemeriksaanPenunjang" class="col-md-4 mt-2">Pemeriksaan Penunjang</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRJ_PemeriksaanPenunjang" data-template-jenis="4"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterRJ_PemeriksaanPenunjang" name="PemeriksaanPenunjang" class="form-control text-left" rows="5"></textarea>
                </div>
            </div>

            <div class="col-md">

                <h3>Asesmen</h3>

                <div class="form-group">
                    <label for="setup_AsesmenDokterRJ_DiagnosaUtamaKeterangan">Diagnosa</label>
                    <textarea id="setup_AsesmenDokterRJ_DiagnosaUtamaKeterangan" name="DiagnosaUtamaKeterangan" class="form-control text-left"></textarea>
                </div>

                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tableDiagnosa">
                            <thead>
                                <tr class="bg-slate">
                                    <th class="table-button">
                                        <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_lookUpDiagnosa.openModal()">
                                            <i class="icon-plus22"></i>
                                        </button>
                                    </th>
                                    <th></th>
                                    <th class="d-none">Kode</th>
                                    <th>Diagnosa</th>
                                    <th>Jenis</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="form-check mt-1">
                        <input id="setup_AsesmenDokterRJ_DiagnosisKompleks" name="DiagnosisKompleks" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="setup_AsesmenDokterRJ_DiagnosisKompleks">Diagnosis Kompleks</label>
                    </div>
                </div>

            </div>

            <div class="col-md">

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterRJ_input2" class="text-dark h4 col-md-4">Planning</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRJ_input2" data-template-jenis="5"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterRJ_input2" name="Planning" class="form-control text-left" rows="8"></textarea>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokterRJ_Card_Instruksi" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="false">Instruksi</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokterRJ_Card_Instruksi" class="card-body collapse">
                            <div class="form-group text-center">
                                <textarea id="setup_AsesmenDokterRJ_input3" name="Instruksi" class="form-control text-left" rows="9"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">

            <div class="form-check form-check-inline">
                <input id="setup_AsesmenDokterRJ_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
                <label class="form-check-label mt-1" for="setup_AsesmenDokterRJ_IsiDenganBenar">
                    Saya telah mengisi asesmen dengan benar
                </label>
            </div>

            <button type="button" onclick="isetup_AsesmenDokterRJ.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2 user-validation"></i>Save</button>
        </div>

    </form>
</div>

<script>
    let isetup_AsesmenDokterRJ;

    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenDokterRJ = new iSetup({
            id: 'setup_AsesmenDokterRJ',
            url: '@Url.Action("ActionAsesmenDokterRJ", "AsesmenDokterRJ")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: getModelFromForm(e.target, isetup_AsesmenDokterRJ)
            }),
            success: (r, t) => {
                if (r.success) {

                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenDokterRJ.load();
                }
            },
            modalDataOnSuccess: (r, t) => {},
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    (r.data.tableDiagnosa || []).forEach(x => {
                        isetup_AsesmenDokterRJ.addTableValue_tableDiagnosa({
                            KodeICD: x.kodeICD
                        }, x);
                    });

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenDokterRJ.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenDokterRJ.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenDokterRJ.initModel();
                }
            },
            modalOnReady: (e, t) => {
            }
        });

        isetup_AsesmenDokterRJ.edit = () => {
            isetup_AsesmenDokterRJ.openState('PUT', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterRJ.load = () => {

            isetup_AsesmenDokterRJ.openState('GET', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterRJ.new = () => {
            isetup_AsesmenDokterRJ.openState('POST', {});

            const form = $(isetup_AsesmenDokterRJ.id).find('form')[0];
            form['NoReg'].value = '@pasien.NoReg';
            form['NRM'].value = '@pasien.NRM';

            isetup_AsesmenDokterRJ.initModel();
        }

        isetup_AsesmenDokterRJ.loadIntegrasiPengkajianPerawat = (model) => {

            $.ajax({
                url: `@Url.Action("ActionAsesmenPerawatRJ", "AsesmenPerawatRJ", new { NoReg = pasien.NoReg })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan') return;
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        isetup_AsesmenDokterRJ.sadurAnamnesisModel = model;

                        $(isetup_AsesmenDokterRJ.id).find('#setup_AsesmenDokterRJ_SubjektifObjektif').html(
                            `
                            <h5 class="mb-0"><b>Anamnesis</b></h5>
                            <p>${replaceLineBreak(model.anamnesis ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Alergi:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatAlergi ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Penyakit Dahulu:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPenyakitDahulu ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Pengobatan:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPengobatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Pemeriksaan Fisik Perawat</b></h5>
                            <p>${replaceLineBreak(model.objektif_PemeriksaanFisik ?? '-')}</p>
                            `
                        );

                        $(isetup_AsesmenDokterRJ.id).find('#setup_AsesmenDokterRJ_PerawatDaftarMasalah').html(
                            `
                            <h5 class="mb-0"><b>Diagnosis Keperawatan</b></h5>
                            <p>${replaceLineBreak(model.asesmen_MasalahKeperawatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Rekomendasi</b></h5>

                            <p class="mb-0"><b><i>Planning:</i></b></p
                            <p>${replaceLineBreak(model.planning ?? '-')}</p>

                            <p class="mb-0"><b><i>Instruksi:</i></b></p>
                            <p>${replaceLineBreak(model.instruksi ?? '-')}</p>
                             `
                        );
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_AsesmenDokterRJ.sadurAnamnesis = () => {

            if (isetup_AsesmenDokterRJ.type == 'GET') return;

            const model = isetup_AsesmenDokterRJ.sadurAnamnesisModel;
            const form = $(isetup_AsesmenDokterRJ.id).find('form')[0];

            form['Anamnesis'].value = model.anamnesis;
            form['RiwayatAlergi'].value = model.riwayatAlergi;
            form['RiwayatPenyakitDahulu'].value = model.riwayatPenyakitDahulu;
            form['RiwayatPengobatan'].value = model.riwayatPengobatan;
            form['PemeriksaanFisik'].value = model.objektif_PemeriksaanFisik;

            $(isetup_AsesmenDokterRJ.id).find('#setup_AsesmenDokterRJ_AlasanKunjungan').setSelect2Value(model.id_mAlasanKunjungan, model.id_mAlasanKunjungan_Text);
        }

        isetup_AsesmenDokterRJ.addTableValue_tableDiagnosa = (key, model) => {
            const tbl = $(isetup_AsesmenDokterRJ.id).find(`.table-detail[data-name="tableDiagnosa"]`);
            const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
            if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
                alertWarning('Data already exists');
                return;
            }
            let r = '';
            r += `
				<tr data-key='${skey}'>
                    <td class="d-none"><input type='hidden' data-name='NoUrut'/></td>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
                    <td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_AsesmenDokterRJ.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="table-input d-none"><input class="form-control text-left" type="text" data-name="KodeICD" readonly/></td>
					<td data-name="KodeICD_Text"></td>
                    <td data-jenis="Jenis" class="text-center">Jenis</td>
				</tr>
			`;
            tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'tableDiagnosa', isetup_AsesmenDokterRJ);

            isetup_AsesmenDokterRJ.setDiagnosaUtama();
        };

        isetup_AsesmenDokterRJ.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }

            isetup_AsesmenDokterRJ.setDiagnosaUtama();
        };

        isetup_AsesmenDokterRJ.setDiagnosaUtama = () => {
            $(isetup_AsesmenDokterRJ.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr').find('td:last').html('<a href="#" class="badge badge-secondary">Sekunder</a>')
            $(isetup_AsesmenDokterRJ.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr:first td:last').html('<span class="badge badge-primary">Utama</span>');
        }

        isetup_AsesmenDokterRJ.isModified = () => {
            const setup = isetup_AsesmenDokterRJ;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenDokterRJ.initModel = () => {
            const setup = isetup_AsesmenDokterRJ;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenDokterRJ;
            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];

                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;

                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenDokterRJ();
    });

    const customJSSetup_AsesmenDokterRJ = () => {

        @if(pengisianEMR.AsesmenDokter == true)
        {
            @:isetup_AsesmenDokterRJ.load();
        }
        else
        {
            @:isetup_AsesmenDokterRJ.new();
        }

        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenDokterRJ.loadIntegrasiPengkajianPerawat();
        }

    };
</script>

@await Html.PartialAsync("~/Views/AsesmenDokterRJ/LookUp_lookupDiagnosa.cshtml")
