@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
}

<div id="table_Obat">
    <div class="card-header header-elements-inline pt-2">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_Obat.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />
        <input type="submit" class="d-none" />
    </form>
    <div>
        <table class="table table-hover dataTable table-striped">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30px;">Action</th>
                    <th class="sorting text-center" data-itable-sorting="0">Tanggal</th>
                    <th class="sorting text-left" data-itable-sorting="1"  style="width: 30%;">Nama Dokter</th>
                    <th class="sorting text-left" data-itable-sorting="2" style="width: 50%;" >Deskripsi Obat</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->
<!--<div id="modal_obatDetail" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><label class="itable-title-type"></label>Detail Obat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                await Html.PartialAsync("~/Views/ObatDetail/Index.cshtml", new ViewDataDictionary(ViewData))
            </div>
        </div>
    </div>
</div>-->

<script>
    let itable_Obat;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_Obat = new iTable({
            id: 'table_Obat',
            url: '@Url.Action("Datas_Obat", "Obat")',
            urlType:{
                DELETE : '@Url.Action("Obat")'
            },
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        //var header = `{ noResep : '${v.noResep}', noBukti :'${v.noBukti}', dokter: '${v.namaDOkter}' }`

                        // JS Action
                        tbody += `<td class="text-center"><a class="icon-eye" href="javascript:isetup_DetailObat.openModal('GET',{ NoBukti : '${v.noBukti}' })"></a></td>`;
                        // ----- JS Columns

                        // JS Columns						tbody += `<td class="text-center">${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm')}</td>`;						tbody += `<td class="text-left">${v.namaDOkter}</td>`;						tbody += `<td class="text-left">${v.deskripsiObat}</td>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        //itable_Obat.showDetail = (header) => {

        //    let modalId = "#modal_obatDetail";

        //    $(modalId).css('z-index', 1060);
        //    $(modalId).modal({ backdrop: 'static' });
        //    $('.modal-backdrop.fade.show').last().css('z-index', $(modalId).css('z-index') - 1);

        //    itable_ObatDetail.fillHeader(header);
        //}

        itable_Obat.refresh();

        customJS_Obat();
    });

    const customJS_Obat = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<!--partial-->

@await Html.PartialAsync("~/Views/Obat/ObatDetail.cshtml", new ViewDataDictionary(ViewData))