@{
    ViewData["Title"] = "Dokumen Rekam Medis";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_DokumenRekamMedis">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Dokumen Rekam Medis</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_DokumenRekamMedis.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_DokumenRekamMedis.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md">
                <div class="form-group">
                    <label for="FilterPasien">Filter</label>
                    <input type="text" id="FilterPasien" data-itable-filter="Filter" placeholder="NRM atau nama pasien" class="form-control" value="" />
                </div>
            </div>
        </div>
        <input type="submit" class="d-none" />
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" style="width: 30px;"></th>
                    <th class="sorting text-left" data-itable-sorting="0">No Bukti</th>
                    <th class="sorting text-left" data-itable-sorting="1">NRM</th>
                    <th class="sorting text-left" data-itable-sorting="2">Nama Pasien</th>
                    <th class="sorting text-left" data-itable-sorting="3">Tgl Lahir</th>
                    <th class="sorting text-left" data-itable-sorting="4">Alamat</th>
                    <th class="sorting text-left" data-itable-sorting="5">Jenis Pasien</th>
                    <th class="sorting text-center" data-itable-sorting="6">Tanggal Dibuat</th>
                    <th class="text-center">Jenis Pelayanan</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_DokumenRekamMedis;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_DokumenRekamMedis = new iTable({
            id: 'table_DokumenRekamMedis',
            url: '@Url.Action("Datas_DokumenRekamMedis", "DokumenRekamMedis")',
            urlType:{
                DELETE : '@Url.Action("DokumenRekamMedis")'
            },
            orderBy: 6,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns

                        tbody += `<td class="text-center"><a href="@Url.Action("ViewDokumen", "DokumenRekamMedis")?nrm=${v.nrm}" class="fas fa-briefcase-medical"></a></td>`;

						tbody += `<td class="text-left">${v.noBukti}</td>`;
                        tbody += `<td class="text-left">${v.nrm}</td>`;
                        tbody += `<td class="text-left">${v.namaPasien}</td>`;
                        tbody += `<td class="text-left">${dateToString(v.tglLahir, 'dd/MM/yyyy') ?? '-'}</td>`;
                        tbody += `<td class="text-left">${v.alamat}</td>`;
                        tbody += `<td class="text-left">${v.jenisKerjasama}</td>`;
                        tbody += `<td class="text-center">${dateToString(v.tanggalDibuat, 'dd/MM/yyyy HH:mm') ?? '-'}</td>`;
						tbody += `<td class="text-center">${v.rawatJalan ? 'RJ' : v.rawatInap ? 'RI' : '-'}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action
						tbody += `<a class="dropdown-item" href="javascript:isetup_DokumenRekamMedis.openModal('GET',{ NoBukti : '${v.noBukti}' })"><i class="icon-eye"></i> Details</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:isetup_DokumenRekamMedis.openModal('PUT',{ NoBukti : '${v.noBukti}' })"><i class="icon-pencil"></i> Edit</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:itable_DokumenRekamMedis.delete({ NoBukti : '${v.noBukti}' }, itable_DokumenRekamMedis)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_DokumenRekamMedis.refresh();

        customJS_DokumenRekamMedis();
    });

    const customJS_DokumenRekamMedis = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupDokumenRekamMedis" />