<div id="modalLookup_lookupRegistrasi" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Registrasi</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" data-itable-filter="NRM" value=""/>
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NRM">NRM</label>
                                <input type="text" id="NRM" data-itable-filter="NRM" placeholder="NRM" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NoReg">NoReg</label>
                                <input type="text" id="NoReg" data-itable-filter="NoReg" placeholder="NoReg" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NoSEP">No SEP</label>
                                <input type="text" id="NoSEP" data-itable-filter="NoSEP" placeholder="No SEP" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NamaPasien">Nama Pasien</label>
                                <input type="text" id="NamaPasien" data-itable-filter="NamaPasien" placeholder="Nama Pasien" class="form-control" value="" />
                            </div>
                        </div>
                        <input type="submit" class="d-none"/>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-single">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">No Reg</th>
                                <th class="sorting text-left" data-itable-sorting="1">Tanggal</th>
                                <th class="sorting text-left" data-itable-sorting="10">No SEP</th>
                                <th class="sorting text-left" data-itable-sorting="2">NRM</th>
                                <th class="sorting text-left" data-itable-sorting="4">Nama Pasien</th>
                                <th class="sorting text-left" data-itable-sorting="9">Tgl Lahir</th>
                                <th class="sorting text-left" data-itable-sorting="6">Kerjasama</th>
                                <th class="sorting text-left" data-itable-sorting="8">Alamat</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_lookupRegistrasi;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_lookupRegistrasi = new iTable({
            id: 'modalLookup_lookupRegistrasi',
            url: '@Url.Action("LookUp_lookupRegistrasi")',
            orderBy: 1,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        const icon = v.jenisKelamin == "M" ? "fa-mars text-primary" : v.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                        // JS Columns
						tbody += `<td class="text-left">${v.noReg}</td>`;
                        tbody += `<td class="text-left">${dateToString(v.tglReg, 'dd-MM-yyyy') ?? '-'}</td>`;
                        tbody += `<td class="text-left">${v.noSEP ?? '-'}</td>`;
						tbody += `<td class="text-left">${v.nrm}</td>`;
                        tbody += `<td class="text-left"><span class='mr-1 fa ${icon}'></span>${v.namaPasien}</td>`;
                        tbody += `<td class="text-left">${dateToString(v.tglLahir, 'dd-MM-yyyy') ?? '-'}</td>`;
						tbody += `<td class="text-left">${v.jenisKerjasama}</td>`;
						tbody += `<td class="text-left">${v.alamat}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                isetup_DokumenRekamMedis.models['lookupRegistrasi'] = v[0];

                var model = v[0];

                triggerModels(isetup_DokumenRekamMedis, 'lookupRegistrasi');

                const jTarget = $(isetup_DokumenRekamMedis.id);

                jTarget.find('#tglReg').val(dateToString(model.tglReg, 'yyyy-MM-dd'));
                jTarget.find('#rawatInap').prop('checked', model.rawatInap === true);
                jTarget.find('#rawatJalan').prop('checked', model.rawatInap !== true)

                jTarget.find('#jenisKerjasama')
                    .append(`<option value="${model.jenisKerjasamaID}" selected='selected'>${model.jenisKerjasama}</option>`)
                    .val(model.jenisKerjasamaID).trigger('change');

                jTarget.find('#lookupPasien').val(model.nrm);
                jTarget.find('#setup_dokumenRekamMedis_namaPasien').val(model.namaPasien);
                jTarget.find('#setup_dokumenRekamMedis_alamat').val(model.alamat);


                const icon = model.jenisKelamin == "M" ? "fa-mars text-primary" : model.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                const spanJenisKelamin = `<span class="fa ${icon}"></span>`;
                const divJenisKelamin = jTarget.find('#setup_dokumenRekamMedis_jenisKelamin');

                divJenisKelamin.empty();
                divJenisKelamin.html(spanJenisKelamin);

                if (model.tglLahir) {
                    jTarget.find('#setup_dokumenRekamMedis_tanggalLahir').val(dateToString(model.tglLahir, 'yyyy-MM-dd'));
                }
            }
        });
    });
</script>