@{ 
    var arsipBpjs = User.IsInRole(EmrPuriBunda.Constant.RolesConstant.Casemic);
}

<div id="modal_DokumenRekamMedis" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">
                    Input Dokumen
                </h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md">

                            <div class="form-group">
                                <label for="noBukti">No Bukti</label>
                                <div class="input-group">
                                    <input required type="text" id="noBukti" name="NoBukti" class="form-control text-left" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary mahas-autoid disabled-only-type-get disabled-only-type-put disabled-only-type-post" data-url="@Url.Action("AutoId_noBukti")" type="button"><i class="icon-sync"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="setup_dokumenRekamMedis_tanggalLahir">Tanggal Lahir</label>
                                <input type="date" id="setup_dokumenRekamMedis_tanggalLahir" name="TglLahir" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                            </div>

                            <div class="form-group">
                                <label for="tglReg">Tgl Pulang</label>
                                <input type="date" class="form-control" data-model="lookupRegistrasi.tglReg" name="TglReg" id="tglReg" required />
                            </div>
                            <div class="form-group row">
                                <div class="col-md">
                                    <label for="tipePelayanan">Tipe Pelayanan</label>

                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="TipePelayanan" id="rawatInap" />
                                            <label class="form-check-label" for="rawatInap">Rawat Inap </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="TipePelayanan" id="rawatJalan" />
                                            <label class="form-check-label" for="rawatJalan">Rawat Jalan </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <label style="visibility: hidden">-</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input disabled-only-type-post disabled-only-type-put" type="checkbox" name="ArsipClaimBpjs" id="arsipClaimBpjs" @(arsipBpjs? "checked": "")/>
                                            <label class="form-check-label" for="arsipClaimBpjs">Arsip Claim Bpjs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jenisKerjasama">JenisKerjasama</label>
                                <select placeholder="JenisKerjasama" id="jenisKerjasama" name="JenisKerjasamaID" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_JenisKerjasama")'></select>
                            </div>
                            <div class="form-group">
                                <label for="catatan">Catatan</label>
                                <textarea id="catatan" name="Catatan" class="form-control text-left"></textarea>
                            </div>

                        </div>

                        <div class="col-md">

                            <div class="form-group row">
                                <div class="col-md">
                                    <label for="lookupPasien">NRM</label>
                                    <div class="input-group">
                                        <input required data-model="lookupPasien.nrm" type="text" id="lookupPasien" name="NRM" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookupPasien.openModal()"><i class="icon-search4"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <label for="lookupRegistrasi">No Reg</label>
                                    <div class="input-group">
                                        <input type="text" id="lookupRegistrasi" name="NoReg" class="form-control text-left readonly-only-type-post readonly-only-type-put" data-model="lookupRegistrasi.noReg" />
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookupRegistrasi.openModal()"><i class="icon-search4"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="setup_dokumenRekamMedis_namaPasien">Nama Pasien</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="setup_dokumenRekamMedis_jenisKelamin"></div>
                                    </div>
                                    <input data-model="lookupPasien.namaPasien" type="text" id="setup_dokumenRekamMedis_namaPasien" name="NamaPasien" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="setup_dokumenRekamMedis_alamat">Alamat</label>
                                <textarea data-model="lookupPasien.alamat" id="setup_dokumenRekamMedis_alamat" name="Alamat" class="form-control text-left readonly-only-type-post readonly-only-type-put" rows="1"></textarea>
                            </div>

                            <div id="setup_DokumenRekamMedis_detailDokumen_container" class="form-group">
                                <label class="form-label font-weight-semibold">Dokumen Tersimpan</label>

                                <div class="row" id="setup_DokumenRekamMedis_detailDokumen">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label font-weight-semibold">Dokumen</label>
                                <input type="file" id="fileRM" name="FileRM" class="file-input" accept="application/pdf" multiple="multiple" />
                                <span class="form-text text-muted">Hanya dapat mengunggah <code>.pdf</code></span>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_DokumenRekamMedis;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_DokumenRekamMedis = new iSetup({
            id: 'modal_DokumenRekamMedis',
            url: '@Url.Action("DokumenRekamMedis")',
            param: e => {
                var data = new FormData();

                data.append('NoBukti', e.target['NoBukti'].value,);

                const fileHasil = e.target['FileRM'].files;

                if (fileHasil.length > 0) {
                    for (var i = 0; i < fileHasil.length; i++) {
                        data.append(`FileRM`, fileHasil[i])
                    }
                }

                const m = getModelFromForm(e.target, isetup_DokumenRekamMedis);

                const jSetup = $(isetup_DokumenRekamMedis.id);

                m.RawatJalan = jSetup.find('#rawatJalan').prop('checked');
                m.RawatInap = jSetup.find('#rawatInap').prop('checked');

                Object.keys(m).forEach(x => {
                    data.append(x, m[x]);
                });

                if (isetup_DokumenRekamMedis.type == 'PUT') {

                    const aList = $(isetup_DokumenRekamMedis.id).find('#setup_DokumenRekamMedis_detailDokumen a[data-nourut]');

                    if (aList && aList.length > 0) {
                        $.each(aList, (i, v) => {
                            const noUrut = $(v).data('nourut');

                            if (noUrut) {
                                data.append('noUrutEdit', noUrut);
                            }
                        });
                    }
                }

                return data;

            },
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_DokumenRekamMedis.refresh();

                    showAlert('Data berhasil disimpan.', 'success')
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                jSetup = $(t.id)

                jSetup.find('#rawatJalan').prop('checked', r.data.rawatJalan == true);
                jSetup.find('#rawatInap').prop('checked', r.data.rawatInap == true);


                if (t.type == 'PUT' || t.type == 'GET') {

                    if (r.data) {
                        const icon = r.data.jenisKelamin == "M" ? "fa-mars text-primary" : r.data.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                        const spanJenisKelamin = `<span class="fa ${icon}"></span>`;
                        const divJenisKelamin = $(t.id).find('#setup_dokumenRekamMedis_jenisKelamin');

                        divJenisKelamin.html(spanJenisKelamin);
                    }

                    const jDetailDokumen = $(t.id).find('#setup_DokumenRekamMedis_detailDokumen');

                    jDetailDokumen.empty();

                    if (r.data.tablePathDokumen && r.data.tablePathDokumen.length > 0) {

                        let tbody = ``;

                        $.each(r.data.tablePathDokumen, (i, v) => {
                            tbody += `<div class="col-auto  btn-group btn-group-sm detail-dokumen" role="group">`;
                            tbody += `<a class="btn btn-light" data-filename="${v.fileName}" data-nourut="${v.noUrut}" data-url="${v.urlDokumen}" onclick="isetup_DokumenRekamMedis.showDetailDokumen(this)" href="javascript:void(0);">${v.fileName}</a>`;

                            if (t.type == 'PUT') {
                                tbody += `<a onclick="isetup_DokumenRekamMedis.deleteDetailDokumen(this)" href="javascript:void(0);" class="btn btn-danger"><span class="icon-trash"></span></a>`;
                            }

                            tbody += `</div>`;
                        });

                        jDetailDokumen.html(tbody)
                    } else {
                        jDetailDokumen.html(`<i class='ml-2'>- Tidak ada dokumen tersimpan -</i>`)
                    }

                }

            },
            modalOnReady: (e, t) => {
                const form = $(t.id).find('form')[0];

                if (t.type === 'POST') {
                    $(t.id).find('#setup_DokumenRekamMedis_detailDokumen_container').addClass('d-none');
                    $(t.id).find('#setup_DokumenRekamMedis_detailDokumen').empty();
                } else {
                    $(t.id).find('#setup_DokumenRekamMedis_detailDokumen_container').removeClass('d-none');
                }
            },
            otherAjax: {
                contentType: false,
                processData: false,
            }
        });

        isetup_DokumenRekamMedis.deleteDetailDokumen = (t) => {
            $(t).closest('.detail-dokumen').remove();
        }

        isetup_DokumenRekamMedis.showDetailDokumen = (t) => {
            const fileName = $(t).data('filename');
            const url = $(t).data('url');
            isetup_DokumenRekamMedisDetail.show(fileName, url);
        }

        customJSSetup_DokumenRekamMedis();
    });

    const customJSSetup_DokumenRekamMedis = () => {
        $('#kvFileinputModal').on('hidden.bs.modal', e => {
            if ($('.modal.show').length > 0)
                $('body').addClass('modal-open');
        });
    };
</script>

<partial name="LookUp_lookupPasien" />
<partial name="LookUp_lookupRegistrasi" />
<partial name="SetupDokumenRekamMedisDetail" />