@model EmrPuriBunda.Models.Pasien_PasienRekamMedis_ListModel

@{ ViewData["Title"] = Model.NRM;
    ViewData["Breadcrumb"] = new List<SelectListItem>()
{
        new SelectListItem("Dokumen Rekam Medis", Url.Action("Index", "DokumenRekamMedis")),
        new SelectListItem((string)ViewData["Title"], "active")
    };

    ViewData["Pasien"] = Model;

    var iconGender = Model.JenisKelamin == "M" ? "fa fa-mars text-primary" : Model.JenisKelamin == "F" ? "fa fa-venus text-danger" : "";

    var pasien = Model; }

<!-- CSS CUSTOM -->
<div class="card card-collapsed">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">[@Html.DisplayFor(x => x.NRM)] - @Html.DisplayFor(x => x.NamaPasien) <span class="ml-1 @iconGender"></span> @(Model.TglLahir?.ToString("dd/MM/yyyy") ?? "?") (@Html.DisplayFor(x => x.UmurTahun))</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    @*<dt class="col-md-3">NoReg</dt>
                        <dd class="col-md-9 ">@Html.DisplayFor(x => x.NoReg)</dd>*@

                    @*<dt class="col-md-3">NRM</dt>
                        <dd class="col-md-9 ">@Html.DisplayFor(x => x.NRM)</dd>*@

                    <dt class="col-md-3">Nama</dt>
                    <dd class="col-md-9 ">@(Model.NamaPasien ?? "-")</dd>

                    <dt class="col-md-3">Alias</dt>
                    <dd class="col-md-9">@(!string.IsNullOrEmpty(Model.NamaAlias)? Model.NamaAlias : "-")</dd>

                    <dt class="col-md-3">Gender</dt>
                    <dd class="col-md-9">
                        <span class="fa @(Model.JenisKelamin == "M"? "fa-mars text-primary" : Model.JenisKelamin == "F" ? "fa-venus text-danger" : "")"></span>
                        @(Model.JenisKelamin == "M"? "Laki-laki" : Model.JenisKelamin == "F" ? "Perempuan" : "")
                    </dd>

                    <dt class="col-md-3">Tempat, Tgl Lahir</dt>
                    <dd class="col-md-9 ">@(!string.IsNullOrEmpty(Model.TempatLahir) ? Model.TempatLahir + "," : "") @(Model.TglLahir?.ToString("dd/MM/yyyy") ?? "-")</dd>

                    <dt class="col-md-3">Umur</dt>
                    <dd class="col-md-9 ">@(Model.Umur ?? "-")</dd>

                    <dt class="col-md-3">Alamat</dt>
                    <dd class="col-md-9 ">@(Model.Alamat ?? "-")</dd>
                </dl>
            </div>

            <div class="col-md-6">

                <dl class="row">
                    <dt class="col-md-4">Telepon</dt>
                    <dd class="col-md-8 ">@(Model.Phone ?? "-")</dd>

                    <dt class="col-md-4">Agama</dt>
                    <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Model.Agama) ? Model.Agama : "-")</dd>

                    <dt class="col-md-4">Pekerjaan</dt>
                    <dd class="col-md-8 ">@(!string.IsNullOrEmpty(Model.Pekerjaan) ? Model.Pekerjaan : "-")</dd>

                    <dt class="col-md-4">Pendidikan</dt>
                    <dd class="col-md-8 ">@(Model.Pendidikan ?? "-")</dd>

                    @*<dt class="col-md-4">Suku/Etnis</dt>
                        <dd class="col-md-8 ">@(Model.Etnis ?? "-")</dd>*@

                    <dt class="col-md-4">Hambatan Komunikasi</dt>
                    <dd class="col-md-8 ">@(Model.HambatanBerkomunikasi ?? "-")</dd>

                    <dt class="col-md-4">Pasien VIP</dt>
                    <dd class="col-md-8 ">@(Model.PasienVVIP == true ? "VIP" : "-")</dd>
                </dl>

            </div>
        </div>

    </div>
</div>

<div class="row" id="table_DokumenRekamMedis">

    <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />

    <div class="col-md-3">
        <div class="card">

            <div class="card-header header-elements-inline">
                <h6 class="card-title">Dokumen RM</h6>
                <div class="header-elements">
                    <div class="list-icons">
                        @*<a class="list-icons-item" data-action="plus" href="javascript:isetup_DokumenRekamMedis.openModal('POST')"></a>*@
                        <a class="list-icons-item" data-action="reload" href="javascript:itable_DokumenRekamMedis.refresh()"></a>
                    </div>
                </div>
            </div>

            <div id="tree" class="card-body">
            </div>
        </div>
    </div>
    <div class="card col-md-9">

        <div class="card-header header-elements-sm-inline d-none" id="header_file_viewer">
            <h5 class="card-title">Dokumen</h5>
            <div class="header-elements">
                @*<a href="javascript:itable_DokumenRekamMedis.deleteFile();" class="btn btn-sm btn-danger mr-2"><i class="icon-trash"></i></a>*@
            </div>
        </div>

        <div id="table_DokumenRekamMedis_Catatan_Container" class="card-body d-none">

            <h5>Catatan</h5>
            <p id="table_DokumenRekamMedis_Catatan"></p>

        </div>

        <div id="edokumen_pdfContainer">

        </div>

    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_DokumenRekamMedis;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_DokumenRekamMedis = new iTable({
            id: 'table_DokumenRekamMedis',
            url: '@Url.Action("ViewDokumenRekamMedis", "DokumenRekamMedis")',
            urlType:{
                DELETE : '@Url.Action("ViewDokumenRekamMedis")'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    if (r.datas.length === 0) return;
                }

                const treeSource = r.datas.map(v => ({
                    title: v.tahun,
                    folder: true,
                    children: v.groupInfo.map(y => {
                        const result = {
                            title: y.info,
                            folder: true,
                            children: y.datas.length > 0 ? y.datas.map(z => ({
                                title: z.fileName,
                                key: JSON.stringify(z),
                            })) : []
                        };

                        if (y.groupClaim) {
                            var pushedItem = {
                                title: y.groupClaim.claimInfo,
                                folder: true,
                                children: y.groupClaim.datas.map(arsip => ({
                                    title: arsip.fileName,
                                    key: JSON.stringify(arsip)
                                }))
                            };

                            result.children.push(pushedItem);
                        }

                        return result;
                    })
                }));

                //const treeSource = r.datas.map(v => ({
                //    title: v.tahun,
                //    folder: true,
                //    children: v.groupInfo.map(y => ({
                //        title: y.info,
                //        folder: true,
                //        children: y.datas.map(z => ({
                //            title: z.fileName,
                //            key: JSON.stringify(z)
                //        }))
                //    }))
                //}));

                if (r.datas.length === 0) {
                    $(itable_DokumenRekamMedis.id).find("#tree").fancytree('option', 'source', []);
                } else {
                    $(itable_DokumenRekamMedis.id).find("#tree").fancytree('option', 'source', treeSource);
                }

                itable_DokumenRekamMedis.selectedFile = {};
                itable_DokumenRekamMedis.changeDokumen("");
                itable_DokumenRekamMedis.showCatatan();
                itable_DokumenRekamMedis.toggleDeleteButton(false);
            }
        });

        itable_DokumenRekamMedis.selectedFile = {};

        itable_DokumenRekamMedis.toggleDeleteButton = show => {

            if (show) {
                $(itable_DokumenRekamMedis.id).find('#header_file_viewer').removeClass('d-none');
            } else {
                $(itable_DokumenRekamMedis.id).find('#header_file_viewer').addClass('d-none');
            }

        }

        itable_DokumenRekamMedis.refresh();

        itable_DokumenRekamMedis.showCatatan = catatan => {
            const container = $(itable_DokumenRekamMedis.id).find('#table_DokumenRekamMedis_Catatan_Container');
            const jCatatan = $(itable_DokumenRekamMedis.id).find('#table_DokumenRekamMedis_Catatan');

            if (catatan) {
                jCatatan.text(catatan);
                container.removeClass("d-none");
            } else {
                jCatatan.empty();
                container.addClass("d-none");
            }
        }

        itable_DokumenRekamMedis.changeDokumen = (url) => {

            const container = $('#edokumen_pdfContainer');

            if (url) {
                container.html(`<object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>`);
            } else {
                container.empty();
            }
        };

        itable_DokumenRekamMedis.deleteFile = () => {
            const file = itable_DokumenRekamMedis.selectedFile;

            itable_DokumenRekamMedis.delete({ NoBukti: `${file.noBukti}`, NoUrut: `${file.noUrut}` }, itable_DokumenRekamMedis)

        }

        customJS_DokumenRekamMedis();
    });

    const customJS_DokumenRekamMedis = () => {

        $.ui.fancytree.debugLevel = 0;

        $(itable_DokumenRekamMedis.id).find("#tree").fancytree({
            source: [],
            click: (event, data) => {

                const node = data.node;
                    // Only for click and dblclick events:
                    // 'title' | 'prefix' | 'expander' | 'checkbox' | 'icon'
                //const targetType = data.targetType;

                if (!node.children) {
                    const key = node.key;

                    const dok = JSON.parse(key);
                    const url = dok.urlDokumen;

                    itable_DokumenRekamMedis.selectedFile = dok;

                    itable_DokumenRekamMedis.changeDokumen(url);
                    itable_DokumenRekamMedis.showCatatan(dok.catatan);
                    itable_DokumenRekamMedis.toggleDeleteButton(true);
                }

                // we could return false to prevent default handling, i.e. generating
                // activate, expand, or select events
            },
        });

    };
</script>