@using EmrPuriBunda.Mahas.Helpers;
@{ var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="setup_DischargeSummary">

    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <div class="">
            <p class="text-dark h2 text-center">Discharge Summary</p>
        </div>

        <input type="hidden" id="NoReg" name="NoReg" />
        <input type="hidden" id="NRM" name="NRM" />
        <input type="hidden" id="DokterId" name="DokterId" />
        <input type="checkbox" id="SimpanSementara" name="SimpanSementara" class="d-none" />

        <div class="row">

            <div class="col-md">

                <div class="form-group row">

                    <div class="col-md">
                        <label for="TanggalMasuk">Tanggal Masuk</label>
                        <input type="date" id="TanggalMasuk" name="TanggalMasuk" class="form-control text-left" />
                    </div>

                    <div class="col-md">
                        <label for="TanggalKeluar">Tanggal Keluar</label>
                        <input type="date" id="TanggalKeluar" name="TanggalKeluar" class="form-control text-left" />
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="KeluhanUtama" class="h4 col-md-auto">Keluhan Utama</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#KeluhanUtama" data-template-jenis="27"></select>
                        </div>
                    </div>
                    <textarea id="KeluhanUtama" name="KeluhanUtama" class="form-control text-left" rows="4"></textarea>
                </div>

                <div class="form-group">

                    <label class="h4">Alasan Dirawat</label>

                    <div>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input id="Preventif" name="AlasanDirawat_Preventif" type="checkbox" class="form-check-input">
                                Preventif
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input id="Kuratif" name="AlasanDirawat_Kuratif" type="checkbox" class="form-check-input">
                                Kuratif
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input id="Rehabilitatif" name="AlasanDirawat_Rehabilitatif" type="checkbox" class="form-check-input">
                                Rehabilitatif
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input id="Paliatif" name="AlasanDirawat_Paliatif" type="checkbox" class="form-check-input">
                                Paliatif
                            </label>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <label for="Catatan">Catatan</label>
                    <input type="text" id="Catatan" name="AlasanDirawat_Catatan" class="form-control text-left" />

                </div>

                <div class="form-group">
                    <div class="row">
                        <h4 class="col-md">Diagnosa Masuk</h4>
                        <div class="col-md text-right">
                            <button type="button" onclick="isetup_DischargeSummary.loadDiagnosaMasuk()" class="btn btn-light btn-sm">
                                <i class="icon-sync"></i>
                            </button>
                        </div>
                    </div>
                    <textarea id="DiagnosaMasuk" name="DiagnosaMasuk" class="form-control text-left" rows="4"></textarea>
                </div>

                <h4>Pemeriksaan Fisik</h4>

                <div class="form-group row">

                    <div class="col-md">
                        <label for="KesanUmum">Kesan Umum</label>
                        <select placeholder="Kesan Umum" id="KesanUmum" name="Id_mKesanUmum" class="open-reset form-control text-left" data-datasource='@Url.Action("mKesanUmum", "DischargeSummary")'></select>
                    </div>

                    <div class="col-md">
                        <label for="BB">BB</label>
                        <div class="input-group">
                            <input type="number" id="BB" name="PemeriksaanFisik_BB" class="form-control text-left" />
                            <span class="input-group-append">
                                <span class="input-group-text">Kg</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md">
                        <label for="TD">TD</label>
                        <div class="input-group">
                            <input type="number" id="TD" name="PemeriksaanFisik_TD" class="form-control text-left" />
                            <span class="input-group-append">
                                <span class="input-group-text">mmhg</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md">
                        <label for="Nadi">Nadi</label>
                        <div class="input-group">
                            <input type="number" id="Nadi" name="PemeriksaanFisik_Nadi" class="form-control text-left" />
                            <span class="input-group-append">
                                <span class="input-group-text">x/mnt</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md">
                        <label for="RR">RR</label>
                        <div class="input-group">
                            <input type="number" id="RR" name="PemeriksaanFisik_RR" class="form-control text-left" />
                            <span class="input-group-append">
                                <span class="input-group-text">x/mnt</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md">
                        <label for="Suhu">Suhu</label>
                        <div class="input-group">
                            <input type="number" id="Suhu" name="PemeriksaanFisik_Suhu" class="form-control text-left" />
                            <span class="input-group-append">
                                <span class="input-group-text"><sup>o</sup>C</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="PemeriksaanFisikBermakna" class="col-md-4 mt-2">Pemeriksaan fisik yang bermakna</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#PemeriksaanFisikBermakna" data-template-jenis="25"></select>
                        </div>
                    </div>
                    <textarea id="PemeriksaanFisikBermakna" name="PemeriksaanFisik_Bermakna" class="form-control text-left" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="HasilLaboratorium">Hasil Laboratorium</label>
                    <textarea id="HasilLaboratorium" name="HasilLaboratorium" class="form-control text-left" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="HasilRadiologi">HasilRadiologi</label>
                    <textarea id="HasilRadiologi" name="HasilRadiologi" class="form-control text-left" rows="4"></textarea>
                </div>

            </div>

            <div class="col-md">

                <h4>Diagnosis Tegak</h4>

                <div class="form-group">
                    <label for="setup_DischargeSummary_DiagnosaUtamaKeterangan">Diagnosa</label>
                    <textarea id="setup_DischargeSummary_DiagnosaUtamaKeterangan" name="DiagnosaUtamaKeterangan" class="form-control text-left" rows="4"></textarea>
                </div>

                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tableDiagnosa">
                            <thead>
                                <tr class="bg-slate">
                                    <th class="table-button">
                                        <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itableDischargeSummary_lookUpDiagnosa.openModal()">
                                            <i class="icon-plus22"></i>
                                        </button>
                                    </th>
                                    <th></th>
                                    <th class="d-none">Kode</th>
                                    <th>Diagnosa</th>
                                    <th>Jenis</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    @*<div class="form-check mt-1">
                            <input id="setup_DischargeSummary_DiagnosisKompleks" name="DiagnosisKompleks" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="setup_DischargeSummary_DiagnosisKompleks">Diagnosis Kompleks</label>
                        </div>*@
                </div>

                <h4>Terapi</h4>

                <div class="form-group">
                    <label for="Pembedahan">Pembedahan</label>
                    <textarea id="Pembedahan" name="Terapi_Pembedahan" class="form-control text-left" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="TindakanLain">Tindakan Lain</label>
                    <textarea id="TindakanLain" name="Terapi_TindakanLain" class="form-control text-left" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="ObatPerawatan">Obat selama perawatan</label>
                    <textarea id="ObatPerawatan" name="Terapi_ObatPerawatan" class="form-control text-left" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="ObatPulang">Obat saat pulang</label>
                    <textarea id="ObatPulang" name="Terapi_ObatPulang" class="form-control text-left" rows="4"></textarea>
                </div>

            </div>

            <div class="col-md">

                <div class="form-group">
                    <label for="KondisiKeluar" class="h4">Kondisi Keluar</label>
                    <select placeholder="Kondisi Keluar" id="KondisiKeluar" name="Id_mKondisiKeluar" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_KondisiKeluar", "DischargeSummary")'></select>

                </div>

                <div class="form-group row">

                    <div class="col-md">
                        <label for="GejalaSisa_Fisik">Gejala Sisa</label>
                        <textarea id="GejalaSisa_Fisik" name="GejalaSisa_Fisik" class="form-control text-left" rows="4"></textarea>
                    </div>
                    <div class="col-md">
                        <label for="GejalaSisa_Mental">Mental</label>
                        <textarea id="GejalaSisa_Mental" name="GejalaSisa_Mental" class="form-control text-left" rows="4"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <div>
                        <label for="input32" class="h4">Prognosis</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Prognosis" value="B">
                            Baik
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Prognosis" value="T">
                            Buruk
                        </label>
                    </div>
                </div>
                <div class="form-group">

                    <h4>Partus</h4>

                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <input id="Partus" name="Partus" type="checkbox">
                            </span>
                        </span>
                        <input type="text" id="Partus_KondisiBayi" placeholder="Kondisi Bayi" name="Partus_KondisiBayi" class="form-control text-left" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="CaraKeluar" class="h4">Cara Keluar</label>

                    <div class="row">

                        <div class="col-md">
                            <select placeholder="Cara Keluar" id="CaraKeluar" name="Id_mCaraKeluar" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_CaraKeluar", "DischargeSummary")'></select>
                        </div>

                        <div class="col-md">
                            <input type="text" id="CaraKeluarKeterangan" name="CaraKeluarKeterangan" placeholder="Keterangan" class="form-control text-left" />
                        </div>

                    </div>

                </div>

                <h4>Instruksi Pulang</h4>

                <div class="form-group row">
                    <div class="col-md">
                        <label for="IntruksiPulang_KontrolKembaliTanggal">Kontrol Kembali Tanggal</label>
                        <input type="date" id="IntruksiPulang_KontrolKembaliTanggal" name="IntruksiPulang_KontrolKembaliTanggal" class="form-control text-left" />
                    </div>
                    <div class="col-md">
                        <label for="IntruksiPulang_Tempat">Ke</label>
                        <input type="text" id="IntruksiPulang_Tempat" name="IntruksiPulang_Tempat" class="form-control text-left" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="IntruksiPulang_Keterangan" class="col-md-4 mt-2">Instruksi pengobatan di rumah</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#PemeriksaanFisikBermakna" data-template-jenis="26"></select>
                        </div>
                    </div>
                    <textarea id="IntruksiPulang_Keterangan" name="IntruksiPulang_Keterangan" class="form-control text-left" rows="4"></textarea>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md">
                <button type="button" id="isetup_DischargeSummary_simpanSementara" onclick="isetup_DischargeSummary.simpanSementara()" class="btn bg-pink btn-lg show-only-type-post show-only-type-put mr-2"><i class="icon-floppy-disk mr-2"></i>Simpan Sementara</button>
            </div>

            <div class="col-md text-right">

                <a href="@Url.Action("RptDischargeSummary", "DischargeSummary", new { noReg = pasien.NoReg })" class="btn btn-lg bg-brown show-only-type-get mr-2" target="_blank">Cetak</a>

                @if (User.IsRoleAdmin() || User.IsRoleDokterSpesialis())
                {
                    <button type="button" onclick="isetup_DischargeSummary.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2">Edit</button>

                    <button type="button" onclick="isetup_DischargeSummary.simpan()" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2"></i>Simpan</button>
                }

            </div>

        </div>
    </form>
</div>

<script>
    let isetup_DischargeSummary;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_DischargeSummary = new iSetup({
            id: 'setup_DischargeSummary',
            url : '@Url.Action("DischargeSummary", "DischargeSummary")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_DischargeSummary),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    showAlert("Data berhasil disimpan.", "success");

                    isetup_DischargeSummary.load();
                }
            },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    console.log(r.data);

                    if (r.data.simpanSementara) {
                        isetupEditNonAjax(t);
                        $("#isetup_DischargeSummary_simpanSementara").removeClass("d-none")
                    } else {
                        $("#isetup_DischargeSummary_simpanSementara").addClass("d-none")
                    }
                }
            },
            modalDataOnSuccess: (r, t) => {
            },
            modalOnReady: (e, t) => {
			}
        });

        isetup_DischargeSummary.addTableValue_tableDiagnosa = (key, model) => {
            const tbl = $(isetup_DischargeSummary.id).find(`.table-detail[data-name="tableDiagnosa"]`);
            const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
            if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
                alertWarning('Data already exists');
                return;
            }
            let r = '';
            r += `
				<tr data-key='${skey}'>
                    <td class="d-none"><input type='hidden' data-name='NoUrut'/></td>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
                    <td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_DischargeSummary.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="table-input d-none"><input class="form-control text-left" type="text" data-name="KodeICD" readonly/></td>
					<td data-name="KodeICD_Text"></td>
                    <td data-jenis="Jenis" class="text-center">Jenis</td>
				</tr>
			`;
            tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'tableDiagnosa', isetup_DischargeSummary);

            isetup_DischargeSummary.setDiagnosaUtama();
        };

        isetup_DischargeSummary.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }

            isetup_DischargeSummary.setDiagnosaUtama();
        };

        isetup_DischargeSummary.setDiagnosaUtama = () => {
            $(isetup_DischargeSummary.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr').find('td:last').html('<a href="#" class="badge badge-secondary">Sekunder</a>')
            $(isetup_DischargeSummary.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr:first td:last').html('<span class="badge badge-primary">Utama</span>');
        }

        isetup_DischargeSummary.load = () => {
            isetup_DischargeSummary.openState('GET', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_DischargeSummary.edit = () => {
            isetup_DischargeSummary.openState('PUT', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_DischargeSummary.new = () => {
            isetup_DischargeSummary.openState('POST', {});

            const form = $(isetup_DischargeSummary.id).find('form')[0];
            form['NoReg'].value = '@ViewData["NoReg"]';
            form['NRM'].value = '@pasien.NRM';
            form['TanggalMasuk'].value = '@pasien.Tanggal.ToString("yyyy-MM-dd")';

            isetup_DischargeSummary.loadDiagnosaMasuk();
        }

        isetup_DischargeSummary.loadDiagnosaMasuk = () => {
            $.ajax({
                url: `@Url.Action("DiagnosaAwal", "DischargeSummary", new { NoReg = pasien.NoReg })`,
                type: 'GET',
                success: r => {
                    if (r.success) {
                        const form = $(isetup_DischargeSummary.id).find('form')[0];

                        form['DiagnosaMasuk'].value = r.data;
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_DischargeSummary.simpanSementara = () => {
            const form = $(isetup_DischargeSummary.id).find('form')[0];

            form['SimpanSementara'].checked = true;

            $(form).submit();
        }

        isetup_DischargeSummary.simpan = () => {
            const form = $(isetup_DischargeSummary.id).find('form')[0];

            form['SimpanSementara'].checked = false;

            $(form).submit();
        }

        customJSSetup_DischargeSummary();
    });

    const customJSSetup_DischargeSummary = () => {
        @if(pengisianEMR.DischargeSummary == true)
        {
            @:isetup_DischargeSummary.load();
        }
        else
        {
            @:isetup_DischargeSummary.new();
        }
    };
</script>

@await Html.PartialAsync("~/Views/DischargeSummary/LookUp_lookupDiagnosa.cshtml")