<div id="modalLookup_tableJasa" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Jasa</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md">							<div class="form-group">								<label for="Nama">Nama</label>								<input type="text" id="Nama" data-itable-filter="Nama" placeholder="Nama" class="form-control" value="" />							</div>						</div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-multiple">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">Jasa ID</th>
                                <th class="sorting text-left" data-itable-sorting="1">Nama Jasa</th>
                                <th class="sorting text-left" data-itable-sorting="1">Nama Alias</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_tableJasa;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_tableJasa = new iTable({
            id: 'modalLookup_tableJasa',
            url: '@Url.Action("LookUp_tableJasa")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.jasaID}</td>`;                        tbody += `<td class="text-left">${v.jasaName}</td>`;
                        tbody += `<td class="text-left">${v.keteranganTindakan ?? ''}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                v.forEach(x => isetup_OrderPenunjangKelompok.addTableValue_tableJasa({
                    JasaID: x.jasaID
                }, {
					JasaID:x.jasaID,					NamaJasa:x.jasaName,
                    NamaAlias:x.keteranganTindakan
				}));
            }
        });
    });
</script>