@{ var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="table_RiwayatAlergi">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_RiwayatAlergi.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_RiwayatAlergi.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />
        <div class="row">

        </div>
        <input type="submit" class="d-none" />
    </form>
    <div class="datatable-scroll">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-center" data-itable-sorting="0">Tanggal</th>
                    <th class="sorting text-left" data-itable-sorting="1">Jenis</th>
                    <th class="sorting text-left" data-itable-sorting="2">Alergi</th>
                    <th class="sorting text-left" data-itable-sorting="3">Keterangan</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_RiwayatAlergi;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_RiwayatAlergi = new iTable({
            id: 'table_RiwayatAlergi',
            url: '@Url.Action("Datas_RiwayatAlergi", "RiwayatAlergi")',
            urlType:{
                DELETE : '@Url.Action("RiwayatAlergi", "RiwayatAlergi")'
            },
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns
						tbody += `<td class="text-center">${dateToString(v.tanggal, 'dd/MM/yyyy') ?? ''}</td>`;
						tbody += `<td class="text-left">${v.jenisID_Text ?? ''}</td>`;
						tbody += `<td class="text-left">${v.riwayatAlergi ?? ''}</td>`;
						tbody += `<td class="text-left">${v.keteranganAlergi ?? ''}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action
						tbody += `<a class="dropdown-item" href="javascript:isetup_RiwayatAlergi.openModal('GET',{ Id : ${v.id} })"><i class="icon-eye"></i> Details</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:isetup_RiwayatAlergi.openModal('PUT',{ Id : ${v.id} })"><i class="icon-pencil"></i> Edit</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:itable_RiwayatAlergi.delete({ Id : '${v.id}' }, itable_RiwayatAlergi)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_RiwayatAlergi.refresh();

        customJS_RiwayatAlergi();
    });

    const customJS_RiwayatAlergi = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>