@{
    ViewData["Title"] = "Hubungan Pasien";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_HubunganPasien">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Hubungan Pasien</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_HubunganPasien.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_HubunganPasien.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">				<div class="form-group">					<label for="Filter">Filter</label>					<input type="text" id="Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">HubunganPasien</th>					<th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_HubunganPasien;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_HubunganPasien = new iTable({
            id: 'table_HubunganPasien',
            url: '@Url.Action("Datas_HubunganPasien", "HubunganPasien")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.hubunganPasien}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						tbody += `<a class="dropdown-item" href="javascript:isetup_HubunganPasien.openModal('GET',{ Id : '${v.id}' })"><i class="icon-eye"></i> Details</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_HubunganPasien.openModal('PUT',{ Id : '${v.id}' })"><i class="icon-pencil"></i> Edit</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_HubunganPasien.delete({ Id : '${v.id}' }, itable_HubunganPasien)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_HubunganPasien.refresh();

        customJS_HubunganPasien();
    });

    const customJS_HubunganPasien = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupHubunganPasien"/>