@{
    ViewData["Title"] = "Cppt";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_Cppt">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Cppt</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_Cppt.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_Cppt.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">				<div class="form-group">					<label for="Filter">Filter</label>					<input type="text" id="Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-center" data-itable-sorting="0">Tanggal</th>					<th class="sorting text-left" data-itable-sorting="1">Tipe</th>					<th class="sorting text-left" data-itable-sorting="2">Dpjp</th>					<th class="sorting text-left" data-itable-sorting="3">Profesi</th>					<th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_Cppt;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_Cppt = new iTable({
            id: 'table_Cppt',
            url: '@Url.Action("Datas_Cppt", "Cppt")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns                        tbody += `<td class="text-center">                                    <div>                                        <p>${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm')}</p>                                    </div>                                </td>`;						tbody += `<td class="text-left">${v.id_mCpptTipe_Text}</td>`;						tbody += `<td class="text-left">${v.dpjp_Text}</td>`;						tbody += `<td class="text-left">${v.id_mProfesi_Text}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						tbody += `<a class="dropdown-item" href="javascript:isetup_Cppt.openModal('GET',{  })"><i class="icon-eye"></i> Details</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_Cppt.openModal('PUT',{  })"><i class="icon-pencil"></i> Edit</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_Cppt.delete({  }, itable_Cppt)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_Cppt.refresh();

        customJS_Cppt();
    });

    const customJS_Cppt = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupCppt"/>