<!-- CSS CUSTOM -->
<style>
    .card-header-sm {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
</style>

@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; 
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<div id="setup_Cppt" class="card d-none">

    <div class="card-header header-elements-inline bg-white">
        <h6 class="card-title">Input Cppt </h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" href="javascript:isetup_Cppt.toggleForm(false);"><i class="icon-cross3"></i></a>
            </div>
        </div>
    </div>

    <form autocomplete="off" class="card-body">
        @Html.AntiForgeryToken()

        <input type="hidden" id="setup_Cppt_id" name="Id" />
        <input type="hidden" id="setup_Cppt_input1" name="NoReg" />
        <input type="hidden" id="setup_Cppt_dpjp" name="Dpjp" />
        <input type="hidden" id="setup_Cppt_nrm" name="NRM" />
        <input type="hidden" id="setup_Cppt_nomor" name="Nomor" />

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <label class="" for="input4">Tanggal</label>
                    <div class="">
                        <input type="datetime-local" id="setup_Cppt_input4" name="Tanggal" class="form-control text-left readonly-only-type-put" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                    </div>
                </div>

            </div>

            <div class="col-md">
                <div class="form-group">
                    <label class="" for="select3">Tipe</label>
                    <div class="">
                        <select placeholder="Tipe" id="setup_Cppt_select3" name="Id_mCpptTipe" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Tipe", "Cppt")'></select>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <div class="row">
                        <label for="setup_Cppt_input6" class="col-md-4 mt-2">Subjective</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_Cppt_input6" data-template-jenis="14"></select>
                        </div>
                    </div>
                    <textarea rows="4" id="setup_Cppt_input6" name="Subjective" class="form-control text-left"></textarea>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_Cppt_input7" class="col-md-4 mt-2">Objective</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_Cppt_input7" data-template-jenis="15"></select>
                        </div>
                    </div>
                    <textarea rows="4" id="setup_Cppt_input7" name="Objective" class="form-control text-left"></textarea>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_Cppt_input8" class="mt-1">Assesment</label>
                    <textarea rows="4" id="setup_Cppt_input8" name="Assesment" class="form-control text-left mt-1"></textarea>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_Cppt_input9" class="mt-1 col-md-3">Planning</label>
                        <div class="col-md text-right">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_Cppt_input9" data-template-jenis="31"></select>
                        </div>
                    </div>
                    <textarea rows="4" id="setup_Cppt_input9" name="Planning" class="form-control text-left mt-1"></textarea>
                </div>
            </div>

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_Cppt_input10" class="mt-1">Instruksi</label>
                    <textarea rows="4" id="setup_Cppt_input10" name="Instruksi" class="form-control text-left mt-1"></textarea>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header card-header-sm">
                            <h6 class="card-title">
                                <a href="#setup_Cppt_Card_Tbk" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="true">TBK</a>
                            </h6>
                        </div>

                        <div id="setup_Cppt_Card_Tbk" class="collapse card-body">

                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input id="setup_Cppt_Tulis" name="Tulis" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_Cppt_Tulis">Tulis</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="setup_Cppt_Baca" name="Baca" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_Cppt_Baca">Baca</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="setup_Cppt_Konfirmasi" name="ButuhKonfirmasi" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_Cppt_Konfirmasi">Konfirmasi</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select1">DPJP</label>
                                <select placeholder="Dpjp" id="setup_Cppt_select1" name="Konfirmasi_Dpjp" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Dokter", "Cppt")'></select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header card-header-sm">
                            <h6 class="card-title">
                                <a href="#setup_Cppt_Card_Skrining" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="false">Kondisi Saat Keluar</a>
                            </h6>
                        </div>

                        <div id="setup_Cppt_Card_Skrining" class="collapse card-body">

                            @*<div class="form-group row">
                                    <label class="col-md-3" for="input11">Tanggal</label>
                                    <div class="col">
                                        <input type="datetime-local" id="setup_Cppt_input11" name="Keluar_Tanggal" class="form-control text-left" />
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label for="select5">Disposisi Pasien (Kondisi Saat Pindah/Keluar)</label>
                                <select placeholder="Kondisi Keluar" id="setup_Cppt_select5" name="Id_mKondisiKeluar" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_KondisiKeluar", "Cppt")'></select>
                            </div>

                            <div class="form-group">
                                <label for="select2">Cara Keluar</label>
                                <select placeholder="Cara Keluar" id="setup_Cppt_select2" name="Id_mCaraKeluar" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_CaraKeluar", "Cppt")'></select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end align-items-center">

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2"></i>Save</button>

        </div>
    </form>
</div>

<script>
    let isetup_Cppt;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_Cppt = new iSetup({
            id: 'setup_Cppt',
            url: '@Url.Action("ActionCppt", "Cppt")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_Cppt),

                }
            }),
            success: (r, t) => {
                if (r.success) {

                    $(isetup_Cppt.id).find("form")[0].reset();

                    $(isetup_Cppt.id).find("select").val(null).trigger('change');

                    showAlert('Data berhasil disimpan.', 'success');

                    isetup_Cppt.toggleForm(false);
                    itable_Cppt.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => { },
            modalOnReady: (e, t) => { },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {

                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    form["Nomor"].value = '@pasien.Nomor';

                    isetup_Cppt.toggleForm(true);
                }
            }
        });

        isetup_Cppt.new = () => {
            const form = $(isetup_Cppt.id).find('form')[0];

            isetup_Cppt.toggleForm(true);
            isetup_Cppt.openState('POST', {})

            form["Dpjp"].value = '@pasien.DokterID';
            form["NoReg"].value = '@pasien.NoReg';
            form["NRM"].value = '@pasien.NRM';
            form["Nomor"].value = '@pasien.Nomor';
            form["Tanggal"].value = dateToString(new Date(), 'yyyy-MM-ddTHH:mm');

            $(isetup_Cppt.id).find('#setup_Cppt_select3')
                .append(`<option value="1" selected='selected'>SOAP</option>`)
                .val("1").trigger('change');

            goToTop(isetup_Cppt.id);
        };

        isetup_Cppt.edit = id => {
            const form = $(isetup_Cppt.id).find('form')[0];

            isetup_Cppt.openState('PUT', {
                Id: id
            })

            form['Id'].value = id;

            goToTop(isetup_Cppt.id);
        };

        isetup_Cppt.toggleForm = show => {
            const jForm = $(isetup_Cppt.id);

            if (show) {
                jForm.removeClass('d-none');
            } else {
                jForm.addClass('d-none');
            }
        }

        isetup_Cppt.sadurCppt = idCppt => {

            modalDialogExt("primary", "Konfirmasi", "Apakah anda yakin akan melakukan sadur CPPT?",
                () => {

                    jThis = $('#mahas_modal_dialog');

                    jThis.css('z-index', 1080);

                    $('.modal-backdrop.fade.show').last().css('z-index', jThis.css('z-index') - 1);
                }, () => {
                    if (itable_CpptHistory) {
                        $(itable_CpptHistory.id).modal('hide');
                    }

                    $.ajax({
                        url: `@Url.Action("ActionCppt", "Cppt")`,
                        type: 'GET',
                        data: {
                            Id: idCppt
                        },
                        success: r => {
                            if (!r.success) {
                                alertError(r.message);
                            }
                            if (r.success) {
                                const model = r.data;

                                const form = $(isetup_Cppt.id).find('form')[0];

                                form['Subjective'].value = model.subjective;
                                form['Objective'].value = model.objective;

                                isetup_Cppt.toggleForm(true);

                                $(isetup_Cppt.id).find('#setup_Cppt_select3')
                                    .append(`<option value="1" selected='selected'>SOAP</option>`)
                                    .val("1").trigger('change');

                                goToTop(isetup_Cppt.id)
                            }
                        },
                        error: xhr => {
                            alertError(xhr);
                        },
                        beforeSend: () => {
                            loading(true);
                        },
                        complete: () => {
                            loading(false);
                        },
                    });
            });

        }

        customJSSetup_Cppt();
    });

    const customJSSetup_Cppt = () => {
        isetup_Cppt.new();
        isetup_Cppt.toggleForm(false);

        $('#mahas_modal_dialog').on('hidden.bs.modal', e => {
            if ($('.modal.show').length > 0)
                $('body').addClass('modal-open');
        });
    };
</script>

@await Html.PartialAsync("~/Views/Cppt/ListCppt.cshtml", new ViewDataDictionary(ViewData))