@{ ViewData["Title"] = "Order Penunjang";
                ViewData["Breadcrumb"] = new List<SelectListItem>()
        {
        new SelectListItem((string)ViewData["Title"], "active")
    }; }

<!-- CSS CUSTOM -->

<div id="table_OrderPenunjang">
    <div class="card-header header-elements-inline pt-2">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="btn btn-sm" href="javascript:itable_OrderPenunjang.openModal('LABORATORIUM')"><i class="icon-plus22 mr-2"></i> LAB</a>
                <a class="btn btn-sm" href="javascript:itable_OrderPenunjang.openModal('Lab-WIN')"><i class="icon-plus22 mr-2"></i> LAB-WIN</a>
                <a class="btn btn-sm" href="javascript:itable_OrderPenunjang.openModal('RADIOLOGI')"><i class="icon-plus22 mr-2"></i> RAD</a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_OrderPenunjang.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" data-itable-filter="NoReg"  value="@ViewData["NoReg"]" />
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">

        </div>
        <input type="submit" class="d-none" />
    </form>
    <div>
        <table class="table table-hover dataTable table-striped">
            <thead>
                <tr>
                    <th class="text-left">Status</th>
                    <th class="sorting text-left" style="width: 60px" data-itable-sorting="0">Tanggal</th>
                    <th class="sorting text-left" data-itable-sorting="1">No Bukti</th>
                    <th class="sorting text-left" style="min-width:300px" data-itable-sorting="2">Nama Dokter</th>
                    <th class="text-left">Pemeriksaan</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_OrderPenunjang;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_OrderPenunjang = new iTable({
            id: 'table_OrderPenunjang',
            url: '@Url.Action("Datas_OrderPenunjang", "OrderPenunjang")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns
                        tbody += `<td class="text-center">${v.realisasi ? '<span class="badge badge-info">Realisasi</span>' : v.batal ? '<span class="badge badge-danger">Batal</span>' : '-'}</td>`;
                        tbody += `<td class="text-left">${dateToString(v.tanggal, "dd-MM-yyyy HH:mm") ?? ""}</td>`;
						tbody += `<td class="text-left">${v.noBukti}</td>`;
                        tbody += `<td class="text-left">${v.namaVendor}</td>`;
                        tbody += `
                                    <td>
                                        <div>
                                            <dl>
                                                <dt>Diagosa Indikasi: </dt>
                                                <dd>${v.diagnosaIndikasi ?? '-'}</dd>
                                                <br/>
                                                <dt>Order Penunjang</dt>
                                                <dd>${v.orderPenunjang}</dd>
                                                <dt>Catatan Pemeriksaan</dt>
                                                <dd>${v.catatanPemeriksaan}</dd>
                                            </dl>
                                        </div>
                                    </td>
                        `;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action
                        tbody += `<a class="dropdown-item" href="javascript:isetup_OrderPenunjang.openModal('GET',{ NoBukti : '${v.noBukti}' })"><i class="icon-eye"></i> Details</a></li>`;
                        if (!v.realisasi && !v.batal) {
                            tbody += `<a class="dropdown-item" href="javascript:isetup_OrderPenunjang.openModal('PUT',{ NoBukti : '${v.noBukti}' })"><i class="icon-pencil"></i> Edit</a></li>`;
                        }
                        if (!v.realisasi && !v.batal) {
                            tbody += `<a class="dropdown-item" href="javascript:isetup_OrderPenunjang.delete({ NoBukti : '${v.noBukti}' }, itable_OrderPenunjang)"><i class="icon-trash"></i> Batal</a></li>`;
                        }
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_OrderPenunjang.openModal = (tipeSection) => {
            let sectionID = '';

            if (tipeSection === 'LABORATORIUM') {
                sectionID = 'SEC005';
            } else if (tipeSection === 'Lab-WIN') {
                sectionID = 'SECT0020';
            } else if (tipeSection === 'RADIOLOGI') {
                sectionID = 'SECT0014';
            } else {
                return;
            }

            isetup_OrderPenunjang.openModal('POST')
            isetup_OrderPenunjang.setSectionId(sectionID, tipeSection);
        }

        itable_OrderPenunjang.refresh();

        customJS_OrderPenunjang();
    });

    const customJS_OrderPenunjang = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

@await Html.PartialAsync("~/Views/OrderPenunjang/SetupOrderPenunjang.cshtml", new ViewDataDictionary(ViewData))