<div id="modalLookup_tb_orderPenunjangDetailManual" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Tindakan</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="10" />
                    <input type="hidden" data-itable-filter="SectionID" id="modalLookup_tb_orderPenunjangDetailManual_SectionID"/>
                    <div class="row">
                        <div class="col-md">							<div class="form-group">								<label for="modalLookup_tb_orderPenunjangDetailManual_Filter">Filter</label>								<input type="text" id="modalLookup_tb_orderPenunjangDetailManual_Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" />							</div>						</div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-multiple">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left d-none" data-itable-sorting="0">Jasa ID</th>								<th class="sorting text-left" data-itable-sorting="1">Tindakan</th>								<th class="sorting text-left" data-itable-sorting="2">Alias</th>								<th class="sorting text-left" data-itable-sorting="3">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_tb_orderPenunjangDetailManual;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_tb_orderPenunjangDetailManual = new iTable({
            id: 'modalLookup_tb_orderPenunjangDetailManual',
            url: '@Url.Action("LookUp_tb_orderPenunjangDetailManual", "OrderPenunjang")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns						tbody += `<td class="text-left d-none">${v.jasaID}</td>`;						tbody += `<td class="text-left">${v.jasaName}</td>`;						tbody += `<td class="text-left">${v.alias}</td>`;						tbody += `<td class="text-left">${v.keteranganTindakan}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                v.forEach(x => isetup_OrderPenunjang.addTableValue_tb_orderPenunjangDetailManual({
					JasaID:x.jasaID
				}, {
					JasaID:x.jasaID,					JasaName:x.jasaName,					Alias:x.alias,					Keterangan:x.keteranganTindakan,					Qty:1
				}));
            }
        });

        itable_tb_orderPenunjangDetailManual.setSectionId = (sectionId) => {
            $(itable_tb_orderPenunjangDetailManual.id).find('#modalLookup_tb_orderPenunjangDetailManual_SectionID').val(sectionId);
        }
    });
</script>