@{ ViewData["Title"] = "Hasil Baca Radiologi";
    ViewData["Breadcrumb"] = new List<SelectListItem>() { new SelectListItem((string)ViewData["Title"], "active")

}; }

@{ var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<!-- CSS CUSTOM -->

<div id="hasilBacaRadiologi_table_HasilBacaRadiologi">
    <div class="card-header header-elements-inline pt-1">
        <div class="card-title"></div>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_HasilBacaRadiologi.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <input type="hidden" data-itable-filter="NoReg" value="@ViewData["NoReg"]" />
        <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />
        <input type="submit" class="d-none" />
    </form>
    <div>
        <table class="table table-hover dataTable table-striped">
            <thead>
                <tr class="">
                    <th class="text-center" style="width: 30px;">Action</th>
                    <th class="sorting text-center" data-itable-sorting="0">Tanggal</th>
                    <th class="text-left"></th>
                    <th class="text-left">Pemeriksaan</th>
                    <th class="sorting text-left" data-itable-sorting="1">Dokter Pengirim</th>
                    <th class="text-left">Dibaca</th>
                    <th class="text-left">Komentar</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_HasilBacaRadiologi;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_HasilBacaRadiologi = new iTable({
            id: 'hasilBacaRadiologi_table_HasilBacaRadiologi',
            url: '@Url.Action("Datas_HasilBacaRadiologi", "HasilBacaRadiologi")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {

                        tbody += '<tr>';

                        let header = `{ noSystem: '${v.noSystem}',dokterPengirim: '${v.dokterPengirim}', analis: '${v.analis}', penanggungJawab: '${v.penanggungJawab}'}`;

                        // JS Action
                        if (v.sourceData == 'DOKUMEN') {
                            tbody += `<td class="text-center"><a class="icon-eye" href="javascript:itable_HasilBacaRadiologi.showDokumen({ NoBukti : '${v.noSystem}'})"></a></td>`;
                        } else {
                            tbody += `<td class="text-center"><a class="icon-eye" href="javascript:itable_HasilBacaRadiologi.showHasilBacaDetail(${header})"></a></td>`;
                        }
                        // ----- JS Columns

                        // JS Columns
                        tbody += `<td class="text-center">${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm')}</td>`;

                        const critical = v.criticalValue ? `<i class="icon-warning text-danger" data-toggle="tooltip" title="Critical Value"></i>` : '';
                        tbody += `<td class="text-center">${critical}</td>`;

                        tbody += `<td class="text-left">${v.pemeriksaan}</td>`;
                        tbody += `<td class="text-left">${v.dokterPengirim}</td>`;

                        const dibaca = v.dibaca ? `<input type='checkbox' onclick='return false;' checked>` : `<input type='checkbox' disabled>`

                        tbody += `<td class="text-center">${dibaca}</td>`;

                        tbody += `<td class="text-left">${v.komentar}</td>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_HasilBacaRadiologi.refresh();

        itable_HasilBacaRadiologi.showDokumen = (obj) => {

            isetup_DokumenRadiologi.openModal('PUT', obj);
        }

        customJS_HasilBacaRadiologi();
    });

    const customJS_HasilBacaRadiologi = () => {

    };
</script>
@await Html.PartialAsync("~/Views/HasilBacaRadiologi/DokumenRad.cshtml", new ViewDataDictionary(ViewData))