@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
}

<!-- CSS CUSTOM -->

<div class="card-body row" id="table_DokumenRekamMedis">

    <div class="col-md-3">
        <div class="card">

            <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />

            <div class="card-header header-elements-inline">
                <h6 class="card-title">Dokumen RM</h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="reload" href="javascript:itable_DokumenRekamMedis.refresh()"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div id="tree">
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-9">

        <div id="table_DokumenRekamMedis_Catatan_Container" class="card d-none">

            <div class="card-header header-elements-inline">
                <h6 class="card-title">Catatan</h6>

                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <p id="table_DokumenRekamMedis_Catatan"></p>
            </div>

        </div>

        <div id="edokumen_pdfContainer">

        </div>

    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_DokumenRekamMedis;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_DokumenRekamMedis = new iTable({
            id: 'table_DokumenRekamMedis',
            url: '@Url.Action("ViewDokumenRekamMedis", "DokumenRekamMedis")',
            urlType:{
                DELETE : '#'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    if (r.datas.length === 0) return;
                }

                const treeSource = r.datas.map(v => ({
                    title: v.tahun,
                    folder: true,
                    children: v.groupInfo.map(y => {
                        const result = {
                            title: y.info,
                            folder: true,
                            children: y.datas.length > 0 ? y.datas.map(z => ({
                                title: z.fileName,
                                key: JSON.stringify(z),
                            })) : []
                        };

                        if (y.groupClaim) {
                            var pushedItem = {
                                title: y.groupClaim.claimInfo,
                                folder: true,
                                children: y.groupClaim.datas.map(arsip => ({
                                    title: arsip.fileName,
                                    key: JSON.stringify(arsip)
                                }))
                            };

                            result.children.push(pushedItem);
                        }

                        return result;
                    })
                }));

                $(itable_DokumenRekamMedis.id).find("#tree").fancytree('option', 'source', treeSource);

                itable_DokumenRekamMedis.changeDokumen("");
            }
        });

        itable_DokumenRekamMedis.refresh();

        itable_DokumenRekamMedis.showCatatan = catatan => {
            const container = $(itable_DokumenRekamMedis.id).find('#table_DokumenRekamMedis_Catatan_Container');
            const jCatatan = $(itable_DokumenRekamMedis.id).find('#table_DokumenRekamMedis_Catatan');

            if (catatan) {
                jCatatan.text(catatan);
                container.removeClass("d-none");
            } else {
                jCatatan.empty();
                container.addClass("d-none");
            }
        }

        itable_DokumenRekamMedis.changeDokumen = (url) => {
            const container = $('#edokumen_pdfContainer');

            if (url) {
                container.html(`<object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>`);
            } else {
                container.empty();
            }
        };

        customJS_DokumenRekamMedis();
    });

    const customJS_DokumenRekamMedis = () => {

        $.ui.fancytree.debugLevel = 0;

        $(itable_DokumenRekamMedis.id).find("#tree").fancytree({
            source: [],
            click: (event, data) => {

                const node = data.node;
                    // Only for click and dblclick events:
                    // 'title' | 'prefix' | 'expander' | 'checkbox' | 'icon'
                //const targetType = data.targetType;

                if (!node.children) {
                    const key = node.key;

                    const dok = JSON.parse(key);
                    const url = dok.urlDokumen;

                    itable_DokumenRekamMedis.changeDokumen(url);
                    itable_DokumenRekamMedis.showCatatan(dok.catatan);
                }

                // we could return false to prevent default handling, i.e. generating
                // activate, expand, or select events
            },
        });

    };
</script>