@using static EmrPuriBunda.Constant.RolesConstant
@{
    ViewData["Title"] = "Input Hasil Penunjang";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_HasilBacaPenunjang">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Hasil Baca Penunjang</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_HasilBacaPenunjang.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_HasilBacaPenunjang.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">				<div class="form-group">					<label for="NRM">NRM</label>					<input type="text" id="NRM" data-itable-filter="NRM" placeholder="NRM" class="form-control" value="" />				</div>			</div>			<div class="col-md-3">				<div class="form-group">					<label for="Nama">Nama </label>					<input type="text" id="Nama" data-itable-filter="Nama" placeholder="Nama " class="form-control" value="" />				</div>			</div>			<div class="col-md-3">				<div class="form-group">					<label for="JenisPenunjang">Jenis Penunjang</label>					<input type="text" id="JenisPenunjang" data-itable-filter="JenisPenunjang" placeholder="Jenis Penunjang" class="form-control" value="" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">No Bukti</th>
                    <th class="sorting text-left" data-itable-sorting="5">Jenis Penunjang</th>
                    <th class="sorting text-left" data-itable-sorting="1">NRM</th>
                    <th class="sorting text-left" data-itable-sorting="2">Nama Pasien</th>
                    <th class="sorting text-left" data-itable-sorting="3">Pemeriksaan</th>
                    <th class="sorting text-left" data-itable-sorting="4">Tanggal Periksa</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_HasilBacaPenunjang;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_HasilBacaPenunjang = new iTable({
            id: 'table_HasilBacaPenunjang',
            url: '@Url.Action("Datas_HasilBacaPenunjang", "InputHasilPenunjang")',
            urlType:{
                DELETE : '@Url.Action("HasilBacaPenunjang", "InputHasilPenunjang")'
            },
            orderBy: 4,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {

                        tbody += '<tr>';

                        // JS Columns
                        tbody += `<td class="text-left">${v.noBukti}</td>`;
                        tbody += `<td class="text-left">${v.sectionID_Text}</td>`;
						tbody += `<td class="text-left">${v.nrm}</td>`;
						tbody += `<td class="text-left">${v.namaPasien}</td>`;
						tbody += `<td class="text-left">${v.pemeriksaan}</td>`;
                        tbody += `<td class="text-left">${dateToString(v.tanggalPeriksa, 'dd-MM-yyyy') ?? '-'}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action
						tbody += `<a class="dropdown-item" href="javascript:isetup_HasilBacaPenunjang.openModal('GET',{ NoBukti : '${v.noBukti}' })"><i class="icon-eye"></i> Details</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:isetup_HasilBacaPenunjang.openModal('PUT',{ NoBukti : '${v.noBukti}' })"><i class="icon-pencil"></i> Edit</a></li>`;
                        @if (User.IsInRole(Admin))
                        {
                            @:tbody += `<a class="dropdown-item" href="javascript:itable_HasilBacaPenunjang.delete({ NoBukti : '${v.noBukti}'}, itable_HasilBacaPenunjang)"><i class="icon-trash"></i> Delete</a></li>`;
                        }
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_HasilBacaPenunjang.refresh();

        customJS_HasilBacaPenunjang();
    });

    const customJS_HasilBacaPenunjang = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupHasilBacaPenunjang"/>