@model EmrPuriBunda.Models.DokterModel

<div id="modal_InputHasilPenunjang" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Input Hasil Baca Penunjang </h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md">

                            <div class="form-group row">
                                <div class="col-md">
                                    <label for="InputHasilPenunjang_noBukti">No Bukti</label>
                                    <input type="text" id="InputHasilPenunjang_noBukti" name="NoBukti" class="form-control text-left" disabled />
                                </div>
                                <div class="col-md">
                                    <label for="InputHasilPenunjang_noBill">No Bill Penunjang</label>
                                    <div class="input-group">
                                        <input required data-model="lookupBillFarmasi.noBillPenunjang" type="text" id="InputHasilPenunjang_noBill" name="NoBillPenunjang" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookupBillPenunjang.openModal()"><i class="icon-search4"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_namaPasien">Nama Pasien</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="InputHasilPenunjang_jenisKelamin"></div>
                                    </div>
                                    <input data-model="lookupPasien.namaPasien" type="text" id="InputHasilPenunjang_namaPasien" name="NamaPasien" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                </div>
                            </div>

                        </div>

                        <div class="col-md">

                            <div class="form-group row">
                                <div class="col-md">
                                    <label for="InputHasilPenunjang_lookupPasien">NRM</label>
                                    <div class="input-group">
                                        <input required data-model="lookupPasien.nrm" type="text" id="InputHasilPenunjang_lookupPasien" name="NRM" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookupPasien.openModal()"><i class="icon-search4"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <label for="InputHasilPenunjang_tanggalLahir">Tanggal Lahir</label>
                                    <input data-model="lookupPasien.tglLahir" type="date" id="InputHasilPenunjang_tanggalLahir" name="TglLahir" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_alamat">Alamat</label>
                                <textarea data-model="lookupPasien.alamat" id="InputHasilPenunjang_alamat" name="Alamat" class="form-control text-left readonly-only-type-post readonly-only-type-put" rows="1"></textarea>
                            </div>

                        </div>

                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-md">
                            <div class="form-group">
                                <label for="InputHasilPenunjang_jenisPenunjang">Jenis Penunjang</label>
                                <select data-model="lookupBillFarmasi.sectionID" placeholder="Jenis Penunjang" id="InputHasilPenunjang_jenisPenunjang" name="SectionID" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_SectionPenunjang")'></select>
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_sectionAsal">Section Asal</label>
                                <select required placeholder="Section Asal" id="InputHasilPenunjang_sectionAsal" name="SectionAsalID" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_Section")'></select>
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_dokter">Dokter Pengirim</label>
                                <select required placeholder="Dokter" id="InputHasilPenunjang_dokter" name="DokterID" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_Dokter")'></select>
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_petugas">Petugas yang menginput (Sesuai Login)</label>
                                <input type="text" name="PetugasID_Text" class="readonly-only-type-post readonly-only-type-put form-control" />
                                @*<select required placeholder="PetugasID" id="InputHasilPenunjang_petugas" name="PetugasID" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Dokter")'></select>*@
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_tanggalPeriksa">Tanggal Periksa</label>
                                <input id="InputHasilPenunjang_tanggalPeriksa" class="form-control text-left" type="datetime-local" name="TanggalPeriksa" />
                            </div>

                            <div class="form-group">
                                <label for="InputHasilPenunjang_tempatPeriksa">Tempat Periksa</label>
                                <select required placeholder="Tempat Periksa" id="InputHasilPenunjang_tempatPeriksa" name="VendorRujukanID" class="open-reset form-control text-left" data-datasource='@Url.Action("Vw_Select_TempatPeriksa")'></select>
                            </div>
                        </div>

                        <div class="col-md">

                            <div class="form-group">
                                <label for="InputHasilPenunjang_pemeriksaan">Pemeriksaan</label>
                                <textarea required id="InputHasilPenunjang_pemeriksaan" name="Pemeriksaan" class="form-control text-left" rows="5"></textarea>
                            </div>

                            <div id="modal_InputHasilPenunjang_detailDokumen_container" class="form-group">
                                <label class="form-label font-weight-semibold">Dokumen Tersimpan</label>

                                <div class="row" id="modal_InputHasilPenunjang_detailDokumen">
                                    @*<div class="col-auto  btn-group btn-group-sm" role="group">
                                        <a href="#" class="btn btn-light" data-nourut="1">Ini dokumen 1</a>
                                        <a href="#" class="btn btn-danger"><span class="icon-trash"></span></a>
                                    </div>*@
                                </div>
                            </div>

                            <div class="form-group" style="height: 100%">
                                <label class="form-label font-weight-semibold">Hasil scan dokumen</label>
                                <input type="file" id="DokumenHasilBaca" name="DokumenHasilBaca" class="file-input" accept="application/pdf" multiple="multiple" />
                                <span class="form-text text-muted">Hanya dapat mengunggah <code>.pdf</code></span>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="InputHasilPenunjang_hasilBaca" class="col-md">Hasil Baca</label>
                            <div class="col-md form-check text-right">
                                <input type="checkbox" class="form-check-input" id="InputHasilPenunjang_criticalValue" name="CriticalValue">
                                <label class="form-check-label" for="InputHasilPenunjang_criticalValue">Critical Value</label>
                            </div>
                        </div>
                        <textarea required id="InputHasilPenunjang_hasilBaca" name="HasilBaca" class="form-control text-left"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_HasilBacaPenunjang;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_HasilBacaPenunjang = new iSetup({
            id: 'modal_InputHasilPenunjang',
            url : '@Url.Action("HasilBacaPenunjang")',
            param: e =>{

                var data = new FormData();

                data.append('NoBukti', e.target['NoBukti'].value,);

                const fileHasil = e.target['DokumenHasilBaca'].files;

                if (fileHasil.length > 0) {
                    for (var i = 0; i < fileHasil.length; i++) {
                        data.append(`DokumenHasilBaca`, fileHasil[i])
                    }
                }

                const m = getModelFromForm(e.target, isetup_HasilBacaPenunjang);

                m.HasilBaca = CKEDITOR.instances.InputHasilPenunjang_hasilBaca.getData();

                Object.keys(m).forEach(x => {
                    data.append(x, m[x]);
                });

                if (isetup_HasilBacaPenunjang.type == 'PUT') {

                    const aList = $(isetup_HasilBacaPenunjang.id).find('#modal_InputHasilPenunjang_detailDokumen a[data-nourut]');

                    if (aList && aList.length > 0) {
                        $.each(aList, (i, v) => {
                            const noUrut = $(v).data('nourut');

                            if (noUrut) {
                                data.append('noUrutEdit', noUrut);
                            }
                        });
                    }
                }

                return data;
            },
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_HasilBacaPenunjang.refresh();

                    showAlert('Data berhasil disimpan', 'success');
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                const model = r.data;

                const icon = model.jenisKelamin == "M" ? "fa-mars text-primary" : model.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                const spanJenisKelamin = `<span class="fa ${icon}"></span>`;
                const divJenisKelamin = $(isetup_HasilBacaPenunjang.id).find('#InputHasilPenunjang_jenisKelamin');

                divJenisKelamin.html(spanJenisKelamin);

                CKEDITOR.instances.InputHasilPenunjang_hasilBaca.setData(model.hasilBaca);

                if (t.type == 'PUT' || t.type == 'GET') {
                    const jDetailDokumen = $(t.id).find('#modal_InputHasilPenunjang_detailDokumen');

                    jDetailDokumen.empty();

                    if (r.data.tablePathDokumen && r.data.tablePathDokumen.length > 0) {

                        let tbody = ``;

                        $.each(r.data.tablePathDokumen, (i, v) => {
                            tbody += `<div class="col-auto  btn-group btn-group-sm detail-dokumen" role="group">`;
                            tbody += `<a class="btn btn-light" data-filename="${v.fileName}" data-nourut="${v.noUrut}" data-url="${v.urlDokumen}" onclick="isetup_HasilBacaPenunjang.showDetailDokumen(this)" href="javascript:void(0);">${v.fileName}</a>`;

                            if (t.type == 'PUT') {
                                tbody += `<a onclick="isetup_HasilBacaPenunjang.deleteDetailDokumen(this)" href="javascript:void(0);" class="btn btn-danger"><span class="icon-trash"></span></a>`;
                            }

                            tbody += `</div>`;
                        });

                        jDetailDokumen.html(tbody)
                    } else {
                        jDetailDokumen.html(`<i class='ml-2'>- Tidak ada dokumen tersimpan -</i>`)
                    }

                }
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

                if (t.type === 'POST') {
                    const sectionAsalID = '@Context.Request.Cookies["SectionID"]';
                    const sectionAsalName = '@Context.Request.Cookies["SectionName"]';
                    form['PetugasID_Text'].value = '@Model.NamaDOkter';
                    form['NoBukti'].value = '(Auto)';

                    $(t.id).find('#InputHasilPenunjang_sectionAsal').setSelect2Value(sectionAsalID, sectionAsalName);
                    $(t.id).find('#modal_InputHasilPenunjang_detailDokumen_container').addClass('d-none');
                    $(t.id).find('#modal_InputHasilPenunjang_detailDokumen').empty();

                    CKEDITOR.instances.InputHasilPenunjang_hasilBaca.setData('');
                } else {
                    $(t.id).find('#modal_InputHasilPenunjang_detailDokumen_container').removeClass('d-none');
                }
            },
            otherAjax: {
                contentType: false,
                processData: false,
            }
        });

        isetup_HasilBacaPenunjang.deleteDetailDokumen = (t) => {
            $(t).closest('.detail-dokumen').remove();
        }

        isetup_HasilBacaPenunjang.showDetailDokumen = (t) => {
            const fileName = $(t).data('filename');
            const url = $(t).data('url');
            isetup_HasilBacaPenunjangDetail.show(fileName, url);
        }

        customJSSetup_HasilBacaPenunjang();
    });

    const customJSSetup_HasilBacaPenunjang = () => {
        CKEDITOR.replace('InputHasilPenunjang_hasilBaca');

        $('#kvFileinputModal').on('hidden.bs.modal', e => {
            if ($('.modal.show').length > 0)
                $('body').addClass('modal-open');
        });
    };
</script>

<partial name="LookUp_lookupPasien" />
<partial name="LookUp_lookupBillPenunjang" />
<partial name="SetupHasilBacaPenunjangDetail" />
