@using System.Security.Claims
@{ 
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<div id="setup_AsesmenPerawatRJ">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <input type="text" class="d-none" name="NoReg" />
        <input type="text" class="d-none" name="NRM" />
        <input type="text" class="d-none" name="DokterId" />

        @*Subjektif*@

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_AsesmenPerawatRJ_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenPerawatRJ_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

            </div>

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_AsesmenPerawatRJ_select1">Alasan kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenPerawatRJ_select1" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenPerawatRJ")'></select>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md">

                <div class="">
                    <p class="text-dark h3 text-left">Subjektif</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenPerawatRJ_AkutKronis" class="col-md-auto">Akut/Kronis</label>
                        <div class="col-md text-right">
                            <div class="form-check mb-2">
                                <input id="setup_AsesmenPerawatRJ_PembaruanAsesmen" name="PembaruanAsesmen" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="setup_AsesmenPerawatRJ_PembaruanAsesmen">Pembaruan Asesmen</label>
                            </div>
                        </div>
                    </div>
                    <select placeholder="Akut/Kronis" id="setup_AsesmenPerawatRJ_AkutKronis" name="Id_mAkutKronis" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AkutKronis", "AsesmenPerawatRJ")'></select>
                </div>

                <div class="">
                    <div class="row">
                        <label for="setup_AsesmenPerawatRJ_input6" class="col-md-4 mt-3">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRJ_input6" data-template-jenis="6"></select>
                        </div>
                    </div>

                    <textarea rows="4" id="setup_AsesmenPerawatRJ_input6" name="Anamnesis" class="form-control text-left"></textarea>
                </div>


                <div class="row mt-1">
                    <div class="col-md-5">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatRJ_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                Autoanamnesis
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatRJ_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                Alloanamnesis
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-md-5"></div>
                    <div class="col-md">
                        <select placeholder="Hubungan dengan pasien" id="setup_AsesmenPerawatRJ_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenPerawatRJ")'></select>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRJ_Card_Riwayat" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRJ_Card_Riwayat" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @*Riwayat*@


            <div class="col-md">

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRJ_Card_RiwayatPsikososialSpiritual" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat Psikososial-Spiritual</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRJ_Card_RiwayatPsikososialSpiritual" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_input28">Hubungan dengan anggotaKeluarga</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="B">
                                            Baik
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="K">
                                            Kurang Baik
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_input29">Kecendrungan Bunuh Diri</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_input30">Membutuhkan Privasi Tambahan</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_input31">Masalah Ekonomi</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRJ_select8">Status Psikologi</label>
                                <select placeholder="Status Psikologi" id="setup_AsesmenPerawatRJ_select8" name="Id_mStatusPsikologi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_StatusPsikologi", "AsesmenPerawatRJ")'></select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md">
                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRJ_Card_Skrining" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Skrining</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRJ_Card_Skrining" class="collapse show card-body">

                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select5">Fungsional</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Fungsional" id="setup_AsesmenPerawatRJ_select5" name="SkriningFungsional" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRJ", new { kelompok = 1 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_input18" name="SkriningFungsionalCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select9">Resiko Jatuh</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Resiko Jatuh" id="setup_AsesmenPerawatRJ_select9" name="SkriningResikoJatuh" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRJ", new { kelompok = 2 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_input21" name="SkriningResikoJatuhCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select10">Resiko Nutrisi</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Resiko Nutrisi" id="setup_AsesmenPerawatRJ_select10" name="SkriningResikoNutrisi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRJ", new { kelompok = 3 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_input23" name="SkriningResikoNutrisiCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label for="setup_AsesmenPerawatRJ_select11" class="col-md-4">Nyeri</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Nyeri" id="setup_AsesmenPerawatRJ_select11" name="SkriningNyeri" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRJ", new { kelompok = 4 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRJ_input25" name="SkriningNyeriCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenPerawatRJ_input26" name="ButuhEdukasi" type="checkbox" class="form-check-input">
                                        Butuh Edukasi
                                    </label>
                                </div>
                                <textarea rows="4" id="setup_AsesmenPerawatRJ_input27" name="ButuhEdukasiCatatan" class="form-control text-left"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md">
                <div class="">
                    <p class="text-dark h3 text-left">Objektif</p>
                </div>
                <div class="form-group">

                    <div class="row">
                        <label for="setup_AsesmenPerawatRJ_input33" class="col-md-auto">Pemeriksaan Fisik</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRJ_input33" data-template-jenis="7"></select>
                        </div>
                    </div>

                    <textarea rows="4" id="setup_AsesmenPerawatRJ_input33" name="Objektif_PemeriksaanFisik" class="form-control text-left"></textarea>
                </div>

                <div class="">
                    <p class="text-dark h3 text-left">Asesmen (Masalah Keperawatan)</p>
                </div>
                <div class="form-group">
                    <textarea rows="4" id="setup_AsesmenPerawatRJ_input34" name="Asesmen_MasalahKeperawatan" class="form-control text-left"></textarea>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">

                    <div class="row">
                        <label for="setup_AsesmenPerawatRJ_input35" class="h3 col-md-3">Planning</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRJ_input6" data-template-jenis="29"></select>
                        </div>
                    </div>

                    <textarea rows="6" id="setup_AsesmenPerawatRJ_input35" name="Planning" class="form-control text-left"></textarea>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatRJ_input36" class="h3">Instruksi</label>
                    <textarea rows="4" id="setup_AsesmenPerawatRJ_input36" name="Instruksi" class="form-control text-left"></textarea>
                </div>
            </div>

        </div>


        <div class="d-flex justify-content-end align-items-center">


            <div class="form-check form-check-inline">
                <input id="setup_AsesmenPerawatRJ_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
                <label class="form-check-label mt-1" for="setup_AsesmenPerawatRJ_IsiDenganBenar">
                    Saya telah mengisi asesmen dengan benar
                </label>
            </div>

            <button type="button" onclick="isetup_AsesmenPerawatRJ.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2 user-validation"></i>Simpan</button>
        </div>

    </form>
</div>

<script>
    let isetup_AsesmenPerawatRJ;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenPerawatRJ = new iSetup({
            id: 'setup_AsesmenPerawatRJ',
            url : '@Url.Action("ActionAsesmenPerawatRJ", "AsesmenPerawatRJ")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_AsesmenPerawatRJ),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenPerawatRJ.load();
                }
            },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenPerawatRJ.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenPerawatRJ.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenPerawatRJ.initModel();

                    if (t.type == 'PUT') {
                        form['DokterId'].value = '@pasien.DokterID';
                    }
                }
            },
            modalDataOnSuccess: (r, t) => {
            },
            modalOnReady: (e, t) => {
			}
        });

        isetup_AsesmenPerawatRJ.edit = () => {
            const noReg = '@pasien.NoReg';

            isetup_AsesmenPerawatRJ.openState('PUT', {
                NoReg: noReg
            })
        };

        isetup_AsesmenPerawatRJ.load = () => {
            const noReg = '@pasien.NoReg';

            isetup_AsesmenPerawatRJ.openState('GET', {
                NoReg: noReg
            })
        };

        isetup_AsesmenPerawatRJ.new = () => {
            isetup_AsesmenPerawatRJ.openState('POST', {});

            const form = $(isetup_AsesmenPerawatRJ.id).find('form')[0];
            form['NoReg'].value = '@pasien.NoReg';
            form['NRM'].value = '@pasien.NRM';
            form['DokterId'].value = '@pasien.DokterID';

            isetup_AsesmenPerawatRJ.initModel();
        }

        isetup_AsesmenPerawatRJ.isModified = () => {
            const setup = isetup_AsesmenPerawatRJ;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenPerawatRJ.initModel = () => {
            const setup = isetup_AsesmenPerawatRJ;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenPerawatRJ;

            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];
                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;
                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenPerawatRJ();
    });

    const customJSSetup_AsesmenPerawatRJ = () => {
        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenPerawatRJ.load();
        }
        else
        {
            @:isetup_AsesmenPerawatRJ.new();
        }
    };
</script>

