﻿@model EmrPuriBunda.Models.OrderPenunjang_OrderPenunjang_ViewModel

<div id="setup_orderPenunjang_Jasa" class="pt-0">

    <div class="row">
        @foreach (var jenis in Model.ItemList)
        {
        <div class="col-md-6 filter-section" data-section="@jenis.SectionID">
            <div class="card-group">
                <div class="card">
                    <div class="card-header bg-dark text-white header-elements-inline">
                        <label class="card-title">@jenis.NamaJenis</label>
                    </div>
                    <div class="">

                        <div class="row no-gutters">

                            @foreach (var kelompok in jenis.Kelompok)
                            {

                            <div class="@(jenis.JumlahKelompok <= 1? "col-md-12" : "col-md-6")">

                                <div class="card-group h-100">

                                    <div class="card border-grey-300" style="border-radius:0">
                                        <div class="card-header bg-light border-grey-300 header-elements-inline p-2">
                                            <label class="card-title">@kelompok.NamaKelompok</label>
                                        </div>

                                        <div class="card-body">
                                            <div class="form-group">
                                                @foreach (var jasa in kelompok.Tindakan)
                                                {
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="jasa" class="form-check-input" data-value="@jasa.JasaID" data-kelompok="@kelompok.IDKelompok">
                                                            @jasa.NamaTindakan
                                                        </label>
                                                    </div>
                                                    }
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
 </div>

<!--Custom HTML-->

<script>

</script>

<!--partial-->