@{ var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="table_RiwayatPersalinan">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Riwayat Persalinan</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_RiwayatPersalinan.add()"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_RiwayatPersalinan.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />
        <div class="row">

        </div>
        <input type="submit" class="d-none" />
    </form>
    <div class="datatable-scroll">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-center" data-itable-sorting="0">Tahun Persalinan</th>
                    <th class="text-left" data-itable-sorting="1">Tempat Persalinan</th>
                    <th class="text-left" data-itable-sorting="2">Penolong Persalinan</th>
                    <th class="text-left" data-itable-sorting="3">Cara Persalinan</th>
                    <th class="text-left" data-itable-sorting="4">Penyulit Kehamilan</th>
                    <th class="text-center" data-itable-sorting="5">BBL</th>
                    <th class="text-left" data-itable-sorting="6">Jenis Kelamin</th>
                    <th class="text-left" data-itable-sorting="7">Keterangan</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_RiwayatPersalinan;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_RiwayatPersalinan = new iTable({
            id: 'table_RiwayatPersalinan',
            url: '@Url.Action("Datas_RiwayatPersalinan", "RiwayatPersalinan")',
            urlType:{
                DELETE : '@Url.Action("RiwayatPersalinan", "RiwayatPersalinan")'
            },
            orderBy: 0,
            pageSize: 20,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {

                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns
						tbody += `<td class="text-center">${v.tahunPersalinan}</td>`;
						tbody += `<td class="text-left">${v.id_mTempatPersalinan_Text}</td>`;
                        tbody += `<td class="text-left">${v.id_mPenolongPersalinan_Text}</td>`;
                        tbody += `<td class="text-left">${v.id_mCaraPersalinan_Text}</td>`;
						tbody += `<td class="text-left">${v.penyulitKehamilan}</td>`;
						tbody += `<td class="text-center">${v.bbl}</td>`;
						tbody += `<td class="text-left">${v.jenisKelamin}</td>`;
						tbody += `<td class="text-left">${v.keterangan}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action
                        tbody += `<a class="dropdown-item" href="javascript:isetup_RiwayatPersalinan.detail('${v.id}')"><i class="icon-eye"></i> Details</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:isetup_RiwayatPersalinan.edit('${v.id}')"><i class="icon-pencil"></i> Edit</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:itable_RiwayatPersalinan.delete({ Id : '${v.id}' , itable_RiwayatPersalinan)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_RiwayatPersalinan.refresh();

        customJS_RiwayatPersalinan();
    });

    const customJS_RiwayatPersalinan = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>