@{ var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="modal_RiwayatPersalinan" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>RiwayatPersalinan</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" id="NRM" name="NRM" />

                    <div class="form-group row">
                        <div class="col-md">
                            <label for="Id">Id</label>
                            <input type="text" id="Id" name="Id" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                        </div>
                        <div class="col-md">
                            <label for="TahunPersalinan">Tahun Persalinan</label>
                            <input type="number" id="TahunPersalinan" name="TahunPersalinan" class="form-control text-left" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md">
                            <label for="Id_mTempatPersalinan">Tempat Persalinan</label>
                            <select placeholder="Tempat Persalinan" id="Id_mTempatPersalinan" name="Id_mTempatPersalinan" class="form-control text-left" data-datasource='@Url.Action("Select_TempatPersalinan", "RiwayatPersalinan")'></select>
                        </div>
                        <div class="col-md">
                            <label for="Id_mPenolongPersalinan">Penolong Persalinan</label>
                            <select placeholder="Penolong Persalinan" id="Id_mPenolongPersalinan" name="Id_mPenolongPersalinan" class="form-control text-left" data-datasource='@Url.Action("Select_PenolongPersalinan", "RiwayatPersalinan")'></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md">
                            <label for="Id_mCaraPersalinan">Cara Persalinan</label>
                            <select placeholder="Cara Persalinan" id="Id_mCaraPersalinan" name="Id_mCaraPersalinan" class="form-control text-left" data-datasource='@Url.Action("Select_CaraPersalinan", "RiwayatPersalinan")'></select>
                        </div>
                        <div class="col-md">
                            <label for="PenyulitKehamilan">Penyulit Kehamilan</label>
                            <input type="text" id="PenyulitKehamilan" name="PenyulitKehamilan" class="form-control text-left" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md">
                            <label for="UsiaKehamilan">Usia Kehamilan</label>
                            <input type="text" id="UsiaKehamilan" name="UsiaKehamilan" class="form-control text-left" />
                        </div>
                        <div class="col-md">
                            <label for="BBL">BBL</label>
                            <input type="text" id="BBL" name="BBL" class="form-control text-left" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md">
                            <label for="JenisKelamin">Jenis Kelamin</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="JenisKelamin" value="M">
                                    Laki-laki
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="JenisKelamin" value="F">
                                    Perempuan
                                </label>
                            </div>
                        </div>
                        <div class="col-md">
                            <label for="Keterangan">Keterangan</label>
                            <input type="text" id="Keterangan" name="Keterangan" class="form-control text-left" />
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_RiwayatPersalinan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_RiwayatPersalinan = new iSetup({
            id: 'modal_RiwayatPersalinan',
            url : '@Url.Action("RiwayatPersalinan", "RiwayatPersalinan")',
			param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_RiwayatPersalinan),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_RiwayatPersalinan.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['Id'].value = '(Auto)';
                    form['NRM'].value = '@pasien.NRM';
				}
			}
        });

        isetup_RiwayatPersalinan.beforeOpenModal = () => {
            $(isetup_RiwayatPersalinan.id).css('z-index', 1061);
            $(isetup_RiwayatPersalinan.id).modal({ backdrop: 'static' });
            $('.modal-backdrop.fade.show').last().css('z-index', $(isetup_RiwayatPersalinan.id).css('z-index') - 1);
        }

        isetup_RiwayatPersalinan.add = () => {
            isetup_RiwayatPersalinan.beforeOpenModal();

            isetup_RiwayatPersalinan.openModal('POST', {});
        }

        isetup_RiwayatPersalinan.edit = (id) => {
            isetup_RiwayatPersalinan.beforeOpenModal();

            isetup_RiwayatPersalinan.openModal('PUT', { Id: id });
        }

        isetup_RiwayatPersalinan.detail = (id) => {
            isetup_RiwayatPersalinan.beforeOpenModal();

            isetup_RiwayatPersalinan.openModal('GET', { Id: id });
        }

        customJSSetup_RiwayatPersalinan();
    });

    const customJSSetup_RiwayatPersalinan = () => {
        $(isetup_RiwayatPersalinan.id).on('hidden.bs.modal', e => {
			if ($('.modal.show').length > 0) {
				$('body').addClass('modal-open');
            }
        });
    };
</script>

