@using static EmrPuriBunda.Constant.RolesConstant;
@using EmrPuriBunda.Mahas.Helpers;
@inject Microsoft.Extensions.Options.IOptions<AppSettings> options
@{
    ViewData["Title"] = "Registrasi Pasien";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
{
        new SelectListItem((string)ViewData["Title"], "active")
    };

    var isDokterSpesialis = User.IsRoleDokterSpesialis();

    var appSettings = options.Value;

    var groupPelayanan = Context.Request.Cookies["GroupPelayanan"];
}

<style>
    .bg-yellow {
        background-color: #ffc107;
    }
</style>
<!-- CSS CUSTOM -->

<div class="card" id="table_RegistrasiPasien">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Registrasi Pasien</h5>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_RegistrasiPasien.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="Periode">Periode</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            @if (groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI || groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD)
                            {
                                <input type="checkbox" onchange="onAllPeriode(this)" id="table_RegistrasiPasien_Periode" aria-label="All Periode" data-itable-filter="Periode">
                            }
                            else
                            {
                                <input type="checkbox" onchange="onAllPeriode(this)" id="table_RegistrasiPasien_Periode" aria-label="All Periode" data-itable-filter="Periode" checked>
                            }
                        </div>
                        <input type="date" id="DariTanggal" data-itable-filter="DariTanggal" class="form-control all-periode-change" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <input type="date" id="SampaiTanggal" data-itable-filter="SampaiTanggal" class="form-control all-periode-change" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="SudahCheckout">Checkout</label>
                    <select onchange="itable_RegistrasiPasien.refresh()" id="SudahCheckout" data-itable-filter="SudahCheckout" placeholder="Checkout" class="form-control">
                        @if (groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI || groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD)
                        {
                            <option value="">Semua</option>
                            <option value="0" selected>Belum Checkout</option>
                            <option value="1">Sudah Checkout</option>
                        }
                        else
                        {
                            <option value="" selected>Semua</option>
                            <option value="0">Belum Checkout</option>
                            <option value="1">Sudah Checkout</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="SudahIsiAsesmen">Asesmen</label>
                    <select onchange="itable_RegistrasiPasien.refresh()" id="SudahIsiAsesmen" data-itable-filter="SudahIsiAsesmen" placeholder="Asesmen" class="form-control">
                        @if (groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI || groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD)
                        {
                            <option value="" selected>Semua</option>
                            <option value="0">Belum Isi Asesmen</option>
                            <option value="1">Sudah Isi Asesmen</option>
                        }
                        else
                        {
                            <option value="">Semua</option>
                            <option value="0" selected>Belum Isi Asesmen</option>
                            <option value="1">Sudah Isi Asesmen</option>
                        }
                    </select>
                </div>
            </div>
            
            @if (groupPelayanan != appSettings.DefaultConfig.GroupPelayananRJ)
            {
                 <div class="col-md-2">
                    <div class="form-group">
                        <label for="SudahDisposisi">Disposisi</label>
                        <select onchange="itable_RegistrasiPasien.refresh()" id="SudahDisposisi" data-itable-filter="SudahDisposisi" placeholder="Disposisi" class="form-control">
                            <option value="">Semua</option>
                            <option value="0" selected>Belum Disposisi</option>
                            <option value="1">Sudah Disposisi</option>
                        </select>
                    </div>
                </div>   
            }

        </div>
        <div class="row col">

            <div class="col">
                <div class="form-group">
                    <label for="NoReg">NoReg</label>
                    <input type="text" id="NoReg" data-itable-filter="NoReg" placeholder="NoReg" class="form-control" value="" />
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="NamaPasien">Nama Pasien</label>
                    <input type="text" id="NamaPasien" data-itable-filter="NamaPasien" placeholder="Nama Pasien" class="form-control" value="" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="NRM">NRM</label>
                    <input type="text" id="NRM" data-itable-filter="NRM" placeholder="NRM" class="form-control" data-mask="99.99.99" value="" />
                </div>
            </div>

            @if (!isDokterSpesialis)
            {
                <div class="col">
                    <div class="form-group">
                        <label for="NamaDokter">Nama Dokter </label>
                        <input type="text" id="NamaDokter" data-itable-filter="NamaDokter" placeholder="Nama Dokter " class="form-control" value="" />
                    </div>
                </div>
            }
        </div>
        <input type="submit" class="d-none" />
    </form>
    <div table-responsive>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" style="width: 30px;">EMR</th>
                    <th class="sorting text-center" data-itable-sorting="3">Tgl Reg</th>
                    @if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI)
                    {
                        <th class="text-left">No Kamar</th>
                    }
                    else if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRJ)
                    {
                        <th class="text-left">No Antri</th>
                    }
                    else if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD) 
                    {
                        <th class="text-left" width="20px">Triage</th>
                    }
                    <th class="sorting text-left" data-itable-sorting="1">NRM</th>
                    <th class="sorting text-left" data-itable-sorting="2">Nama Pasien</th>
                    <th class="sorting text-left" data-itable-sorting="2">Tgl Lahir</th>
                    <th class="sorting text-left" data-itable-sorting="4">Nama Dokter</th>
                    <th class="text-center">Sudah<br />Isi Asesmen</th>
                    @if (groupPelayanan != appSettings.DefaultConfig.GroupPelayananRJ)
                    {
                        <th class="text-center">Disposisi</th>
                    }

                    <th class="text-center">Sudah<br />Checkout</th>
                    @*<th class="text-center" style="width: 30px;">Action</th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_RegistrasiPasien;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_RegistrasiPasien = new iTable({
            id: 'table_RegistrasiPasien',
            url: '@Url.Action("Datas_RegistrasiPasien", "RegistrasiPasien")',
            orderBy: 3,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();

                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Additional action

                        tbody += `<td class="text-center"><a href="@Url.Action("Index", "Pasien")?noReg=${v.noReg}&nomor=${v.nomor}" class="fas fa-briefcase-medical"></a></td>`;

                        // JS Columns

                        tbody += `<td class="text-center">${dateToString(v.tanggal, 'dd/MM/yyyy')} ${dateToString(v.jam, 'HH:mm') ?? ''}</td>`;

                        @if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI)
                        {
                            @: tbody += `<td class="text-left">${v.noKamar}</td>`;
                        }
                        else if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRJ)
                        {
                            @: tbody += `<td class="text-left">${v.noAntri}</td>`;
                        }
                        else if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD) 
                        {
                            @: const triageColor = v.triage == 1 ? 'bg-dark' : v.triage == 2 ? 'bg-success' : v.triage == 3 ? 'bg-yellow' : v.triage == 4 ? 'bg-danger' : '';
                            @: tbody += `<td class="text-left ${triageColor}"></td>`;
                        }

						tbody += `<td class="text-left">${v.nrm}</td>`;
                        tbody += `<td class="text-left">${v.namaPasien}</td>`;
                        tbody += `<td class="text-center">${dateToString(v.tglLahir, 'dd/MM/yyyy') ?? '-'}</td>`;
                        tbody += `<td class="text-left">${v.namaDokter}</td>`;

                        @if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRI)
                        {
                            @: tbody += `<td class="text-center"><input type="checkbox" ${v.asesmenRI && 'checked'} onclick="return false;"/></td>`;
                        }
                        else if(groupPelayanan == appSettings.DefaultConfig.GroupPelayananRJ)
                        {
                            @: tbody += `<td class="text-center"><input type="checkbox" ${v.asesmenRJ && 'checked'} onclick="return false;"/></td>`;
                        }
                        else if (groupPelayanan == appSettings.DefaultConfig.GroupPelayananUGD)
                        {
                            @: tbody += `<td class="text-center"><input type="checkbox" ${v.asesmenUGD && 'checked'} onclick="return false;"/></td>`;
                        }
                        else
                        {
                            @:`<td class="text-center">-</td>`
                        }

                        @if (groupPelayanan != appSettings.DefaultConfig.GroupPelayananRJ)
                        {
                            @:tbody += `<td class="text-center"><input type="checkbox" ${v.disposisi && 'checked'} onclick="return false;"/></td>`;
                        }
                        tbody += `<td class="text-center"><input type="checkbox" ${v.sudahCheckout && 'checked'} onclick="return false;"/></td>`;
                        // ----- JS Columns

      //                  tbody += '<td class="text-center">';
      //                  tbody += '<div class="list-icons">';
      //                  tbody += '<div class="dropdown">';
      //                  tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
      //                  tbody += '<div class="dropdown-menu dropdown-menu-right">';

      //                  // JS Action
						//tbody += `<a class="dropdown-item" href="javascript:isetup_RegistrasiPasien.openModal('GET',{ NoReg : '${v.noReg}' })"><i class="icon-eye"></i> Details</a></li>`;
      //                  // ----- JS Columns

      //                  tbody += '</div>';
      //                  tbody += '</div>';
      //                  tbody += '</div>';
      //                  tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        onAllPeriode = (cb) => {
            let inputs = $(itable_RegistrasiPasien.id).find(".all-periode-change");
            inputs.prop("disabled", !cb.checked);
            itable_RegistrasiPasien.refresh();
        }

        itable_RegistrasiPasien.refresh();

        customJS_RegistrasiPasien();
    });

    const customJS_RegistrasiPasien = () => {

    };
</script>

<partial name="SetupRegistrasiPasien" />