<!-- CSS CUSTOM -->

<div id="modal_Rujukan" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Rujukan</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input1">Id</label>
                        <input type="text" id="input1" name="Id" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                    </div>
                    <div class="form-group">
                        <label for="input2">Rujukan</label>
                        <input type="text" id="input2" name="Rujukan" class="form-control text-left" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_Rujukan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_Rujukan = new iSetup({
            id: 'modal_Rujukan',
            url : '@Url.Action("ActionRujukan")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_Rujukan),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_Rujukan.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    
				}
			}
        });

        

        customJSSetup_Rujukan();
    });

    const customJSSetup_Rujukan = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

