@{
    ViewData["Title"] = "Laporan Kelengkapan Pengisian Assesmen Awal Keperawatan";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_LaporanKelengkapanPengisianAssesmenAwalKeperawatan">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Laporan Kelengkapan Pengisian Assesmen Awal Keperawatan</h5>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form card-body">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row">
            <div class="col-md">				<div class="form-group">					<label for="Mulai">Mulai</label>					<input name="Mulai" type="date" onchange="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.pageIndex = 0; itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh();" data-itable-filter="Mulai" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />				</div>			</div>			<div class="col-md-3">				<div class="form-group">					<label for="Akhir">Akhir</label>					<input name="Akhir" type="date" onchange="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.pageIndex = 0; itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh();" data-itable-filter="Akhir" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />				</div>			</div>			<div class="col-md">				<div class="form-group">					<label for="GroupSection">Group Section</label>					<select name="GroupSection" onchange="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.pageIndex = 0; itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh()" id="GroupSection" data-itable-filter="GroupSection" placeholder="Group Section" class="form-control">						<option value="">ALL</option>						<option value="RI">RI</option>						<option value="RJ">RJ</option>						<option value="UGD">UGD</option>					</select>				</div>			</div>

            <div class="col-md-auto">
                <label style="visibility:hidden">Export</label>
                <div>
                    <button type="button" class="btn btn-success" onclick="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.exportToExcel()">Export Ke Excel</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">				<div class="form-group">					<label for="NRM">NRM</label>					<input name="NRM" type="text" onchange="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.pageIndex = 0; itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh();" data-itable-filter="NRM" class="form-control" value="" />				</div>			</div>

            <div class="col-md">				<div class="form-group">					<label for="NamaDokter">Dokter</label>					<input name="NamaDokter" type="text" onchange="itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.pageIndex = 0; itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh();" data-itable-filter="NamaDokter" class="form-control" value="" />				</div>			</div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div class="datatable-scroll">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">NoReg</th>					<th class="sorting text-left" data-itable-sorting="1">NRM</th>					<th class="sorting text-left" data-itable-sorting="2">Section</th>					<th class="sorting text-left" data-itable-sorting="3">Nama Dokter</th>					<th class="sorting text-center" data-itable-sorting="4">Status Lengkap</th>					<th class="sorting text-center" data-itable-sorting="5">S</th>					<th class="sorting text-center" data-itable-sorting="6">O</th>					<th class="sorting text-center" data-itable-sorting="7">A</th>					<th class="sorting text-center" data-itable-sorting="8">P</th>
					<th class="sorting text-center" data-itable-sorting="9">Resiko</th>
					<th class="sorting text-center" data-itable-sorting="10">SF</th>
					<th class="sorting text-center" data-itable-sorting="11">SRJ</th>
					<th class="sorting text-center" data-itable-sorting="12">SRN</th>
					<th class="sorting text-center" data-itable-sorting="13">SNY</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan = new iTable({
            id: 'table_LaporanKelengkapanPengisianAssesmenAwalKeperawatan',
            url: '@Url.Action("Datas_LaporanKelengkapanPengisianAssesmenAwalKeperawatan", "LaporanKelengkapanPengisianAssesmenAwalKeperawatan")',
            urlType:{
                DELETE : '@Url.Action("LaporanKelengkapanPengisianAssesmenAwalKeperawatan")'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.noReg}</td>`;						tbody += `<td class="text-left">${v.nrm}</td>`;						tbody += `<td class="text-left">${v.sectionName}</td>`;						tbody += `<td class="text-left">${v.namaDOkter}</td>`;						tbody += `<td class="text-center">${v.statusLengkap}</td>`;						tbody += `<td class="text-center">${v.s}</td>`;						tbody += `<td class="text-center">${v.o}</td>`;						tbody += `<td class="text-center">${v.a}</td>`;						tbody += `<td class="text-center">${v.p}</td>`;
						tbody += `<td class="text-center">${v.resiko}</td>`;
						tbody += `<td class="text-center">${v.sf}</td>`;
						tbody += `<td class="text-center">${v.srj}</td>`;
						tbody += `<td class="text-center">${v.srn}</td>`;
						tbody += `<td class="text-center">${v.sny}</td>`;
                        // ----- JS Columns

                        tbody += `<td class="text-center"><a href="@Url.Action("Index", "Pasien")?noReg=${v.noReg}&nomor=${v.nomor}&sectionId=${v.sectionId}" class="fas fa-briefcase-medical" target="_blank" ></a></td>`;

                        // JS Action						
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.refresh();

        itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.exportToExcel = () => {
            const form = $(itable_LaporanKelengkapanPengisianAssesmenAwalKeperawatan.id).find('form')[0]

            console.log(form);

            const url = `@Url.Action("ReportExcel")?dariTanggal=${form["Mulai"].value}&sampaiTanggal=${form['Akhir'].value}&groupSection=${form['GroupSection'].value}`;

            window.open(url, "_blank");
        }

        customJS_LaporanKelengkapanPengisianAssesmenAwalKeperawatan();
    });

    const customJS_LaporanKelengkapanPengisianAssesmenAwalKeperawatan = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<!--partial-->