<div id="setup_Resep_modalLookup_table1" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Obat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" data-itable-filter="NoReg" value="@ViewData["NoReg"]" />
                    <input type="hidden" id="setup_Resep_modalLookup_table1_filterSectionID" data-itable-filter="SectionID"  />
                    <input type="hidden" class="itable-pagesize" value="10" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="setup_Resep_NamaObat">Nama Obat</label>
                                <div class="input-group">
                                    <input type="text" id="setup_Resep_lookUp_Filter_NamaPaten" data-itable-filter="NamaObat" placeholder="Paten / Generik" class="form-control" value="" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" onclick="itable_setup_Resep_table1.refresh()"><i class="icon-sync"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check form-check-inline mt-4">
                                <label class="form-check-label">
                                    <input data-itable-filter="SemuaObat" type="checkbox" class="form-check-input" onchange="itable_setup_Resep_table1.refresh()">
                                    Tampilkan Semua
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="d-none" />
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-multiple">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">Nama Barang</th>                                <th class="text-left">Generik</th>								<th class="sorting text-left" data-itable-sorting="1">Satuan Stok</th>								<th class="sorting text-left" data-itable-sorting="2">Qty Stok</th>								<th class="sorting text-left d-none" data-itable-sorting="3">Barang ID</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_setup_Resep_table1;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_setup_Resep_table1 = new iTable({
            id: 'setup_Resep_modalLookup_table1',
            url: '@Url.Action("LookUp_table1", "Resep")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns                        tbody += `<td class="text-left">${v.namaBarang}</td>`;                        tbody += `<td class="text-left">${v.namaGenerik ?? ''}</td>`;						tbody += `<td class="text-left">${v.satuan_Stok}</td>`;						tbody += `<td class="text-left">${v.qty_Stok}</td>`;						tbody += `<td class="text-left d-none">${v.barang_ID}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                $(itable_setup_Resep_table1.id).find('form')[0].reset();

                v.forEach(x => isetup_Resep.addTableValue_table1({
					Barang_ID:x.barang_ID
				}, {
					Nama_Barang:x.namaBarang,					Satuan:x.satuan_Stok,					Stok:x.qty_Stok,					Barang_ID:x.barang_ID
				}));
            }
        });

        itable_setup_Resep_table1.delay = (fn, ms) => {
            let timer = 0
            return function(...args) {
                clearTimeout(timer)
                timer = setTimeout(fn.bind(this, ...args), ms || 0)
            }
        }
    });
</script>

@*<script>
    // ketik filter lakukan pencarian
    $(itable_setup_Resep_table1.id).find('#setup_Resep_lookUp_Filter_NamaPaten')
            .keyup(itable_setup_Resep_table1.delay(event => {
                itable_setup_Resep_table1.refresh();
            }, 500));
</script>*@
