<div id="setup_Resep_modalLookup_lookup1" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Paket Obat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md-3">                            <div class="form-group">
                                <label for="Filter">Filter</label>
                                <input type="text" id="setup_Resep_modalLookup_Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" />
                                <input type="checkbox" id="setup_Resep_modalLookup_Racik" data-itable-filter="Racik" class="d-none"/>
                            </div>						</div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-single">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">Kode Paket</th>
                                <th class="sorting text-left" data-itable-sorting="1">Nama Paket</th>
                                <th class="text-left">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_SetupResep_lookup1;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_SetupResep_lookup1 = new iTable({
            id: 'setup_Resep_modalLookup_lookup1',
            url: '@Url.Action("LookUp_lookup1", "Resep")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.kodePaket}</td>`;                        tbody += `<td class="text-left">${v.namaPaket}</td>`;
                        tbody += `<td class="text-left">${v.keterangan}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                isetup_Resep.models['setup_Resep_lookup1'] = v[0];
                triggerModels(isetup_Resep, 'setup_Resep_lookup1');

                isetup_Resep.getPaketObat(v[0].kodePaket);

                const sediaan = v[0].jenisSediaan;

                if (v[0].racik) {
                    $(isetup_Resep.id).find('#modal_setup_Resep_bentukSediaan').setSelect2Value(sediaan, sediaan);
                }

                $(isetup_Resep.id).find('#modal_setup_Resep_namaRacikan').val(v[0].namaPaket);
            }
        });

        itable_SetupResep_lookup1.setPuyer = puyer => {
            $(itable_SetupResep_lookup1.id).find('#setup_Resep_modalLookup_Racik').prop('checked', puyer);
        }
    });
</script>