﻿@using Microsoft.Extensions.Options
@using EmrPuriBunda.Mahas.Helpers;
@inject IOptions<AppSettings> options

@{ 
    var appSetting = options.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmrPuriBunda </title>

    <!-- Global stylesheets -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/template/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/mahas/dist/css/mahas.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/template/global_assets/js/main/jquery.min.js"></script>
    <script src="~/template/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/template/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/template/global_assets/js/plugins/extensions/jquery_ui/core.min.js"></script>
    <script src="~/template/global_assets/js/plugins/extensions/jquery_ui/effects.min.js"></script>
    <script src="~/template/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/template/global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    
    <script src="~/template/global_assets/js/plugins/editors/ace/ace.js"></script>
    <script src="~/template/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/template/global_assets/js/plugins/cleave.min.js"></script>
    <script src="~/template/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
    <script src="~/template/global_assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script src="~/template/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/template/global_assets/js/plugins/editors/ckeditor/ckeditor.js"></script>
    <script src="~/template/assets/js/app.js"></script>
    <script src="~/lib/mahas/dist/js/mahas.js"></script>
    <script src="~/lib/mahas/dist/js/mahas-extension.js"></script>
    <!-- /theme JS files -->
</head>
<body>
    <style>
        .select2-selection--single .select2-selection__placeholder {
            color: #000000;
        }
    </style>

    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a asp-controller="Home" asp-action="Index" class="d-inline-block">
                <img src="~/images/PuriBundaHomeLogo.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            <span id="LabelGroupPelayanan" class="badge bg-success ml-md-3" onclick="isetup_pilihSection.openModal()">@Context.Request.Cookies["GroupPelayanan"]</span>
            <span id="LabelSectionName" class="badge bg-info ml-md-3" onclick="isetup_pilihSection.openModal()">@Context.Request.Cookies["SectionName"]</span>
            @if (appSetting.FlagDummyApp == true)
            {
                <span class="badge bg-warning ml-md-3">Aplikasi Simulasi</span>
            }
            @if (!string.IsNullOrEmpty(appSetting.AppInfo))
            {
                <span class="badge bg-indigo ml-md-3">@appSetting.AppInfo</span>
            }
            <span class="ml-md-3 mr-md-auto"></span>
            <ul class="navbar-nav">
                <partial name="_LoginPartial" />
            </ul>

        </div>
    </div>
    <div class="page-content">
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <div class="sidebar-content">
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <partial name="_Menu" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-wrapper" style="overflow: unset;">
            <div class="page-header page-header-light">
                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            @if (ViewData["Breadcrumb"] != null)
                            {
                                foreach (var i in (List<SelectListItem>)ViewData["Breadcrumb"])
                                {
                                    if (i.Value == "active")
                                    {<span class="breadcrumb-item active">@i.Text</span> }
                                else
                                { <a href="@i.Value" class="breadcrumb-item">@i.Text</a>}
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                @RenderBody()
                @await Html.PartialAsync("~/Views/Shared/PilihSection.cshtml")
            </div>
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center w-100">
                    &copy; 2021 - EmrPuriBunda by <a href="https://www.sanatasystem.net/">Sanata System</a>
                </div>
            </div>

        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>