@using Microsoft.AspNetCore.Authorization
@using EmrPuriBunda.Constant
@using static EmrPuriBunda.Mahas.Helpers.PolicyHelper
@inject IAuthorizationService authService

@{
    var allowSetupMaster = await authService.IsInPolicyAsync(User, PolicyConstant.SetupMaster);
    var allowInputPenunjang = await authService.IsInPolicyAsync(User, PolicyConstant.InputPenunjang);
    var allowInputEDokumen = await authService.IsInPolicyAsync(User, PolicyConstant.InputEDokumen);
    var allowRiwayat = await authService.IsInPolicyAsync(User, PolicyConstant.Riwayat);
}

@if (allowSetupMaster)
{
    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link"><i class="icon-grid6"></i> <span>Master</span></a>
        <ul class="nav nav-group-sub" data-submenu-title="Master">
            <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Asesmen</a>
                <ul class="nav nav-group-sub">
                    <li class="nav-item"><a href="@Url.Action("Index", "AkutKronis")" class="nav-link">Akut/Kronis</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Triage")" class="nav-link">Triage</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "StatusPsikologi")" class="nav-link">Status Psikologi</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "KondisiKeluar")" class="nav-link">Kondisi Keluar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "KeadaanSaatDatang")" class="nav-link">Keadaan Saat Datang</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "JenisKunjungan")" class="nav-link">Jenis Kunjungan</a></li>
                    @*<li class="nav-item"><a href="@Url.Action("Index", "JenisPenunjang")" class="nav-link">Jenis Penunjang</a></li>*@
                    <li class="nav-item"><a href="@Url.Action("Index", "HubunganPasien")" class="nav-link">Hubungan Pasien</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "CaraDatang")" class="nav-link">Cara Datang</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "AlasanKunjungan")" class="nav-link">Alasan Kunjungan</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Rujukan")" class="nav-link">Rujukan</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "SediaanRacik")" class="nav-link">Sediaan Racik</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "SkriningKelompok")" class="nav-link">Skrining Kelompok</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Skrining")" class="nav-link">Skrining</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "CaraKeluar")" class="nav-link">Cara Keluar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "CpptTipe")" class="nav-link">Cppt Tipe</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "JenisCatatanKeperawatan")" class="nav-link">Jenis Catatan Tindakan</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Template Asesmen</a>
                <ul class="nav nav-group-sub">
                    <li class="nav-item"><a href="@Url.Action("Index", "TemplateAsesmen")" class="nav-link">Template Asesmen</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "JenisTemplateAsesmen")" class="nav-link">Jenis Template Asesmen</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Order Penunjang</a>
                <ul class="nav nav-group-sub">
                    <li class="nav-item"><a href="@Url.Action("Index", "OrderPenunjangJenis")" class="nav-link">Order Penunjang Jenis </a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "OrderPenunjangKelompok")" class="nav-link">Order Penunjang Kelompok</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Riwayat Persalinan</a>
                <ul class="nav nav-group-sub">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CaraPersalinan")" class="nav-link">Cara Persalinan</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "PenolongPersalinan")" class="nav-link">Penolong Persalinan</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "TempatPersalinan")" class="nav-link">Tempat Persalinan</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
}

@if (User.IsInRole(RolesConstant.Admin))
{
    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link"><i class="icon-users"></i> <span>User</span></a>
        <ul class="nav nav-group-sub" data-submenu-title="User">
            <li class="nav-item"><a href="@Url.Action("Index", "Role")" class="nav-link">Roles</a></li>
            <li class="nav-item"><a href="@Url.Action("Index", "User")" class="nav-link">Users</a></li>
            <li class="nav-item"><a href="@Url.Action("Index", "TandaTangan")" class="nav-link">Tanda Tangan</a></li>
        </ul>
    </li>
}

@if (allowInputEDokumen)
{
    <li class="nav-item">
        <a href="@Url.Action("Index", "DokumenRekamMedis")" class="nav-link"><i class="fa fa-briefcase"></i> <span>Input Dokumen RM</span></a>
    </li>
}

@if (allowInputPenunjang)
{
    <li class="nav-item">
        <a href="@Url.Action("Index", "InputHasilPenunjang")" class="nav-link"><i class="icon-lab"></i> <span>Input Hasil Penunjang</span></a>
    </li>
}

@if (allowRiwayat)
{
    <li class="nav-item">
        <a href="@Url.Action("Index", "RegistrasiPasien")" class="nav-link"><i class="icon-magazine"></i> <span>Registrasi</span></a>
    </li>

    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link"><i class="icon-pie-chart"></i> <span>Laporan</span></a>
        <ul class="nav nav-group-sub" data-submenu-title="Laporan">
            <li class="nav-item"><a href="@Url.Action("Index", "LaporanKelengkapanPengisianAssesmenAwalMedis")" class="nav-link">Laporan Kelengkapan Pengisian Assesmen Awal Medis</a></li>
            <li class="nav-item"><a href="@Url.Action("Index", "LaporanKelengkapanPengisianAssesmenAwalKeperawatan")" class="nav-link">Laporan Kelengkapan Pengisian Assesmen Awal Keperawatan</a></li>
            <li class="nav-item"><a href="@Url.Action("Index", "LaporanKetepatanSerahTerima")" class="nav-link">Laporan Ketepatan Serah Terima</a></li>
        </ul>
    </li>
}