﻿@model EmrPuriBunda.Models.ErrorViewModel 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="text-info">
                    <i class="icon-info22 mr-2"></i>@Model.Title
                </h1>
                <h5>
                    @Model.SubTitle
                </h5>
                
                @if(Model.Errors?.Count > 0)
                {
                    <ul>
                        @foreach (var item in Model.Errors)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }

                <div>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
                        <span class="icon-home mr-2"></span>
                        Beranda
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>