﻿<!-- CSS CUSTOM -->

<div id="modal_setupHasilBacaDetail" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Hasil Lab</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" name="NoBukti" />

                    <div class="row">

                        <div class="col-md">

                            <dl class="row">
                                <dt class="col-md-3">No. Input</dt>
                                <dd id="table_HasilBacaLabDetail_header_NoLab" class="col-md-9"></dd>

                                <dt class="col-md-3">Dokter Pengirim</dt>
                                <dd id="table_HasilBacaLabDetail_header_DokterPengirim" class="col-md-9"></dd>

                                <dt class="col-md-3">Nama Pemeriksaan</dt>
                                <dd id="table_HasilBacaLabDetail_header_NamaPemeriksaan" class="col-md-9"></dd>

                                <dt class="col-md-3">Waktu Pemeriksaan</dt>
                                <dd id="table_HasilBacaLabDetail_header_WaktuPemeriksaan" class="col-md-9"></dd>
                            </dl>

                        </div>

                        <div class="col-md">

                            <div class="form-group">
                                <label for="modal_setupHasilBacaDetail_Komentar">Komentar</label>
                                <textarea required id="modal_setupHasilBacaDetail_Komentar" name="Komentar" class="form-control text-left"></textarea>
                            </div>

                            <div class="col-md row text-right">

                                <div class="col-md">

                                </div>

                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="modal_setupHasilBacaDetail_SudahDibaca" name="Dibaca">
                                        <label class="form-check-label" for="modal_setupHasilBacaDetail_SudahDibaca">Sudah Dibaca</label>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover dataTable table-xs table-striped" id="modal_setupHasilBacaDetail_table">
                            <thead>
                                <tr class="bg-indigo-400">
                                    <th class="sorting text-left" data-itable-sorting="1">Pemeriksaan</th>
                                    <th class="sorting text-left" data-itable-sorting="2">Hasil</th>
                                    <th class="sorting text-left" data-itable-sorting="3">Satuan</th>
                                    <th class="sorting text-left" data-itable-sorting="4">Nilai Rujukan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <hr class="mt-2"/>

                    <div class="row mb-4">

                        <div class="col text-center">
                            <p id="table_HasilBacaLabDetail_header_Analis"></p>
                            <p><strong>Pemeriksa</strong></p>
                        </div>

                        <div class="col text-center">
                            <p id="table_HasilBacaLabDetail_header_PenanggungJawab"></p>
                            <p><strong>Penanggung Jawab</strong></p>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_HasilBacaDetail;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_HasilBacaDetail= new iSetup({
            id: 'modal_setupHasilBacaDetail',
            url : '@Url.Action("ActionHasilBacaLabDetail", "HasilBacaLabDetail")',
            param: e => ({
                NoBukti: e.target['NoBukti'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_HasilBacaDetail),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_HasilBacaLab.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data.reviewHasil, t);


                let tbody = '';
                if (r.data.groupKategori.length === 0) {
                    tbody += `<tr><td colspan="4" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`;
                }

                $.each(r.data.groupKategori, (i, group) => {

                    tbody += `<tr><td colspan="4" class="font-weight-bold">${group.kategori}</td></tr>`;

                    $.each(group.hasil, (index, v) => {
                        tbody += '<tr>';

                        // JS Columns
                        tbody += `<td class="text-left">${v.namaTest}</td>`;
                        tbody += `<td class="text-left">${v.nilai}</td>`;
                        tbody += `<td class="text-left">${v.satuan}</td>`;
                        tbody += `<td class="text-left">${v.nilaiRujukan}</td>`;
                        // ----- JS Columns

                        //tbody += '<td class="text-center">';
                        //tbody += '<div class="list-icons">';
                        //tbody += '<div class="dropdown">';
                        //tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        //tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action

                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                });

                $(t.id).find('tbody').html(tbody);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {

				}
			}
        });

        isetup_HasilBacaDetail.fillHeader = header => {
            const t = $(isetup_HasilBacaDetail.id);

            t.find("#table_HasilBacaLabDetail_header_NoLab").html(header.noSystem);
            t.find("#table_HasilBacaLabDetail_header_DokterPengirim").html(header.dokterPengirim);
            t.find("#table_HasilBacaLabDetail_header_NamaPemeriksaan").html(header.pemeriksaan);

            console.log("header");
            console.log(header);

            t.find("#table_HasilBacaLabDetail_header_WaktuPemeriksaan").html(dateToString(header.tanggal, 'dd/MM/yyyy HH:mm'));
            t.find("#table_HasilBacaLabDetail_header_Analis").html(header.analis);
            t.find("#table_HasilBacaLabDetail_header_PenanggungJawab").html(header.penanggungJawab);
        }

        customJSSetup_HasilBacaLabDetail();
    });

    const customJSSetup_HasilBacaLabDetail = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

